<main class="page-content">
    <div
      class="dn-breadcaump-area breadcrumb-default bg_image nbfs pt--250  pb--130 pt_md--150  pb_md--100 pt_lg--150  pb_lg--100 pt_sm--150  pb_sm--100">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="breadcrumb-content text-center text-white">
              <h1 class="breadcrumb-content__title text-white fontWeight400">Non-Bank Financing Services (NBFC)</h1>
              <h2 class="text-white font--36">AMPL Capital (formerly Credent Global Finance Ltd.)</h2>
              <ul class="breadcrumb-content__nav text-white">
                <li><a routerLink="/home">Home</a></li>
                <li class="separator">/</li>
                <li class="active">NBFC</li>
              </ul>  
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="about-area construction-about bg-20 pt-0" data-bg-color="#ffffff">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-lg-6 col-md-12 col-12">
            <div class="possition-relative">
              <div class="thumb wow move-up  animate" style="visibility: visible; opacity: 0;">
                <img src="assets/img/nbfc.webp" alt="NBFC">
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-12 col-12">
            <div class="cons-about-inner small-content">
              <div class="section_title--2 ">
                <h2 class="title font--60 pb--15 mb--35 wow move-up  animate" style="visibility: visible; opacity: 0;">
                  AMPL Capital (formerly Credent Global Finance Ltd.) <br><span class="text-dark font--24"> Your Trusted Credit Partner</span></h2>

                <p class=" wow move-up  animate font--16" style="visibility: visible; opacity: 0;">AMPL's ability to partner in your growth comes from its credit business arm, which allows us to offer you a more substantial support than just advice. 
                </p>
                <p class=" wow move-up animate font--16" style="visibility: visible; opacity: 0;"> Our backbone and foundation lie in our business-empowering lending products. 

                </p>

                <!-- <div class="d-flex">
                <div class="about__icon-box mr-5">
                  <div class="about__icon">
                      <span class="icon-analysis"></span>
                  </div>
                  <div class="about__icon-text">
                    <h4 class="largest-business__list-box-title mb-0">SME</h4>
                  </div>
              </div>

              <div class="about__icon-box">
                <div class="about__icon">
                    <span class="icon-business"></span>
                </div>
                <div class="about__icon-text">
                  <h4 class="largest-business__list-box-title mb-0 pl-2">SBL</h4>
                </div>
            </div>

          </div> -->

            

              </div>

            </div>
          </div>

        </div>
      </div>
    </div>

    <section class="financial-advice bg-light">
    
          <div class="row">
              <div class="col-xl-12">
                  <div class="financial-advice__box tabs-box">
                    <ul class="nav nav-tabs justify-content-center corporate-tab" id="myTab" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#sme" role="tab" aria-controls="home" aria-selected="true"> <span class="icon-analysis"></span> SME</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#sbl" role="tab" aria-controls="profile" aria-selected="false"><span class="icon-business"></span>   SBL </a>
                      </li>
                      
                    </ul>
                  </div>
                      <div class="tab-content mt-5"  id="myTabContent">
                          <div class="tab-pane fade show active " id="sme">
                            <div class="container">
                              <div class="row">
                                  <div class="col-xl-6 col-lg-6">
                                    <div class="section-title text-left">
                                      <h2 class="section-title__title font--36 pb-0">AMPL for SMEs: </h2>
                                      <span class="section-title__tagline pb-3"><b>Because ambitions build economies!</b>
                                      </span>
                                    </div>
                                 
                                      <div class="">
                                          <p class="pra2 pb-3"> Our clientele comprises ambitious changemakers, persevering entrepreneurs, and the future of our economy.
                                          </p>
                                          <p class="pra2">Complimenting our end-to-end corporate advisory, we enable our partner businesses with our dynamic short-term bridge funds. Marquee companies with exceptional ideas, products, and well-proven records can find the capital support needed before they raise funds (via equity or debt) in the form of our short-term loans. 
                                          </p>
                                      </div>
                                  </div>
                                  <div class="col-xl-3 col-lg-3">
                                      <div class="">
                                          <div class="financial-advice__img">
                                              <img src="assets/img/about/about-1.webp"
                                                  alt="about-1">
                                          </div>
                                      </div>
                                  </div>

                                  <div class="col-xl-3 col-lg-3 d-none d-xl-block d-lg-block">
                                    <div class="">
                                        <div class="financial-advice__img" >
                                            <img src="assets/img/about/about-us-2.webp"
                                                alt="about-2">
                                        </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                              <section class="cta-two cta-two-2  mt-5">
                                <div class="cta-two-bg" style="background-image: url(assets/img/cta-two-bg.webp)"></div>
                                <div class="cta-two-bg-overly"></div>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-xl-12">
                                            <div class="cta-two__inner">
                                              <h2 class="cta-two__title cta-two__title-2">Want to know us more? Great! <br>We want to know you too.</h2>
                                                <p class="cta-two__text">We can help you stand out your business</p>
                                                <ul class="list-unstyled cta-two__icon-box">
                                                    <li>
                                                        <a href="tel:9920056391">
                                                            <div class="cta-two__icon">
                                                                <i class="fa fa-phone"></i>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="mailto:info@amplcapital.com">
                                                            <div class="cta-two__icon">
                                                                <i class="fa fa-envelope"></i>
                                                            </div>
                                                        </a>
                                                    </li>
                              
                                                    <li>
                                                        <a href="">
                                                            <div class="cta-two__icon">
                                                                <i class="fa fa-comments"></i>
                                                            </div>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                              </section>
                          </div>

                          <div class="tab-pane fade" id="sbl">
                            <div class="container">
                                  <div class="row">
                                      
                                      <div class="col-xl-6 col-lg-6">
                                        <div class="section-title text-left">
                                          <h2 class="section-title__title  font--36 pb-0">Secured Business Loans: </h2>
                                          <span class="section-title__tagline pb-3"><b>Because great businesses keep getting better!</b>
                                          </span>
                                        </div>
                                        
                                     
                                          <div class="financial-advice__single-1 financial-advice__single-2">
                                              <p class="financial-advice_-desc pra2">Capital strength is fundamental to all businesses. Without it, a brand could get saturated and stagnant. Stagnancy is often where great ideas come to die.</p>

                                              <p class="financial-advice_-desc pra2">AMPL deploys help in time to help flourishing businesses soar higher.</p>

                                              <p class="financial-advice_-desc pra2">  Our deep risk and yield analysis help us find and nurture projects that are in need of capital support. The underwriting ensures the interests of both, our clients and our stakeholders, are well-met with reasonable interest rates and well-computed loan schedules. Our sector-agnostic Mortgage Loans, enable you to purchase commercial property, industrial property or use equity in the property to empower your business expansion. </p>
                                             
                                          </div>
                                      </div>
                                      <div class="col-xl-3 col-lg-3">
                                          <div class="financial-advice__single-1 financial-advice__single-3">
                                              <div class="financial-advice__img">
                                                  <img src="assets/img/about/about-1.webp"
                                                      alt="">
                                              </div>
                                          </div>
                                      </div>

                                      <div class="col-xl-3 col-lg-3">
                                        <div class="financial-advice__single-1 financial-advice__single-3">
                                            <div class="financial-advice__img">
                                                <img src="assets/img/about/about-us-2.webp"
                                                    alt="">
                                            </div>
                                        </div>
                                    </div>
                                  </div>
                                  </div>

                                  <section class="cta-two cta-two-2 mt-5">
                                    <div class="cta-two-bg" style="background-image: url(assets/img/cta-two-bg.webp)"></div>
                                    <div class="cta-two-bg-overly"></div>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <div class="cta-two__inner">
                                                    <h2 class="cta-two__title cta-two__title-2"> Want to know more?
                                                      Here’s how to find us</h2>
                                                    <p class="cta-two__text">We can help you stand out your business</p>
                                                    <ul class="list-unstyled cta-two__icon-box">
                                                        <li>
                                                            <a href="tel:9920056391">
                                                                <div class="cta-two__icon">
                                                                    <i class="fa fa-phone"></i>
                                                                </div>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="mailto:info@amplcapital.com">
                                                                <div class="cta-two__icon">
                                                                    <i class="fa fa-envelope"></i>
                                                                </div>
                                                            </a>
                                                        </li>
                                  
                                                        <li>
                                                            <a href="">
                                                                <div class="cta-two__icon">
                                                                    <i class="fa fa-comments"></i>
                                                                </div>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                  </section>
                         
                          </div>

                          
                      </div>
                  </div>
              </div>
         
     
  </section>
   
 
  <div class="tema-area ptb--100 ptb_lg--90 ptb_md--80 ptb_sm--80 bg-color" data-bg-color="#f9f9f9" style="background-color: rgb(249, 249, 249);">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title text-center">
            <h2 class="font--32 fontWeight600 mb--5 wow move-up animate">MEET OUR TEAM</h2>
          
          </div>
        </div>
      </div>
    </div>
    <div class="row mt--160  justify-content-center">
      <!-- Start Single Team -->
      <div class="col-lg-3 col-xl-3 col-md-6 col-sm-12 col-11 mt--30 wow move-up animate">
        <div class="card team-card shadow-lg">
          <div class="card-body">
        <div class="team team__style--1 text-center">
          <div class="thumbnail paralax-image">
            <img src="assets/img/team/Aditya-Kanoria.webp" alt="ADITYA KANORIA">
           
          </div>
          <div class="info">
            <h2 class="mb--0 font--20"><a> ADITYA KANORIA  </a></h2>
            <span _ngcontent-clk-c42="" class="speciality">MD</span>
            <p class="lead pt-3"> Finance professional with 18+ years of experience across financial services verticals. His expertise spans across the entire spectrum of financial markets including big ticket M&As transactions and launching IPOs. Before Ampl, he successfully spearheaded various verticals in financial services with companies like Motilal Oswal Financial Services and Capital First in Senior Management positions.
            </p>
          </div>
        </div></div>
        </div>
      </div>
      <div class="col-lg-3 col-xl-3 col-md-6 col-sm-12 col-11 mt--30 wow move-up animate">
        <div class="card team-card shadow-lg">
          <div class="card-body">
        <div class="team team__style--1 text-center">
          <div class="thumbnail paralax-image">
            <img src="assets/img/team/vikas-kataria.png" alt="Vikas Kataria Picture">
           
          </div>
          <div class="info">
            <h2 class="mb--0 font--20"><a> Vikas Kataria  </a></h2>
            <span _ngcontent-clk-c42="" class="speciality">Director</span>
            <p class="lead pt-3"> Vikas is an accomplished business leader with over 20 years of experience across public markets, manufacturing, and financial services. His expertise spans strategic investing, corporate leadership, and operations management. He currently serves as a Director in multiple private companies with a focus on growth, compliance, and governance.
            </p>
          </div>
        </div></div>
        </div>
      </div>
      <div class="col-lg-3 col-xl-3 col-md-6 col-sm-12 col-11 mt--30 wow move-up animate">
        <div class="card team-card shadow-lg">
          <div class="card-body">
        <div class="team team__style--1 text-center">
          <div class="thumbnail paralax-image">
            <img src="assets/img/team/mohith.webp" alt="Mohit Chedda">
           
          </div>
          <div class="info">
            <h2 class="mb--0 font--20"><a> Mohit K Chheda  </a></h2>
            <span _ngcontent-clk-c42="" class="speciality">Non-Executive Director</span>
            <p class="lead pt-3">  Financial expert with a strong experience, particularly Indian Capital Markets and Indian Business. He holds a bachelor's degree in management studies with majors in finance as well as a master's degree in finance from the University of Exeter Has studied derivatives from the London School of Economics and has been instrumental in managing large family office money for over last one decade.
            </p>
          </div>
        </div></div>
        </div>
      </div>
      <!-- End Single Team -->
      
    </div>
  </div>
  </main>