<main class="page-content">

    <div
      class="dn-breadcaump-area breadcrumb-default bg_image nbfs pt--250  pb--130 pt_md--150  pb_md--100 pt_lg--150  pb_lg--100 pt_sm--150  pb_sm--100">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="breadcrumb-content text-center text-white">
              <h1 class="breadcrumb-content__title text-white fontWeight400">Corporate Announcements under Reg 30(8) </h1>
              <ul class="breadcrumb-content__nav text-white">
                <li><a routerLink="/home">Home</a></li>
                <li class="separator">/</li>
                <li class="active">NBFC</li>
                <li class="separator">/</li>
                <li class="active">Investor Relations</li>
                <li class="separator">/</li>
                <li class="active">Reports & Disclosures</li>
                <li class="active">Investor Relations</li>
                <li class="separator">/</li>
                <li class="active">Corporate Announcements under Reg 30(8)</li>
              </ul>  
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="about-area construction-about bg-20 pt-5" data-bg-color="#ffffff">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          
          <div class="col-lg-12 col-mb-12 col-12 wow move-up">
              <div id="faqsThree" class="faqsOne pdf-files mt--50"> 
 
     <div class="card" *ngFor="let doc of docs">
              <div class="card-header" id="heading1">
                <h5 class="mb-0">
                  <a [href]="mediaUrlDocs + doc.page+'/' + doc.doc" target="_blank">
                    <img src="{{getFileIconFromName(doc.doc)}}" alt="{{doc.title}}" width="30"> {{doc.title}}
                  </a>
                </h5>
              </div>
            </div>
                <!-- <div class="card" *ngFor="let items of filterCategoty">
                  <div class="card-header" id="heading11">
                    <h5 class="mb-0">
                      <a [href]="imageUrls + items.pdf_file" target="_blank">
                        <img src="assets/img/icons/pdf.png">  {{items.title}}
                      </a>
                    </h5>
                  </div> 
                </div>   -->



 
                <div class="card">
                    <div class="card-header" id="heading11">
                      <h5 class="mb-0">
                        <a href="../../assets/img/docs/corporate-announcements/Announcement for brand name of Oracle Credit Limited.pdf" target="_blank">
                          <img src="assets/img/icons/pdf.png"> Announcement for brand name of Oracle Credit Limited
                        </a>
                      </h5>
                    </div> 
                  </div>  


                   <div class="card">
                    <div class="card-header" id="heading11">
                      <h5 class="mb-0">
                        <a href="../../assets/img/docs/corporate-announcements/Announcement under reg 30 regarding investment by CAMS in EFAM.pdf" target="_blank">
                          <img src="assets/img/icons/pdf.png"> Announcement under reg 30 regarding investment by CAMS in EFAM
                        </a>
                      </h5>
                    </div> 
                  </div> 
                  
                   <div class="card">
                    <div class="card-header" id="heading11">
                      <h5 class="mb-0">
                        <a href="../../assets/img/docs/corporate-announcements/Intimation for Change of name of the Company from Oracle Credit Limited to Credent Global Finance Limited.pdf" target="_blank">
                          <img src="assets/img/icons/pdf.png"> Intimation for Change of name of the Company from Oracle Credit Limited to Credent Global Finance Limited
                        </a>
                      </h5>
                    </div> 
                  </div> 

                    <div class="card">
                    <div class="card-header" id="heading11">
                      <h5 class="mb-0">
                        <a href="../../assets/img/docs/corporate-announcements/Intimation under reg 30 of SEBI (LODR) reg 2015 for change of RO from the NCT of Delhi to the State of Maharashtra (Mumbai) and respective changes in MOA of the Company.pdf" target="_blank">
                          <img src="assets/img/icons/pdf.png"> Intimation under reg 30 of SEBI (LODR) reg 2015 for change of RO from the NCT of Delhi to the State of Maharashtra (Mumbai) and respective changes in MOA of the Company
                        </a>
                      </h5>
                    </div> 
                  </div>


                   <div class="card">
                    <div class="card-header" id="heading11">
                      <h5 class="mb-0">
                        <a href="../../assets/img/docs/corporate-announcements/Intimation under reg 30 of SEBI (LODR) regarding investment in CAMS, Associate Company_12.09.2022.pdf" target="_blank">
                          <img src="assets/img/icons/pdf.png"> Intimation under reg 30 of SEBI (LODR) regarding investment in CAMS, Associate Company_12.09.2022
                        </a>
                      </h5>
                    </div> 
                  </div>

                   <div class="card">
                    <div class="card-header" id="heading11">
                      <h5 class="mb-0">
                        <a href="../../assets/img/docs/corporate-announcements/Intimation under reg 30 of SEBI (LODR), 2015 regardig allotment of equity shares on Rights Basis.pdf" target="_blank">
                          <img src="assets/img/icons/pdf.png"> Intimation under reg 30 of SEBI (LODR), 2015 regardig allotment of equity shares on Rights Basis
                        </a>
                      </h5>
                    </div> 
                  </div>
                  

                    <div class="card">
                    <div class="card-header" id="heading11">
                      <h5 class="mb-0">
                        <a href="../../assets/img/docs/corporate-announcements/Intimation under reg 30 regarding investment in CAMS became a WOS of CGFL.pdf" target="_blank">
                          <img src="assets/img/icons/pdf.png"> Intimation under reg 30 regarding investment in CAMS became a WOS of CGFL
                        </a>
                      </h5>
                    </div> 
                  </div>

                   <div class="card">
                    <div class="card-header" id="heading11">
                      <h5 class="mb-0">
                        <a href="../../assets/img/docs/corporate-announcements/Outcome of BM regarding investment  by CGFL in group companies as on 31st March 2022.pdf" target="_blank">
                          <img src="assets/img/icons/pdf.png"> Outcome of BM regarding investment  by CGFL in group companies as on 31st March 2022
                        </a>
                      </h5>
                    </div> 
                  </div>

                   <div class="card">
                    <div class="card-header" id="heading11">
                      <h5 class="mb-0">
                        <a href="../../assets/img/docs/corporate-announcements/Outcome of BM regarding investment by CGFL in group Company as on 05th Feb 2022.pdf" target="_blank">
                          <img src="assets/img/icons/pdf.png"> Outcome of BM regarding investment by CGFL in group Company as on 05th Feb 2022
                        </a>
                      </h5>
                    </div> 
                  </div>
                  


              </div>
            </div>
         

        </div>
      </div>
    </div>


  </main>