<main class="page-content">
  <div
    class="dn-breadcaump-area breadcrumb-default bg_image asset-management pt--250  pb--130 pt_md--150  pb_md--100 pt_lg--150  pb_lg--100 pt_sm--150  pb_sm--100">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcrumb-content text-center">
            <h1 class="breadcrumb-content__title text-white fontWeight400">Asset Management</h1>
            <ul class="breadcrumb-content__nav text-white">
              <li><a routerLink="/home">Home</a></li>
              <li class="separator">/</li>
              <li class="active">Asset Management</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>


  <div class="about-area construction-about bg-color bg-19" data-bg-color="#ffffff">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-6 col-md-12 col-12">
          <div class="possition-relative ">
            <div class="thumb wow move-up">
              <img src="assets/img/asset-management.webp" alt="Asset Management">
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-12">
          <div class="cons-about-inner small-content">
            <div class="section_title--2 ">
              <h2 class="title font--60 pb--30 mb--35 wow move-up"> Steady and Sturdy Returns </h2>
              <h4 class="wow move-up animate">We bridge the gap between multiple asset classes and provide you with
                lucrative real estate and listed as well as unlisted equity options under one portfolio management
                label. </h4>
              <p class="pra2 wow move-up">
                One size certainly doesn’t fit all, then, how would unpersonalized asset management strategies? </p>
              <p class="pra2 wow move-up">At AMPL, we carve out differentiated and customized strategies for each of
                our clients to ensure their financial goals aren’t just met, but done right.
              </p>
              <p class="mb-0 mt-2"><b>We have a simple 5-step method: </b></p>
              <ul class="list-container custom-color__icon with__dot mt--10 mt_lg--15 mt_md--10 mt_sm--10 myList">
                <li class="list-items with-spacebetween wow move-up animate">
                  <span class="list__icon"><i class="fa fa-circle"></i></span>
                  <span class="list__text fontWeight600 ml--15">Studying YOUR risk appetite</span>
                </li>
                <li class="list-items with-spacebetween mt--15 mt_lg--15 mt_md--10 mt_sm--10 wow move-up animate">
                  <span class="list__icon"><i class="fa fa-circle"></i></span>
                  <span class="list__text fontWeight600 ml--15">Charting the best course of investment</span>
                </li>
                <li class="list-items with-spacebetween mt--15 mt_lg--15 mt_md--10 mt_sm--10 wow move-up animate">
                  <span class="list__icon"><i class="fa fa-circle"></i></span>
                  <span class="list__text fontWeight600 ml--15">Personalized research by industry stalwarts with over 2
                    decades of experience </span>
                </li>

                <li class="list-items with-spacebetween mt--15 mt_lg--15 mt_md--10 mt_sm--10 wow move-up animate">
                  <span class="list__icon"><i class="fa fa-circle"></i></span>
                  <span class="list__text fontWeight600 ml--15"> Deploying ingenious AI-powered analysis to rule out
                    human errors </span>
                </li>

                <li class="list-items with-spacebetween mt--15 mt_lg--15 mt_md--10 mt_sm--10 wow move-up animate">
                  <span class="list__icon"><i class="fa fa-circle"></i></span>
                  <span class="list__text fontWeight600 ml--15">
                    Preparing multi-asset baskets to best adjust you to any risk</span>
                </li>
              </ul>

            </div>

          </div>
        </div>

      </div>



      <!-- <div class="row ptb--40 mt--30">
        <div class="col-6 col-xl-4 col-lg-4 wow fadeInUp animated" data-wow-delay="0ms" data-wow-duration="1500ms"
          style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
          
          <div class="real-world__single">
            <h2 class="real-world__title"><a>4 <br> Funds</a>
            </h2>
            <a class="real-world__btn"></a>
            <div class="real-world__icon-box">
              <span class="icon-wealth"></span>
            </div>
          </div>
        </div>
        <div class="col-6 col-xl-4 col-lg-4 wow fadeInUp animated" data-wow-delay="300ms" data-wow-duration="1500ms"
          style="visibility: visible; animation-duration: 1500ms; animation-delay: 300ms; animation-name: fadeInUp;">
          
          <div class="real-world__single">
            <h2 class="real-world__title"><a>13 <br> Investments</a></h2>
            <a class="real-world__btn"></a>
            <div class="real-world__icon-box">
              <span class="icon-data-analytics"></span>
            </div>
          </div>
        </div>
        <div class="col-6 col-xl-4 col-lg-4 wow fadeInUp animated" data-wow-delay="600ms" data-wow-duration="1500ms"
          style="visibility: visible; animation-duration: 1500ms; animation-delay: 600ms; animation-name: fadeInUp;">
         
          <div class="real-world__single">
            <h2 class="real-world__title"><a>500 crs + <br> Investments</a>
            </h2>
            <a class="real-world__btn"></a>
            <div class="real-world__icon-box">
              <span class="icon-report"></span>
            </div>
          </div>
        </div>
    
    
        <div class="col-6 col-xl-4 col-lg-4 wow fadeInUp animated" data-wow-delay="0ms" data-wow-duration="1500ms"
          style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
           
          <div class="real-world__single">
            <h2 class="real-world__title"><a>200 + No. of <br> Investors</a>
            </h2>
            <a class="real-world__btn"></a>
            <div class="real-world__icon-box">
              <span class="icon-analysis"></span>
            </div>
          </div>
        </div>
        <div class="col-6 col-xl-4 col-lg-4 wow fadeInUp animated" data-wow-delay="300ms" data-wow-duration="1500ms"
          style="visibility: visible; animation-duration: 1500ms; animation-delay: 300ms; animation-name: fadeInUp;">
        
          <div class="real-world__single">
            <h2 class="real-world__title"><a>75 + <br> Return Payouts</a></h2>
            <a class="real-world__btn"></a>
            <div class="real-world__icon-box">
              <span class="icon-business"></span>
            </div>
          </div>
        </div>
        <div class="col-6 col-xl-4 col-lg-4 wow fadeInUp animated" data-wow-delay="600ms" data-wow-duration="1500ms"
          style="visibility: visible; animation-duration: 1500ms; animation-delay: 600ms; animation-name: fadeInUp;">
        
          <div class="real-world__single">
            <h2 class="real-world__title"><a>5 full exits & 6 <br> partial exits</a>
            </h2>
            <a class="real-world__btn"></a>
            <div class="real-world__icon-box">
              <span class="icon-video"></span>
            </div>
          </div>
        </div>
      </div> -->
    
    </div>
  </div>

  <section class="ptb--100">
    <div class="container">
      <div class="financial-advice__content">
        <div class="section-title text-left">
          <h3 class="section-title__title font--32"> Alternate Investment Fund (EQUITY) </h3>
        </div>
        <div class="row ptb--40">
          <div class="col-xl-12 col-lg-12">
            <div class="financial-advice__single-1">
              <ul class="list-unstyled financial-advice__list-box">
              
                <li>
                  <div class="financial-advice__icon">
                    <span class="icon-checkmark"></span>
                  </div>
                  <div class="financial-advice__list-box-content">
                    <h3 class="finalcial-advice__list-box-title"> Invicto Multiplier Fund – CAT II </h3>


                    <div class="finalcial-advice__list-box-text">
                      <div class="d-flex">
                        <div class="icon mr-3">
                          <span class="icon-tick"></span>
                        </div>
                        <span>The Fund is a Special Opportunities close-ended scheme. 

                        </span>
                      </div>
                    </div>
                    <div class="finalcial-advice__list-box-text">
                      <div class="d-flex">
                        <div class="icon mr-3">
                          <span class="icon-tick"></span>
                        </div>
                        <span> The Fund intends to generate long-term capital appreciation through investment in equity and equity-related instruments of to-be-listed or Market ready companies. Special situations are unique opportunities that a business may face in its growth journey. It leads to temporary disruption in its value. These Special Situations may be opportunities for those who dare to foresee value proposition. </span>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-xl-12 col-lg-12">
            <div class="financial-advice__single-1">
              <ul class="list-unstyled financial-advice__list-box">
              
                <li>
                  <div class="financial-advice__icon">
                    <span class="icon-checkmark"></span>
                  </div>
                  <div class="financial-advice__list-box-content">
                    <h3 class="finalcial-advice__list-box-title"> Invicto Incrementum Fund – CAT III </h3>


                    <div class="finalcial-advice__list-box-text">
                      <div class="d-flex">
                        <div class="icon mr-3">
                          <span class="icon-tick"></span>
                        </div>
                        <span>The Fund is a Only Long open-ended scheme. The fund would invest in companies with strong
                          management, good scalable business, clean accounting, strong cash flow generation capabilities
                          with low leverage and a margin of safety in valuations. </span>
                      </div>
                    </div>
                    <div class="finalcial-advice__list-box-text">
                      <div class="d-flex">
                        <div class="icon mr-3">
                          <span class="icon-tick"></span>
                        </div>
                        <span> The fund would look for investing in mid/small cap companies (under researched) which can
                          give early mover advantage to generate alpha. </span>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>

        </div>

       
      </div>
    </div>
  </section>

  <section class="faq-one bg-light ptb--100">
    <div class="container">

      <div class="row">
        <div class="col-xl-6">
          <div class="section-title">
            <h2 class="section-title__title font--32">Portfolio Management Services</h2>

          </div>
          <div class="faq-one__list-box">
            <ul class="list-unstyled faq-one__list">
              <li class="lead d-flex mb-4">
                <div class="icon pr-4">
                  <span class="icon-tick"></span>
                </div>
                <div class="text">
                  <p>AMPL's equity offerings are hand-picked and crafted with 2 goals – Wealth creation and
                    preservation.</p>
                </div>
              </li>
              <li class="lead d-flex mb-4">
                <div class="icon pr-4">
                  <span class="icon-tick"></span>
                </div>
                <div class="text">
                  <p>The stock market is known to be notorious for its fluctuations and sudden turns, but, it can also
                    bring in great fortune, when understood and tapped diligently.</p>
                </div>
              </li>

              <li class="lead d-flex mb-4">
                <div class="icon pr-4">
                  <span class="icon-tick"></span>
                </div>
                <div class="text">
                  <p>At AMPL, we invest in high-performance companies that have been proven to be investors’ picks
                    for their excellent record in technical as well as fundamental analysis. In our selection, we
                    primarily focus on the stock’s futures to forecast its upside in the short and the long term. </p>
                </div>
              </li>
              <li class="lead d-flex mb-4">
                <div class="icon pr-4">
                  <span class="icon-tick"></span>
                </div>
                <div class="text">
                  <p>While we maintain a viable exposure to Nifty stocks to minimize the risk, lesser-known smallcaps
                    and midcaps, too, are needed to balance the portfolio for high returns. Irrespective of the
                    company’s stature, our strategies are backed by thorough research, studying, and prognosis. </p>
                </div>
              </li>

            </ul>
          </div> 
        </div>

        <div class="col-xl-6">
          <div class="faq-one__right h-full">
            <div class="faq-one__img h-full">
              <div class="aboutus-card h-full">
              <img class="" src="assets/img/about-us.webp" alt="">
            </div>
            </div>


            <!-- <div class="faq-one__bottom d-flex justify-content-center mt-5"> 
              <div class="faq-one__experience-box mr-3">
                <h2>7+ </h2>
                <p>Years of <br> Delivering Returns</p>
              </div> 
              <div class="faq-one__experience-box">
                <h2>293% </h2>
                <p>average returns of <br> SME portfolio</p>
              </div>  
            </div> -->



          </div>
        </div>


      </div>
    </div>
  </section>

  <section class="ptb--100">
    <div class="container">
    <div class="tema-area">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title text-center">
            <h2 class="font--32 fontWeight600 mb--5 wow move-up animate">
              Equity Investment Team </h2>
          </div>
        </div>
      </div>

      <div class="row mt--30 justify-content-center mobile-scroll pt-5">

        <div class="col-lg-4 col-xl-4 col-md-6 col-sm-12 col-11 mt--100 wow move-up animate">
          <div class="card team-card shadow-lg">
            <div class="card-body">
              <div class="team team__style--1 text-center">
                <div class="thumbnail paralax-image">
                  <img src="assets/img/team/Aditya-Kanoria.webp" alt="Aditya Kanoria" style="height:280px;">

                </div>
                <div class="info">
                  <h2 class="font--20"><a href="https://www.linkedin.com/in/aditya-v-kanoria-9b91789/" target="_blank"> ADITYA KANORIA   
                    <span class="btn btn-primary btn-circle"><i class="fa fa-linkedin"></i> </span></a></h2>

                  <p class="lead">15+ years helping businesses soar high with dynamic financial advice and a proven track record of delivering value.<Br>
                  Before founding AMPL, Aditya held senior management roles at Motilal Oswal Financial Services and Capital First, where he built expertise across equity, debt, and wealth management.
Aditya is recognized for combining financial acumen with innovation, governance, and client-focused growth, positioning him as a trusted leader in India’s evolving financial ecosystem. </p>
                  
                </div>
              </div>
            </div>

          </div>
        </div> 

        <div class="col-lg-4 col-xl-4 col-md-6 col-sm-12 col-11 mt--100 wow move-up animate">
          <div class="card team-card shadow-lg">
            <div class="card-body">
              <div class="team team__style--1 text-center">
                <div class="thumbnail paralax-image">
                  <img src="assets/img/team/madhusudan.png" alt="madusudan" style="height:280px;">

                </div>
                <div class="info">
                  <h2 class="font--20"><a href="https://www.linkedin.com/in/madhusudan-sarda-7272048/" target="_blank"> MADHUSUDAN SARDA   
                    <span class="btn btn-primary btn-circle"><i class="fa fa-linkedin"></i> </span></a></h2>

                  <p class="lead">He has 20+ years of investing experience in the public markets with focus on
                    micro,
                    small & midcap stocks. He co-founded Vallum Capital a boutique investment manager in 2010 and
                    exited
                    in 2022, during this period AUA grew from 0 to 1000 crore. </p>
                  <p class="lead"> Prior to Vallum he was a part of Mehta Equities Ltd as Director of Research &
                    Institutional Equities. Madhu is a B.E.(Chem.Engg)
                  </p>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="col-lg-4 col-xl-4 col-md-6 col-sm-12 col-11 mt--100 wow move-up animate">
          <div class="card team-card shadow-lg">
            <div class="card-body">
              <div class="team team__style--1 text-center">
                <div class="thumbnail paralax-image">
                  <img src="assets/img/team/naysar-shah.png" alt="NAYSAR SHAH" style="height:280px;">
                </div>
                <div class="info">
                  <h2 class="font--20"><a href="https://www.linkedin.com/in/naysar-shah-4299481b?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BG5WSl0BRSouPJJxKdv6uaw%3D%3D" target="_blank"> NAYSAR SHAH <span class="btn btn-primary btn-circle"><i class="fa fa-linkedin"></i> </span></a></h2>
                  <p class="lead">Overall experience of 22 years of which 19 years is in Equity Research and Fund
                    Management. He has worked with reputed organisations like Birla Sun Life Asset Management,
                    Morgan
                    Stanley management among others. Managed funds directly for 4 years at Birla Sun Life with
                    overall
                    assets aggregating to ~ Rs 2,500 cr.</p>
                  <p class="lead">He has vast knowledge across sectors has tracked large no. of companies in mid and
                    small cap space on a bottom up basis. Naysar is a CFA® Charterholder and is also a Chartered
                    Accountant.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  </section>


  <!-- <section class="industries ptb--100  bg-light ">
    <div class="container-fluid custom-container-fluid">
      <div class="row">
        <div class="col-xl-12 col-lg-12">
          <div class="section-title text-center">
            <h3 class="section-title__title font--32"> Brouchers</h3>
          </div>
        </div>
      </div>-->


      <!-- <div class="row mt--30 justify-content-center mobile-scroll broucherList">
       
        <div class="col-lg-6 col-xl-6 col-md-6 mt--30 wow move-up animate broucher-card"
          *ngFor="let items of brouchers">
          <div class="card text-center">
            <div class="card-body p-2">
              <a [href]="imageUrls + items.pdf_file" target="_blank">
                <img [src]="imageUrls + items.image">

                <h5 class="pt-4">{{items.title}}</h5>
              </a>
            </div>
          </div>

        </div>

      </div>
      <div class="mt-5 text-center">
        <a class="btn btn-primary" routerLink="/brouchers">View More..</a>
      </div>
    </div>
  </section>  -->



  <section class="cta-two">
    <div class="cta-two-bg" style="background-image: url(assets/img/cta-two-bg.webp)"></div>
    <div class="cta-two-bg-overly"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="cta-two__inner">
            <h2 class="cta-two__title cta-two__title-2">Want to know us more? Great! <br>We want to know you too.</h2>
            <p class="cta-two__text">We can help you stand out your business</p>
            <ul class="list-unstyled cta-two__icon-box">
              <li>
                <a href="tel:8657023041">
                  <div class="cta-two__icon">
                    <i class="fa fa-phone"></i>
                  </div>
                </a>
              </li>
              <li>
                <a href="mailto:info@amplcapital.com">
                  <div class="cta-two__icon">
                    <i class="fa fa-envelope"></i>
                  </div>
                </a>
              </li>

              <li>
                <a href="">
                  <div class="cta-two__icon">
                    <i class="fa fa-comments"></i>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>





<!--modal dialog-->
<div class="modal-backdrop" (click)="closeModal()" *ngIf="showModal">
  <div class="modal-card" (click)="$event.stopPropagation()">
    <button class="close-btn" (click)="closeModal()">×</button>
    <img src="assets/img/perfomance charts/performance-jun-26.png" alt="Modal Content" class="modal-image" />
  </div>
</div>