<main class="page-content small-content">
  <div
    class="dn-breadcaump-area breadcrumb-default bg_image about-us pt--250 pb--130 pt_md--150 pb_md--100 pt_lg--150 pb_lg--100 pt_sm--150 pb_sm--100"
  >
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcrumb-content text-center">
            <h1 class="breadcrumb-content__title text-white fontWeight400">
              About Us
            </h1>
            <ul class="breadcrumb-content__nav text-white">
              <li><a routerLink="/home">Home</a></li>
              <li class="separator">/</li>
              <li class="active">About Us</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="about-area construction-about bg-color bg-19"
    data-bg-color="#ffffff"
  >
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-12">
          <div class="possition-relative aboutVideo">
            <div class="thumb wow move-up">
              <div class="aboutImg">
                <!-- <div class="embed-responsive embed-responsive-16by9">
                    <iframe
                      id="videoPopup"
                      class="embed-responsive-item"
                      src="https://www.youtube.com/embed/11wwzIgFix8"
                      frameborder="0"
                      allowfullscreen
                    ></iframe>
                  </div> -->
                <img
                  src="assets/img/about-1.jpg"
                  class="shadow"
                  alt="About Images"
                />
              </div>
              <!-- <img src="assets/img/about/about-us.webp" alt="About Images"> -->
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-12 col-12">
          <div class="cons-about-inner small-content">
            <div class="section_title--2">
              <h2 class="pb--5 wow move-up">About Ampl Capital (formerly Credent Global Finance Ltd.)</h2>
              <p class="pra2 wow move-up fontWeight600">
                Ampl was founded with a simple idea “Financing solutions
                don’t have to be confusing”.
              </p>
              <p class="pra2 wow move-up">
                Back in 2017, when we started, there were NBFCs, real estate
                advisors, investment banking firms, wealth management firms, but
                there wasn’t a single firm that could do it all and that could
                do it well. Did that mean the investor had no choice but to
                entrust 10 different businesses with their hard-earned money,
                with their portfolio, and with their and their loved ones’
                future?
              </p>
              <p class="pra2 wow move-up fontWeight500">
                Can you even trust one these days!
              </p>
              <p class="pra2 wow move-up">
                <span class="fontWeight500"
                  >This is where Ampl comes in.</span
                >
                <br />
                Our panel of experts has been crafting practical executable
                strategies since 2017 for everything – from equity to raising
                funds for your business, from acquisitions & mergers to
                disquisitions, from savings to real estate purchase, from India
                to the UK.
              </p>
              <div class="banner pt-2 wow move-up">
                <a routerLink="/team" class="butn butn__new"
                  ><span>Meet the Ampl Team</span></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    #ourVision
    class="our-mission-area ptb--100 ptb_lg--100 ptb_md--80 ptb_sm--80 bg-gray"
  >
    <div class="container">
      <div class="row align-items-center">
        <div
          class="col-lg-6 col-md-6 col-sm-12 col-12 mt_sm--40 wow slideInLeft"
        >
          <div class="mission-thumbnail">
            <div class="row row--10">
              <div class="col-lg-12">
                <div class="thumb wow move-up">
                  <img
                    class="img-circle"
                    src="assets/img/our-vision.webp"
                    alt="Vision"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 wow slideInRight">
          <div class="mission-inner">
            <div class="section_title--2">
              <h2 class="title font--60 pb--30 mb--35">Our Vision</h2>
              <p class="pra2 fontWeight700">
                Delivering the most Trusted Financial Services
              </p>
              <p class="pra2">
                Fostering relationships built on trust, expertise, and growth.
              </p>
              <p class="pra2">
                Through our time, we have strived and succeeded in building a
                diverse clientele of individuals, corporates, and financial
                institutions. The way ahead is one where we grow stronger
                together as we continue to expand our presence Pan-India and in
                the UK market, further bridging the borders. Ampl sees itself
                becoming a name synonymous with trust and real outcomes in all
                matters financial.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    #ourMission
    class="about-area ptb--100 ptb_lg--100 ptb_md--80 ptb_sm--80 bg-color"
    data-bg-color="#ffffff"
  >
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-12 col-12 wow slideInLeft">
          <div class="fresh-about-content mt--50">
            <div class="section_title--2">
              <h2 class="title font--60 pb--30 mb--35">Our Mission</h2>
              <p class="pra2 wow fontWeight700">
                Fuelling Your Financial Drive
              </p>
              <p class="pra2">
                Ampl Capital (formerly Credent Global Finance Ltd.) is an emerging leader in the financial advisory
                space. Be it real estate or corporate finances, Ampl works to
                cohesively combine the UK and the Indian markets and thus,
                creates unique lucrative opportunities for our clientele. We are
                and have always been, since our inception, on the mission to
                empower innovative and sustainable businesses to create
                long-term strong returns over verticals.
              </p>

              <p class="pra2">
                The roadmap ahead is to deliver more value to investors,
                clientele, and stakeholders as we continue to be the only Indian
                financial advisor with a cross-border presence that you can
                count on, commanding a strong portfolio in the UK and India.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-12 wow slideInRight">
          <div class="thumbnail text-right">
            <div class="thumb">
              <img
                src="assets/img/our-mission.webp"
                class="img-circle"
                alt="mission"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    #ourValues
    class="our-mission-area ptb--100 ptb_lg--100 ptb_md--80 ptb_sm--80 bg-color bg-17"
    data-bg-color="#f9f9f9"
  >
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt_sm--40">
          <div class="mission-thumbnail">
            <div class="row row--10">
              <div class="col-lg-12">
                <div class="thumb wow slideInLeft">
                  <img
                    class="img-circle"
                    src="assets/img/our-values.webp"
                    alt="Our Values"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 wow slideInRight">
          <div class="mission-inner">
            <div class="section_title--2">
              <h2 class="title font--60 pb--30 mb--35">Our Values</h2>
              <p class="pra2 fontWeight700">Earning Credence</p>
              <p class="pra2">
                At Ampl, we understand that investments are always
                high-stakes, regardless of the “size”. We pride ourselves on the
                confidence and faith that our clients have in us.
              </p>
              <p class="pra2">
                We recognize this trust has been earned with years of delivering
                results, and this credibility outlines everything we do at
                Ampl. The core of our business is built upon fostering
                unfeigned relationships and not just transactions.
              </p>
              <p class="pra2">
                Our diligent analysis and understanding of each client’s so very
                unique needs lead us to drive value to all, be it individuals or
                institutions.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="testimonial-area pt--120 pb--100 ptb_md--80 ptb_sm--60 bg_image--4"
  >
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mb--60">
          <div
            class="draven-element-carousel slick-gutter-15 text-center move-up wow"
            data-slick-options='{
                          "spaceBetween": 15, 
                          "slidesToShow": 1, 
                          "slidesToScroll": 1, 
                          "arrows": false, 
                          "dots": true, 
                          "infinite": true
                      }'
          >
            <!-- Start Single Testimonial -->
            <div class="testimonial testimonial__style--5">
              <p class="text-white">
                Ampl's impressive track record across its various verticals
                is a testament to our deep understanding of each domain as well
                as the regulatory framework it comes with, despite the
                ever-changing nature of finance and the international
                territories.
              </p>

              <p class="text-white">
                It is this niche of “unified diversification” that Ampl has
                pioneered and remains at the forefront of. A closer look at our
                services would also hint that they are all intertwined and
                supplement each other. Our strong NBFC foundations render us
                useful in helping our start-up partners with bridge loans when
                needed. We continue to support family offices across UK in all
                things investments.
              </p>

              <p class="text-white">
                Human expertise as well as computation power helps us deliver
                the results we forecast. Even in testing times as that of the
                pandemic, our state-of-the-art technology and in-house resources
                were able to mitigate risks to an extent most financial advisors
                couldn’t.
              </p>
              <p class="text-white">
                Ampl analyses each case with a 360 approach, be it an
                individual or an institution, and charts the best course of
                action to lend the sturdiest helping hand. Our global exposure
                also brings in a holistic perspective and evolved thought
                leadership to guide our clients to unexplored fruitful
                opportunities.
              </p>
              <p class="text-white">
                Servitude being our prime virtue continues to drive us into
                crafting products that go the extra mile.
              </p>
              <p class="text-white">
                Not just advice and strategies, real finance tools to finance
                your dreams.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="got-here ptb--100" id="got-here">
    <div class="section-title text-center section_title--2">
      <h2 class="">Journey So Far</h2>
    </div>
    <div class="got-wrap">
      <div class="item">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-sm-5 got-desc">
              <h1 class="pb-3"><b>2017</b></h1>
              <h4>INCEPTION&ZeroWidthSpace;</h4>
              <p class="lead">
                Incorporated in India&ZeroWidthSpace;ation, race, gender,
                culture and the challenge to operate globally.
              </p>
            </div>
            <div class="col-sm-7 got-imgblk first-line">
              <figure>
                <img
                  class="hide-img-mobile"
                  src="assets/img/resources/2017.jpg"
                  alt=""
                />
                <img
                  class="hide-img-desktop"
                  src="assets/img/resources/m-2017.jpg"
                  alt="Uplers"
                />
              </figure>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="container">
          <div class="row align-items-center item2">
            <div class="col-sm-5 got-desc">
              <h1 class="pb-3"><b>2018</b></h1>
              <h4>EXPANSION&ZeroWidthSpace;</h4>
              <ul class="list-unstyled faq-one__list">
                <li class="lead">
                  <div class="icon">
                    <span class="icon-tick"></span>
                  </div>
                  Introduced Asset Management Business through Portfolio
                  Management Services (PMS)&ZeroWidthSpace;
                </li>

                <li class="lead">
                  <div class="icon">
                    <span class="icon-tick"></span>
                  </div>
                  Consortium funding to large realtors
                </li>
              </ul>
            </div>
            <div class="col-sm-7 got-imgblk second-line">
              <figure>
                <img
                  class="hide-img-mobile"
                  src="assets/img/resources/2018.png"
                  alt=""
                />
                <img
                  class="hide-img-desktop"
                  src="assets/img/resources/m-2018.png"
                  alt=""
                />
              </figure>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-sm-5 got-desc">
              <h1 class="pb-3"><b>2019</b></h1>
              <h4>NEW DIVISION&ZeroWidthSpace;</h4>
              <p class="lead">Commenced Investment Banking Business</p>
            </div>
            <div class="col-sm-7 got-imgblk">
              <figure>
                <img
                  class="hide-img-mobile"
                  src="assets/img/resources/2019.jpg"
                  alt=""
                />
                <img
                  class="hide-img-desktop"
                  src="assets/img/resources/m-2019.jpg"
                  alt=""
                />
              </figure>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="container">
          <div class="row align-items-center item2">
            <div class="col-sm-5 got-desc">
              <h1 class="pb-3"><b>2021</b></h1>
              <h4>ACQUISITION</h4>
              <ul class="list-unstyled faq-one__list">
                <li class="lead">
                  <div class="icon">
                    <span class="icon-tick"></span>
                  </div>
                  Acquired major stake holding in a listed Non-Banking Financial
                  Corporation “Oracle Credit
                  Ltd.”&ZeroWidthSpace;&ZeroWidthSpace;
                </li>

                <li class="lead">
                  <div class="icon">
                    <span class="icon-tick"></span>
                  </div>
                  Initiated acquisition of mid-size real-estate fund managed by
                  large conglomerate&ZeroWidthSpace;
                </li>
              </ul>
            </div>
            <div class="col-sm-7 got-imgblk second-line">
              <figure>
                <img
                  class="hide-img-mobile"
                  src="assets/img/resources/2021.jpg"
                  alt=""
                />
                <img
                  class="hide-img-desktop"
                  src="assets/img/resources/m-2021.jpg"
                  alt=""
                />
              </figure>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-sm-5 got-desc">
              <h1 class="pb-3"><b>2022</b></h1>
              <h4>NEW LICENSES</h4>
              <p class="lead">
                Obtained 2 licenses for CAT II &amp; CAT III AIFs (Regd. With
                SEBI)&ZeroWidthSpace;
              </p>
            </div>
            <div class="col-sm-7 got-imgblk">
              <figure>
                <img
                  class="hide-img-mobile"
                  src="assets/img/resources/2022.jpg"
                  alt=""
                />
                <img
                  class="hide-img-desktop"
                  src="assets/img/resources/m-2022.jpg"
                  alt=""
                />
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
