
<header
  class="draven-haeder haeder-default header--transparent light-logo-version"
  id="myHeader"
>
<!-- Announcement Strip -->
<div class="announcement-bar">
  <span class="text-white">Credent Global Finance Limited is Now AMPL Capital Limited</span>
</div>
  <div
    class="header-wrap header-height--160 paddingLeftRight--80 justify-content-between"
  >
    <div class="header-col header-col__left">
      <div class="logo">
        <a routerLink="/home">
          <img
            src="/assets/img/logo/ampl-white-logo.webp"
            alt="Ampl Capital White Logo"
            class="logo-1"
          />
          <img
            src="assets/img/logo/ampl-gold-logo.webp"
            alt="Ampl Capital Gold Logo"
            class="logo-2"
          />
        </a>
      </div>
    </div>

    <div class="header-col header-col__right">
      <div class="header-mainmenu d-none d-xl-block mr--50">
        <nav class="mainmenu-nav">
          <ul class="primary-menu">
            <li class="label-1" routerLinkActive="active">
              <a href=""
                >Our Company
                <img src="assets/img/icons/down-arrow.png" />
              </a>
              <ul class="dropdown drop-item">
                <li><a routerLink="/about-us">About Us</a></li>
                <li><a routerLink="/team">Our Team</a></li>
              </ul>
            </li>
            <li class="label-1" routerLinkActive="active">
              <a routerLink="/nbfc">
                NBFC
                <img src="assets/img/icons/down-arrow.png"
              /></a>
              <ul class="dropdown drop-item">
                <li>
                  <a routerLink="/board-directors"> Board of Directors </a>
                </li>
                <li><a routerLink="/committees">Board Committees</a></li>
                <li>
                  <a routerLink="/statury-auditors">Statutory Auditors</a>
                </li>

                <!-- <li><a routerLink="/bankers"> Bankers </a></li> -->

                <li>
                  <a routerLink="/compliance-certificate">
                    Compliance Certificate
                  </a>
                </li>

                <li class="label-2">
                  <a>Investor Relations</a>
                  <ul class="dropright drop-item level-second">
                    <li>
                      <a routerLink="/regulation-46">Regulation 46</a>
                    </li>
                    <li>
                      <a routerLink="/secretarial-compliance-report">Secretarial Compliance Report</a>
                    </li>
                    <li>
                      <a routerLink="/finacial-results">Financial Results</a>
                    </li>
                    <li>
                      <a routerLink="/shareholding">Shareholding Patterns</a>
                    </li>
                    <li><a routerLink="/board-meeting">Board Meetings</a></li>
                    <li><a routerLink="/annual-returns">Annual Returns</a></li>
                    <li>
                      <a routerLink="/statement-deviation"
                        >Statement of deviation</a
                      >
                    </li>
                    <li>
                      <a routerLink="/listing-details">Listing Details </a>
                    </li>
                    <li>
                      <a routerLink="/subsidiaries-financials">
                        Subsidiaries Financials
                      </a>
                    </li>
                    <li><a routerLink="/open-offer"> Open Offer </a></li>
                    <!-- <li class="label-2">
                      <a>shareholder meetings </a>
                      <ul class="dropright sub-dropright drop-item">
                        <li>
                          <a routerLink="/shareholing-annual-meetings"
                            ><span>Annual General Meetings</span></a
                          >
                        </li>

                        <li>
                          <a routerLink="/postal-ballot"
                            ><span> Postal Ballot </span></a
                          >
                        </li>
                            
                      </ul>
                    </li> -->
                    <li class="label-3">
                      <a>Rights Issue </a>
                      <ul class="dropright sub-dropright drop-item">
                        <li>
                          <a routerLink="/documents-in-respect"
                            ><span>
                              Documents in respect to Rights Issue</span
                            ></a
                          >
                        </li>

                        <li>
                          <a
                            href="http://www.beetalfinancial.in/BEETALFINANCIAL/ipod.aspx"
                            target="_blank"
                          >
                            <span
                              >For Right Entitlement/Application form/Letter of
                              Offer/Abridged Letter of Offer
                            </span></a
                          >
                        </li>
                      </ul>
                    </li>
                    
                    <li>
                <a routerLink="/qualified-institutional-placement">
                  Qualified Institutional Placement
                </a>
                    </li>
                    <li class="label-3">
                      <a>Reports & Disclosures </a>
                      <ul class="dropright sub-dropright drop-item">
                        <li>
                          <a routerLink="/annual-report"
                            ><span>Annual Reports </span></a
                          >
                        </li>

                        <li>
                          <a routerLink="/annual-general-meetings"
                            ><span
                              >Annual General Meetings and Extra-ordinary
                              general meetings
                            </span></a
                          >
                        </li>

                        <li class="label-2">
                          <a>Postal Ballot </a>
                          <ul class="dropright sub-dropright drop-item">
                            <li>
                              <a routerLink="/proceedings"
                                ><span>Proceedings </span></a
                              >
                            </li>

                            <li>
                              <a routerLink="/notice-of-postal-ballot"
                                ><span>Notice of Postal Ballot </span></a
                              >
                            </li>

                            <li>
                              <a routerLink="/voting-results"
                                ><span>
                                  Voting results as per regulation 44/
                                  Scrutinizer Report</span
                                ></a
                              >
                            </li>

                            <li>
                              <a routerLink="/declaration-voting"
                                ><span>
                                  Declaration of Voting Results by
                                  Chairman</span
                                ></a
                              >
                            </li>
                          </ul>
                        </li>

                        <li>
                          <a routerLink="/corporate-governance-reports"
                            ><span>Corporate Governance Reports </span></a
                          >
                        </li>

                        <li>
                          <a routerLink="/code-for-independent-directors"
                            ><span
                              >Code of conducts and terms & conditions</span
                            ></a
                          >
                        </li>

                        <li>
                          <a routerLink="/policies"><span>Policies </span></a>
                        </li>

                        <li>
                          <a routerLink="/newspaper-publication"
                            ><span>Newspaper Publication </span></a
                          >
                        </li>
                        <li>
                          <a routerLink="/other-informations"
                            ><span>Other Informations </span></a
                          >
                        </li>
                        <li>
                          <a routerLink="/investor-contacts"
                            ><span> Investor contacts </span></a
                          >
                        </li>
                        <li>
                          <a routerLink="/corporate-announcements"
                            >Corporate Announcements under Reg 30(8)</a
                          >
                        </li>

                        <li>
                          <a routerLink="/related-party-transaction"
                            >Related Party Transactions</a
                          >
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>

            <li class="label-1" routerLinkActive="active">
              <a routerLink="/asset-management"
                >Asset Management
                <img src="assets/img/icons/down-arrow.png" />
              </a>
              <ul class="dropdown drop-item">
                <li class="label-2">
                  <a>PMS</a>
                  <ul class="dropright sub-dropright drop-item">
                    <li>
                      <a routerLink="/credent-aim-multicap-strategy"
                        ><span> Credent AIM Multicap Strategy</span></a
                      >
                    </li>
                    <li>
                      <a
                        href="https://eclientreporting.nuvamaassetservices.com/wealthspectrum/app/loginWith"
                        target="_blank"
                        ><span> Client Login </span></a
                      >
                    </li>
                    <li class="label-2">
                      <a> Disclosure and Reports</a>
                      <ul class="dropright sub-dropright drop-item">
                        
                        <li>
                          <a href="/assets/documents/Performance June 2026.xls" download
                            ><span> Performance June 2026</span></a
                          >
                        </li>
                        <li>
                          <a href="/assets/documents/Signed%20Credent_Disclosure%20Document%20September%202024.pdf" download
                            ><span> Disclosure Document </span></a
                          >
                        </li>
                        <li>
                          <a href="/assets/documents/PMS SEBI Certificate, 18th Dec 2023.pdf" download
                            ><span> SEBI Certificate </span></a
                          >
                        </li>
                        <li>
                          <a href="/assets/documents/Investor Charter.pdf" download
                            ><span> Investor Charter </span></a
                          >
                        </li>
                        <li>
                          <a href="/assets/documents/Investor Complaints PMS (June 2026).docx" download
                            ><span> Investor Complaints PMS (June 2026) </span></a
                          >
                        </li>
                        <li>
                          <a href="/assets/documents/Fee Calculation Tool.xlsx" download
                            ><span> Fee Calculation Tool </span></a
                          >
                        </li>
                       
                        
                      </ul>
                    </li>
                  </ul>
                </li>

                <!-- <li><a routerLink="/aifs">AIFS</a></li> -->
              </ul>
            </li>

            <li routerLinkActive="active">
              <a routerLink="/investmentbanking">Investment Banking </a>
            </li>
            <!-- <li routerLinkActive="active">
              <a routerLink="/realestate">Real Estate </a>
            </li> -->

            <li class="label-1" routerLinkActive="active">
              <a href="">Media <img src="assets/img/icons/down-arrow.png" /></a>
              <ul class="dropdown drop-item">
                <li><a routerLink="/media">Articles</a></li>
                <li><a routerLink="/blog">Blog</a></li>
                <li><a routerLink="/media-videos">Videos</a></li>
              </ul>
            </li>
            <!-- <li routerLinkActive="active">
              <a routerLink="/career">Careers</a>
            </li> -->
            <li class="label-1" routerLinkActive="active">
              <a routerLink="/contact-us"
                >Contact Us <img src="assets/img/icons/down-arrow.png"
              /></a>

              <ul class="dropdown drop-item">
                <li>
                  <a routerLink="/investor-grievance"
                    >Investor grievance Redressal Contact details</a
                  >
                </li>
                <li>
                  <a routerLink="/details-of-nodal-officer"
                    >Details of Nodal officer</a
                  >
                </li>

                <li>
                  <a routerLink="/details-of-kmp"
                    >Detail of KMP for materiality of Transaction</a
                  >
                </li>
                <li>
                  <a routerLink="/policies" 
                    >Policies</a
                  >
                </li>
              </ul>
            </li>
            <li class="label-1" routerLinkActive="active">
              <a routerLink="/wealth-management"
                >Wealth Management
              </a>
              </li>
          </ul>
        </nav>
      </div>

      <div class="header-icon hamburger-menu">
        <a class="popup-round popup-trigger d-none d-xl-block" href="#">
          <i class="dlicon ui-3_menu"></i>
        </a>
        <a class="hamburger-trigger d-block d-xl-none" (click)="menuOpen()">
          <i class="dlicon ui-2_menu-34"></i>
        </a>
      </div>
    </div>
  </div>
</header>
<!-- Start Header -->

<!-- Start Hamburger -->

<div class="menu-overlay" [ngClass]="{ active: sidebarMenu }">
  <div class="hamburger-area" [ngClass]="{ 'is-visible': sidebarMenu }">
    <div class="btn-close-search">
      <button (click)="menuClose()">
        <i class="dlicon ui-1_simple-remove"></i>
      </button>
    </div>

    <ul
      class="menu-primary-menu-1 responsive-manu d-block d-xl-none"
      id="responsive-manu"
    >
      <li><a routerLink="/home">Home</a></li>

      <li class="has-dropdown">
        <a data-toggle="collapse" data-target="#ourcompany">Our Company</a>

        <ul class="submenu collapse" id="ourcompany">
          <li>
            <a routerLink="/about-us" (click)="closeSideBar()">About Us</a>
          </li>
          <li><a routerLink="/team" (click)="closeSideBar()">Our Team</a></li>
        </ul>
      </li>

      <li class="has-dropdown">
        <a data-toggle="collapse" data-target="#nonbank"> NBFC </a>
        <ul class="submenu collapse" id="nonbank">
          <li><a routerLink="/nbfc" (click)="closeSideBar()"> NBFC </a></li>
          <li>
            <a routerLink="/board-directors" (click)="closeSideBar()">
              Board of Directors</a
            >
          </li>
          <li>
            <a routerLink="/committees" (click)="closeSideBar()"
              >Board Committees</a
            >
          </li>
          <li>
            <a routerLink="/statury-auditors" (click)="closeSideBar()"
              >Statutory Auditors</a
            >
          </li>
          <!-- <li><a routerLink="/bankers" (click)="closeSideBar()"> Bankers </a></li> -->
          <li>
            <a routerLink="/compliance-certificate" (click)="closeSideBar()">
              Compliance Certificate
            </a>
          </li>
          <li class="has-label--3 has-dropdown">
            <a data-toggle="collapse" data-target="#investor"
              >Investor Relations</a
            >
            <ul class="submenu collapse" id="investor">
              <li>
                <a routerLink="/regulation-46" (click)="closeSideBar()">Regulation 46</a>
              </li>
              <li>
                      <a routerLink="/secretarial-compliance-report" (click)="closeSideBar()">Secretarial Compliance Report</a>
                    </li>


              <li>
                <a routerLink="/finacial-results" (click)="closeSideBar()"
                  >Financial Results</a
                >
              </li>
              <li>
                <a routerLink="/shareholding" (click)="closeSideBar()"
                  >Shareholding Patterns</a
                >
              </li>
              <li>
                <a routerLink="/board-meeting" (click)="closeSideBar()"
                  >Board Meetings</a
                >
              </li>
              <li><a routerLink="/annual-returns">Annual Returns</a></li>
              <li>
                <a routerLink="/statement-deviation" (click)="closeSideBar()">
                  Statement of deviation
                </a>
              </li>

              <li>
                <a routerLink="/listing-details" (click)="closeSideBar()"
                  >Listing Details
                </a>
              </li>
              <li>
                <a
                  routerLink="/subsidiaries-financials"
                  (click)="closeSideBar()"
                >
                  Subsidiaries Financials
                </a>
              </li>
              <li>
                <a routerLink="/open-offer" (click)="closeSideBar()">
                  Open Offer
                </a>
              </li>
              

              <!-- <li class="has-label--3 has-dropdown">
                <a data-toggle="collapse" data-target="#shareholding"
                  >shareholder meetings</a
                >
                <ul class="submenu collapse" id="shareholding">
                  <li>
                    <a routerLink="/shareholing-annual-meetings" (click)="closeSideBar()">
                      <span>Annual General Meetings </span></a>
                  </li>

                  <li>
                    <a routerLink="/postal-ballot" (click)="closeSideBar()"><span> Postal Ballot </span></a>
                  </li>
                 

               
                </ul>
              </li> -->

              <li class="has-label--3 has-dropdown">
                <a data-toggle="collapse" data-target="#rightsIssue"
                  >Rights Issue</a
                >
                <ul class="submenu collapse" id="rightsIssue">
                  <li>
                    <a
                      routerLink="/documents-in-respect"
                      (click)="closeSideBar()"
                      ><span>Documents in respect to Rights Issue </span></a
                    >
                  </li>

                  <li>
                    <a
                      href="http://www.beetalfinancial.in/BEETALFINANCIAL/ipod.aspx"
                      target="_blank"
                      (click)="closeSideBar()"
                      ><span
                        >For Right Entitlement/Application form/Letter of
                        Offer/Abridged Letter of Offer
                      </span></a
                    >
                  </li>
                </ul>
              </li>
              <li>
                <a routerLink="/qualified-institutional-placement" (click)="closeSideBar()">
                  Qualified Institutional Placement
                </a>
              </li>

              <li class="has-label--3 has-dropdown">
                <a data-toggle="collapse" data-target="#reports"
                  >Reports & Disclosures</a
                >
                <ul class="submenu collapse" id="reports">
                  <li>
                    <a routerLink="/annual-report" (click)="closeSideBar()"
                      ><span>Annual Reports </span></a
                    >
                  </li>

                  <li>
                    <a
                      routerLink="/annual-general-meetings"
                      (click)="closeSideBar()"
                      ><span
                        >Annual General Meetings and Extra-ordinary general
                        meetings
                      </span></a
                    >
                  </li>
                  <li class="has-dropdown">
                    <a data-toggle="collapse" data-target="#postalBallot"
                      >Postal Ballot
                    </a>
                    <ul class="submenu collapse" id="postalBallot">
                      <li>
                        <a routerLink="/proceedings" (click)="closeSideBar()">
                          Proceedings</a
                        >
                      </li>

                      <li>
                        <a
                          routerLink="/notice-of-postal-ballot"
                          (click)="closeSideBar()"
                        >
                          Notice of Postal Ballot</a
                        >
                      </li>

                      <li>
                        <a
                          routerLink="/voting-results"
                          (click)="closeSideBar()"
                        >
                          Voting results as per regulation 44/ Scrutinizer
                          Report</a
                        >
                      </li>

                      <li>
                        <a
                          routerLink="/declaration-voting"
                          (click)="closeSideBar()"
                          ><span>
                            Declaration of Voting Results by Chairman</span
                          ></a
                        >
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a
                      routerLink="/corporate-governance-reports"
                      (click)="closeSideBar()"
                      ><span>Corporate Governance Reports </span></a
                    >
                  </li>

                  <li>
                    <a
                      routerLink="/code-for-independent-directors"
                      (click)="closeSideBar()"
                      ><span>Code of conducts and terms & conditions </span></a
                    >
                  </li>

                  <li>
                    <a routerLink="/policies" (click)="closeSideBar()"
                      ><span>Policies </span></a
                    >
                  </li>

                  <li>
                    <a
                      routerLink="/newspaper-publication"
                      (click)="closeSideBar()"
                      ><span>Newspaper Publication </span></a
                    >
                  </li>
                  <li>
                    <a routerLink="/other-informations" (click)="closeSideBar()"
                      ><span>Other Informations </span></a
                    >
                  </li>
                  <li>
                    <a routerLink="/investor-contacts" (click)="closeSideBar()"
                      ><span> Investor contacts </span></a
                    >
                  </li>
                  <li>
                    <a
                      routerLink="/corporate-announcements"
                      (click)="closeSideBar()"
                      >Corporate Announcements under Reg 30(8)</a
                    >
                  </li>

                  <li>
                    <a
                      routerLink="/related-party-transaction"
                      (click)="closeSideBar()"
                      >Related Party Transactions</a
                    >
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>

      <li class="has-dropdown">
        <a data-toggle="collapse" data-target="#assetManagement"
          >Asset Management</a
        >
        <ul class="submenu collapse" id="assetManagement">
          <li>
            <a routerLink="/asset-management" (click)="closeSideBar()"
              >Asset Management</a
            >
          </li>

          <li class="has-label--3 has-dropdown">
            <a data-toggle="collapse" data-target="#pms">PMS</a>

            <ul class="submenu collapse" id="pms">
              <li>
                <a
                  routerLink="/credent-aim-multicap-strategy"
                  (click)="closeSideBar()"
                  >Credent AIM Multicap Strategy</a
                >
              </li>
              <li>
                <a
                  href="https://eclientreporting.nuvamaassetservices.com/wealthspectrum/app/loginWith"
                  (click)="closeSideBar()"
                >
                  Client Login
                </a>
              </li>

              <li class="has-label--3 has-dropdown">
                <a data-toggle="collapse" data-target="#disclouser"
                  >Disclosure and reports <br />
                  under PMS</a
                >

                <ul class="submenu collapse" id="disclouser">
                  <li>
                    <a href="/assets/documents/Performance June 2026.xls" download (click)="closeSideBar()"
                      ><span> Performance June 2026</span></a
                    >
                  </li>
                  <li>
                    <a href="/assets/documents/Signed%20Credent_Disclosure%20Document%20September%202024.pdf" download (click)="closeSideBar()"
                      ><span> Disclosure Document </span></a
                    >
                  </li>
                  <li>
                    <a href="/assets/documents/PMS SEBI Certificate, 18th Dec 2023.pdf" download (click)="closeSideBar()"
                      ><span> SEBI Certificate </span></a
                    >
                  </li>
                  <li>
                    <a href="/assets/documents/Investor Charter.pdf" download (click)="closeSideBar()"
                      ><span> Investor Charter </span></a
                    >
                  </li>
                  <li>
                    <a href="/assets/documents/Investor Complaints PMS (June 2026).docx" download (click)="closeSideBar()"
                      ><span> Investor Complaints PMS (June 2026) </span></a
                    >
                  </li>
                  <li>
                    <a href="/assets/documents/Fee Calculation Tool.xlsx" download (click)="closeSideBar()"
                      ><span> Fee Calculation Tool </span></a
                    >
                  </li>
                  
                </ul>
              </li>
            </ul>
          </li>

          <!-- <li><a routerLink="/aifs">AIFS</a></li> -->
        </ul>
      </li>

      <li>
        <a routerLink="/investmentbanking" (click)="closeSideBar()"
          >Investment Banking</a
        >
      </li>

      <!-- <li>
        <a routerLink="/realestate" (click)="closeSideBar()">Real Estate</a>
      </li> -->

      <li class="has-dropdown">
        <a data-toggle="collapse" data-target="#media">Media</a>

        <ul class="submenu collapse" id="media">
          <li>
            <a routerLink="/media" (click)="closeSideBar()">Articles</a>
          </li>
          <li><a routerLink="/blog" (click)="closeSideBar()">Blog</a></li>
          <li>
            <a routerLink="/media-videos" (click)="closeSideBar()">Videos</a>
          </li>
        </ul>
      </li>

      <li class="has-dropdown">
        <a data-toggle="collapse" data-target="#enquiry">Enquiry</a>

        <ul class="submenu collapse" id="enquiry">
          <li>
            <a routerLink="/contact-us" (click)="closeSideBar()">Contact Us</a>
          </li>
          <li>
            <a routerLink="/investor-grievance" (click)="closeSideBar()"
              >Investor grievance Redressal Contact details</a
            >
          </li>

           <li>
                  <a routerLink="/details-of-nodal-officer" (click)="closeSideBar()"
                    >Details of Nodal officer</a
                  >
                </li>

                <li>
                  <a routerLink="/details-of-kmp" (click)="closeSideBar()"
                    >Detail of KMP for materiality of Transaction</a
                  >
                </li>
                <li>
                  <a routerLink="/policies" (click)="closeSideBar()"
                    >Policies</a
                  >
                </li>


        </ul>
      </li>

      <li>
        <a routerLink="/" (click)="closeSideBar()"> </a>
      </li>
    </ul>
  </div>
</div>
