<main class="page-content">
  <div
    class="dn-breadcaump-area breadcrumb-default bg_image asset-management pt--250 pb--130 pt_md--150 pb_md--100 pt_lg--150 pb_lg--100 pt_sm--150 pb_sm--100"
  >
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcrumb-content text-center">
            <h1 class="breadcrumb-content__title text-white fontWeight400">
              Credent AIM Multicap Strategy
            </h1>
            <ul class="breadcrumb-content__nav text-white">
              <li><a routerLink="/home">Home</a></li>
              <li class="separator">/</li>
              <li class="active">Asset Management</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="about-area construction-about bg-color bg-19"
    data-bg-color="#ffffff"
  >
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-xl-6 col-lg-6 col-12">
          <div class="cons-about-inner small-content">
            <div class="section_title--2">
              <h2 class="title mb--35 wow move-up">
                Portfolio Management Services
              </h2>

              <p class="pra2 wow move-up">
                1) AMPL's equity offerings are hand-picked and crafted with 2
                goals – Wealth creation and preservation.
              </p>
              <p class="pra2 wow move-up">
                2) The stock market is known to be notorious for its
                fluctuations and sudden turns, but, it can also bring in great
                fortune when understood and tapped diligently.
              </p>
              <p class="pra2 wow move-up">
                3) At AMPL, we invest in high-performance companies that have
                been proven to be investors’ picks for their excellent records
                in technical as well as fundamental analysis. In our selection,
                we primarily focus on the stock’s futures to forecast its upside
                in the short and the long term.
              </p>
            </div>
          </div>
        </div>

        <div class="col-xl-6 col-lg-6 col-12">
          <div class="possition-relative">
            <div class="thumb wow move-up">
              <img
                src="assets/img/resources/pms.jpg"
                alt="Portfolio Management Services"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <section class="industries bg-light ptb--100">
      <div class="container">
        <div class="row">
          <div class="col-xl-12 col-lg-12">
            <div class="section-title text-left">
              <h3 class="section-title__title font--32">Pillars of our investment philosophy</h3>
            </div>
          </div>
          <div class="col-xl-12 col-lg-12">
            <div class="industries__top-text-box">
              <h5><b>Real Estate Asset Fund: Low Volatility, Steady Returns </b></h5>
              <p class="lead">Our equity-backed real estate debt funds invest in bespoke residential projects across 6
                major cities of India. Leveraging the debt-based structure in compliance with SEBI’s CAT II alternate
                investment, this asset class is comfortable and lucrative for those looking for risk-proofed investments
                and dependable returns. </p>
  
              <p class="lead"> We pride ourselves upon our long-sightedness and smooth exit strategies, which can often be
                missing while drafting an investment prospectus. We get you in with a clear goal to get you out with good
                returns, and hence, our asset management services extend to asset acquisition, restructuring, and growth
                as well to ensure wealth maximization.</p>
            </div>
          </div>
        </div>
  
        <div class="row ptb--40">
          <div class="col-6 col-xl-4 col-lg-4 wow fadeInUp animated" data-wow-delay="0ms" data-wow-duration="1500ms"
            style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
           
              <h2 class="real-world__title"><a>4 <br> Funds</a>
              </h2>
              <a class="real-world__btn"></a>
              <div class="real-world__icon-box">
                <span class="icon-wealth"></span>
              </div>
            </div>
          </div>
          <div class="col-6 col-xl-4 col-lg-4 wow fadeInUp animated" data-wow-delay="300ms" data-wow-duration="1500ms"
            style="visibility: visible; animation-duration: 1500ms; animation-delay: 300ms; animation-name: fadeInUp;">
           
            <div class="real-world__single">
              <h2 class="real-world__title"><a>13 <br> Investments</a></h2>
              <a class="real-world__btn"></a>
              <div class="real-world__icon-box">
                <span class="icon-data-analytics"></span>
              </div>
            </div>
          </div>
          <div class="col-6 col-xl-4 col-lg-4 wow fadeInUp animated" data-wow-delay="600ms" data-wow-duration="1500ms"
            style="visibility: visible; animation-duration: 1500ms; animation-delay: 600ms; animation-name: fadeInUp;">
           
            <div class="real-world__single">
              <h2 class="real-world__title"><a>500 crs + <br> Investments</a>
              </h2>
              <a class="real-world__btn"></a>
              <div class="real-world__icon-box">
                <span class="icon-report"></span>
              </div>
            </div>
          </div>
  
  
          <div class="col-6 col-xl-4 col-lg-4 wow fadeInUp animated" data-wow-delay="0ms" data-wow-duration="1500ms"
            style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
         
            <div class="real-world__single">
              <h2 class="real-world__title"><a>200 + No. of <br> Investors</a>
              </h2>
              <a class="real-world__btn"></a>
              <div class="real-world__icon-box">
                <span class="icon-analysis"></span>
              </div>
            </div>
          </div>
          <div class="col-6 col-xl-4 col-lg-4 wow fadeInUp animated" data-wow-delay="300ms" data-wow-duration="1500ms"
            style="visibility: visible; animation-duration: 1500ms; animation-delay: 300ms; animation-name: fadeInUp;">
        
            <div class="real-world__single">
              <h2 class="real-world__title"><a>75 + <br> Return Payouts</a></h2>
              <a class="real-world__btn"></a>
              <div class="real-world__icon-box">
                <span class="icon-business"></span>
              </div>
            </div>
          </div>
          <div class="col-6 col-xl-4 col-lg-4 wow fadeInUp animated" data-wow-delay="600ms" data-wow-duration="1500ms"
            style="visibility: visible; animation-duration: 1500ms; animation-delay: 600ms; animation-name: fadeInUp;">
     
            <div class="real-world__single">
              <h2 class="real-world__title"><a>5 full exits & 6 <br> partial exits</a>
              </h2>
              <a class="real-world__btn"></a>
              <div class="real-world__icon-box">
                <span class="icon-video"></span>
              </div>
            </div>
          </div>

      
  
        <div class="row mt--30 justify-content-center mobile-scroll">
      
          <div class="col-lg-5 col-xl-4 col-md-6 col-sm-12 col-11 mt--30 wow move-up animate">
            <div class="card team-card shadow-lg">
              <div class="card-body">
                <div class="team team__style--1 text-center">
                  <div class="thumbnail paralax-image">
                    <img src="assets/img/team/vishnu.png" alt="Vishnu Rathod">
  
                  </div>
                  <div class="info">
                    <h2 class="font--20"><a> VISHNU RATHOD <span class="btn btn-primary btn-circle"><i class="fa fa-linkedin"></i> </span></a></h2>
  
                    <p class="lead">Vishnu Rathod has spearheaded multi-million dollar transactions over the last 17 years
                      for
                      marquee real estate advisories across India, and currently commands an AUM of INR 250 Crore for
                      Credent.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
 
  
         
          <div class="col-lg-5 col-xl-4 col-md-6 col-sm-12 col-11 mt--30 wow move-up animate">
            <div class="card team-card shadow-lg">
              <div class="card-body">
                <div class="team team__style--1 text-center">
                  <div class="thumbnail paralax-image">
                    <img src="assets/img/team/Aditya-Kanoria.webp" alt="Aditya-Kanoria ">
  
                  </div>
                  <div class="info">
                    <h2 class="font--20"><a href="https://www.linkedin.com/in/aditya-vikram-kanoria-9b91789/" target="_blank"> ADITYA KANORIA
                      <span class="btn btn-primary btn-circle"><i class="fa fa-linkedin"></i> </span> </a></h2> 
                    <p class="lead">15+ years helping businesses soar high with dynamic financial advice and a proven
                      track record of delivering value.
                    </p>
                    
                  </div>
                </div>
              </div>
            </div>
          </div> 
        </div>
  
      </div>
    </section> -->
  <section class="our-mission ptb--150">
    <div
      class="our-mission-bg jarallax"
      data-jarallax=""
      data-speed="0.2"
      data-imgposition="50% 0%"
      style="
        background-image: none;
        background-image: url(assets/images/backgrounds/our-mission-bg.jpg);
      "
    >
      <div
        id="jarallax-container-0"
        style="
          position: absolute;
          top: 0px;
          left: 0px;
          width: 100%;
          height: 100%;
          overflow: hidden;
          z-index: -100;
        "
      >
        <div
          style="
            background-position: 50% 50%;
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url('http://layerdrops.com/aivons/assets/images/backgrounds/our-mission-bg.jpg');
            position: fixed;
            top: 0px;
            left: 0px;
            width: 1903px;
            height: 100%;
            overflow: hidden;
            pointer-events: none;
            transform-style: preserve-3d;
            backface-visibility: hidden;
            will-change: transform, opacity;
            margin-top: -3.3px;
            transform: translate3d(0px, 64.9px, 0px);
          "
        ></div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xl-10 col-lg-10 m-auto">
          <div class="our-mission__inner">
            <h2 class="font--50 text-white">
              Pillars of our investment philosophy
            </h2>
            <h3 class="text-warning">
              Before investing, <br />
              we analyse the quality of the stock & see if the business is:
            </h3>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="services-two">
    <div class="container-fluid custom-container-fluid">
      <div class="row">
        <div
          class="col-xl-2 col-lg-3 col-md-4 col-sm-6 pl-2 pr-2 wow fadeInUp animated"
        >
          <div class="services-two__single">
            <h4>Favourable</h4>
            <div class="services-two__icon">
              <span class="fontWeight600">V</span>
            </div>
            <h3 class="services-two__title"><a> Valuation</a></h3>
          </div>
        </div>
        <div
          class="col-xl-2 col-lg-3 col-md-4 col-sm-6 pl-2 pr-2 wow fadeInUp animated"
        >
          <div class="services-two__single">
            <h4>Reasonable</h4>
            <div class="services-two__icon">
              <span class="fontWeight600">I</span>
            </div>

            <h3 class="services-two__title"><a>Industry</a></h3>
          </div>
        </div>
        <div
          class="col-xl-2 col-lg-3 col-md-4 col-sm-6 pl-2 pr-2 wow fadeInUp animated"
        >
          <div class="services-two__single">
            <h4>Good Governing</h4>
            <div class="services-two__icon">
              <span class="fontWeight600">A</span>
            </div>
            <h3 class="services-two__title"><a>Authority</a></h3>
          </div>
        </div>
        <div
          class="col-xl-2 col-lg-3 col-md-4 col-sm-6 pl-2 pr-2 wow fadeInUp animated"
        >
          <div class="services-two__single">
            <h4>Top -Quartile</h4>
            <div class="services-two__icon">
              <span class="fontWeight600">B</span>
            </div>
            <h3 class="services-two__title"><a>Business Metrics</a></h3>
          </div>
        </div>
        <div
          class="col-xl-2 col-lg-3 col-md-4 col-sm-6 pl-2 pr-2 wow fadeInUp animated"
        >
          <div class="services-two__single">
            <h4>Low</h4>
            <div class="services-two__icon">
              <span class="fontWeight600">L</span>
            </div>
            <h3 class="services-two__title"><a>Leverage</a></h3>
          </div>
        </div>
        <div
          class="col-xl-2 col-lg-3 col-md-4 col-sm-6 pl-2 pr-2 wow fadeInUp animated"
        >
          <div class="services-two__single">
            <h4>Consistent</h4>
            <div class="services-two__icon">
              <span class="fontWeight600">E</span>
            </div>
            <h3 class="services-two__title"><a>Earnings</a></h3>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- <section class="pb--100">
    <div class="container">
  <div class="section-title text-center">
    <h2 class="section-title__title font--50">Our portfolio classification</h2>
  </div>

  <div class="row justify-content-center">
    <div class="col-xl-6 col-lg-6 col-md-8 pt-5 pb-5">
 
        <canvasjs-chart [options]="chartOptions" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>    
       
    
  </div>
  </div>
  </div>
  </section> -->

  <section class="pb--100">
    <div class="container-fluid">
      <div class="section-title text-center">
        <h2 class="section-title__title font--50">
          Multi-factor portfolio creation process
        </h2>
      </div>

      <img src="assets/img/multi-factor-portfolio.png" />
    </div>
  </section>

  <!-- <section class="pb--100">
    <div class="container">
      <div class="financial-advice__content">
        <div class="section-title text-left">
          <h2 class="section-title__title font--50">Investing wins</h2>
        </div>
        <div class="row ptb--40 investingWins">
          <div class="col-xl-6 col-lg-6 col-md-6 mb-3">
            <div class="card">
              <div class="card-header bg-light-danger text-center">
                <img height="80" src="../../assets/img/kddl.png" />
              </div>
              <div class="card-body p-0">
                <ul class="pl-0">
                  <li>
                    <div class="icon pr-3"><span class="icon-tick"></span></div>
                    A conglomerate of manufacturing & luxury watch retailing
                  </li>
                  <li>
                    <div class="icon pr-3"><span class="icon-tick"></span></div> Manufacturing division is cash cow with
                    huge margins
                  </li>
                  <li>
                    <div class="icon pr-3"><span class="icon-tick"></span></div> Luxury watch retailing run through
                    Ethos has huge TAM worldwide
                  </li>
                  <li>
                    <div class="icon pr-3"><span class="icon-tick"></span></div> Stock has grown 5X in last 5 years
                  </li>
                </ul>
                <h3 class="kddl">Fund Details</h3>
              </div>

              <div class="card-footer">

                <div class="row text-center align-items-center">
                  <div class="col-4">
                    <h6>Date of inception 2016 at ₹225-250/share</h6>
                  </div>

                  <div class="col-4">
                    <h6>Status not yet exited</h6>
                  </div>

                  <div class="col-4">
                    <h6>Returns till date
                      310.2%</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-6 col-lg-6 col-md-6 mb-3">
            <div class="card idfc">
              <div class="card-header bg-light-secondary text-center">
                <img height="80" src="../../assets/img/idfc.png" />
              </div>
              <div class="card-body p-0">
                <ul class="pl-0">
                  <li>
                    <div class="icon pr-3"><span class="icon-tick"></span></div>
                    40% stake in IDFC First Bank
                  </li>
                  <li>
                    <div class="icon pr-3"><span class="icon-tick"></span></div> IDFC First Bank is transitioning
                    towards solid retail franchise with strong
                    traction in CASA, deposits & retail lending with industry leading NIM of 6%+
                  </li>
                  <li>
                    <div class="icon pr-3"><span class="icon-tick"></span></div> Bank moving towards 1.5% + ROA in next
                    2 years from 0.97% ROA currently
                  </li>
                  <li>
                    <div class="icon pr-3"><span class="icon-tick"></span></div> M cap increased 3-fold to ₹9600 Cr
                    currently from
                    ₹3200 Cr in 2018
                  </li>
                </ul>
                <h3>Fund Details</h3>
              </div>

              <div class="card-footer bg-light-secondary">

                <div class="row text-center align-items-center">
                  <div class="col-4">
                    <h6>Date of inception 2016 at ₹30/share</h6>
                  </div>

                  <div class="col-4">
                    <h6>Status not yet exited</h6>
                  </div>

                  <div class="col-4">
                    <h6>Returns till date
                      124.4%</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </section>  -->

  
  <!--<section class="pb-5">
    <div class="container">
       <div class="section-title text-center">
        <h2 class="section-title__title font--50">Our Performance</h2>
      </div> 

      <div class="row justify-content-center text-center">
        <div class="col-xl-12 col-lg-12">
           <div class="canva">
          <canvasjs-chart [options]="chartOptions" [styles]="{width: '100%', height:'400px'}"></canvasjs-chart>


          <div class="strip"></div>
        </div>

          <img src="assets/img/graph.png" />
        </div>
      </div>
    </div>
  </section>
-->
  <section class="faq-one bg-light pt--100 pb-5">
    <div class="container">
      <div class="section-title text-center mb-5">
        <h2 class="section-title__title font--50">Our Team</h2>
      </div>
      <div class="row align-items-center">
        <div class="col-xl-4 col-lg-4 col-md-6">
          <div
            class="member-header mb-40 overflow-hidden rounded-3 position-relative"
          >
            <div class="member-details-img bg-white">
              <img
                src="assets/img/team/naysar-shah.png"
                alt="Naysar shah"
                class="w-100"
              />
            </div>
            <div class="member-angle-links">
              <div class="shape">
                <!-- <img src="assets/img/member-shape.png" alt="Shape"> -->

                <a
                  href="https://www.linkedin.com/in/naysar-shah-4299481b/"
                  class="middle-icon"
                  target="_blank"
                  ><i class="fa fa-linkedin text-white"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-8 col-lg-8 col-md-6">
          <h2 class="mb-2 font--32 text-dark">Naysar Shah</h2>
          
          <hr />
          <p class="font--20">
            22 years of experience in Equity Research and Fund Management.
            Managed funds at Birla Sun Life for 4 years with an AUM of ~ ₹2,500
            Cr.
          </p>
          <p class="font--20">
            He has tracked a large no. of companies across sectors and market
            caps.
          </p>
          <h4 class="mt-5">Past Companies</h4>
          <div class="row companies">
            <div class="col-3">
              <div class="card">
                <div class="card-body">
                  <img src="assets/img/morgan-stanley.png" />
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="card">
                <div class="card-body">
                  <img src="assets/img/Birla-Sun-Life.png" />
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="card">
                <div class="card-body"><img src="assets/img/cfa.png" /></div>
              </div>
            </div>
            <div class="col-3">
              <div class="card">
                <div class="card-body"><img src="assets/img/ca.png" /></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr class="mt-5 mb-5" />
      <div class="row align-items-center">
        <div class="col-xl-4 col-lg-4 col-md-6">
          <div
            class="member-header mb-40 overflow-hidden rounded-3 position-relative"
          >
            <div class="member-details-img bg-white">
              <img
                src="assets/img/team/madhusudan.png"
                alt="Naysar shah"
                class="w-100"
              />
            </div>
            <div class="member-angle-links">
              <div class="shape">
                <!-- <img src="assets/img/member-shape.png" alt="Shape"> -->
                <a
                  href="https://www.linkedin.com/in/madhusudan-sarda-7272048/"
                  class="middle-icon"
                  target="_blank"
                  ><i class="fa fa-linkedin text-white"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-8 col-lg-8 col-md-6">
          <h2 class="mb-2 font--32 text-dark">Madhusudan Sarda</h2>
          
          <hr />
          <p class="font--20">
            20+ years of investing experience in the public markets with focus
            on micro, small &amp; midcap stocks. He co-founded Vallum Capital in
            2010 and exited in 2022, growing AUM from 0 to 1000 crore.
          </p>
          <h4 class="mt-5">Past Companies</h4>
          <div class="row companies">
            <div class="col-xl-3 col-lg-3 col-4">
              <div class="card">
                <div class="card-body">
                  <img src="assets/img/vallum-capital.png" />
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-4">
              <div class="card">
                <div class="card-body">
                  <img src="assets/img/mehta-group.png" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr class="mt-5 mb-5" />
    </div>
  </section>

  <section class="faq-one bg-light pb-5">
    <div class="container">
      <div class="col-xl-11 col-lg-11 mx-auto">
        <div class="row align-items-center teamCards justify-content-center">
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 text-center mb-5">
            <div class="flip-card" tabIndex="0">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <div>
                    <div class="member-header mb-40 position-relative">
                      <div class="member-details-img">
                        <img src="assets/img/team/harshal.png" alt="Harshal" />
                      </div>
                    </div>
                    <h2 class="font--20 mb-0 mt-3">Harshal Gosrani</h2>
                    <p class="font--16">Principal Officer</p>
                  </div>
                </div>
                <div class="flip-card-back">
                  <h2 class="font--20 text-white mb-0">Harshal</h2>
                  <p>
                    Harshal, professional in the field of finance, possesses a
                    deep understanding of fund raising and transaction advisory
                    for SMEs and start-ups. With a passion for equity markets
                    and a curiosity to uncover the factors that influence price
                    movements, he has mastered both fundamental and technical
                    analysis. Over the course of his career, Harshal has
                    garnered extensive experience in equity trading, portfolio
                    management, and strategy execution. He has managed family
                    funds for a period of 8 years, showcasing his prowess in
                    this domain. Harshal holds a BE (Production) and an M.Sc
                    (Finance) .
                  </p>
                </div>
              </div>
            </div>
          </div>

          <!-- <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 text-center mb-5">
            <div class="flip-card" tabIndex="0">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <div>
                    <div class="member-header mb-40 position-relative">
                      <div class="member-details-img">
                        <img
                          src="assets/img/team/vedant-pathella.png"
                          alt="Vedant Pathella"
                        />
                      </div>
                    </div>
                    <h2 class="font--20 mb-0 mt-3">Vedant Pathella</h2>
                    <p class="font--16">Vice President</p>
                  </div>
                </div>
                <div class="flip-card-back">
                  <h2 class="font--20 text-white pt-3 mb-0">Vedant Pathella</h2>
                  <p>
                    A learned professional working in areas of quantamental
                    modeling, multi factor research, portfolio risk management &
                    business development. He earlier handled research at Vallum
                    Capital. He has completed his MSc in Finance (Gold Medalist)
                    and BSc in Finance from NMIMS University.
                  </p>
                </div>
              </div>
            </div>
          </div> -->

          <!--
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 text-center mb-5">
            <div class="flip-card" tabIndex="0">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <div>
                    <div class="member-header mb-40 position-relative">
                      <div class="member-details-img">
                        <img
                          src="assets/img/team/jhaveriviral.png"
                          alt="Viral Jhaveri"
                        />
                      </div>
                    </div>
                    <h2 class="font--20 mb-0 mt-3">Viral Jhaveri</h2>
                    <p class="font--16">Advisor</p>
                  </div>
                </div>
                <div class="flip-card-back">
                  <h2 class="font--20 text-white pt-3 mb-0">Viral Jhaveri</h2>
                  <p>
                    24+ years of experience in research, portfolio management &
                    industrial management. He has worked at one of the largest
                    European fund management companies, Amundi focusing on India
                    and AsiaPacific ex Japan strategies. He was also a part of
                    Equities team at Credit Suisse. He is currently an
                    independent director on the board of Astral Ltd.
                  </p>
                </div>
              </div>
            </div>
          </div>-->
          

          <!-- <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 text-center mb-5">
            <div class="flip-card" tabIndex="0">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <div>
                    <div class="member-header mb-40 position-relative">
                      <div class="member-details-img">
                        <img src="assets/img/team/bhavik.png" alt="`Bhavik" />
                      </div>
                    </div>
                    <h2 class="font--20 mb-0 mt-3">Bhavik Thakkar</h2>
                    <p class="font--16">Equity Dealer</p>
                  </div>
                </div>
                <div class="flip-card-back">
                  <h2 class="font--20 text-white pt-3 mb-0">Bhavik Thakkar</h2>
                  <p>
                    Bhavik is an accomplished Equity Dealer specializing in
                    Portfolio Management Services (PMS), known for his strategic
                    insights, analytical process, and dedication to achieving
                    optimal investment outcomes. With a career spanning over 15
                    years, He has established himself as a trusted advisor in
                    the dynamic world of finance. his educational foundation in
                    finance provided him with a solid understanding of market
                    dynamics and investment strategies.
                  </p>
                </div>
              </div>
            </div>
          </div> -->
          <div class="ccol-xl-4 col-lg-4 col-md-6 col-sm-6 text-center mb-5">
            <div class="flip-card" tabIndex="0">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <div>
                    <div class="member-header mb-40 position-relative">
                      <div class="member-details-img">
                        <img
                          src="assets/img/team/dilpeshwaghela.png"
                          alt="Dilpesh Waghela"
                        />
                      </div>
                    </div>
                    <h2 class="font--20 mb-0 mt-3">Dilpesh Waghela</h2>
                    <p class="font--16">Research Analyst</p>
                  </div>
                </div>
                <div class="flip-card-back">
                  <h2 class="font--20 text-white pt-3 mb-0">Dilpesh Waghela</h2>
                  <p>
                    Dilpesh Waghela, a Research Analyst with a passion for
                    fundamental insights. Currently pursuing CFA Level 3, he has
                    4 years of diverse experience. His background includes a
                    successful stint as an Equity Research Associate at Finvest
                    Advisors and prior engagements with Accenture and MSCI. His
                    passion for analysis and continuous growth sets the stage
                    for insightful contributions.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  

  <section class="cta-one">
    <div
      class="cta-one-bg"
      style="background-image: url(../../assets/img/cta-one-bg.png)"
    ></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="cta-one__inner">
            <div class="cta-one__left">
              <h2 class="cta-one__title">
                Contact us today, we're happpy <br />
                to help in anyway we can.
              </h2>
            </div>
            <div class="cta-one__right">
              <a routerLink="/contact-us" class="thm-btn cta-one__btn"
                >Contact Us</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="aimCol">
    Portfolio Management Service - Number of Complaints - April 2023: Beginning
    of Month: 0 | Received During Month: 0 | Resolved During Month: 0 | Pending
    End of Month: 0 | Reasons for Pendency: N/A
  </div>
</main>

<!-- <div class="modal fade webinarPopup" tabindex="-1" role="dialog" id="popup">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body p-0">
        <button type="button" class="close shadow" (click)="toggleModal()">
          <span aria-hidden="true">&times;</span>
        </button>
        <a href="https://pmsbazaar.com/Webinar">
          <img src="assets/img/webinar.jpg" alt="credent-webinar" />
        </a>
      </div>
    </div>
  </div>
</div> -->
