<main class="page-content">

    <div
      class="dn-breadcaump-area breadcrumb-default bg_image nbfs pt--250  pb--130 pt_md--150  pb_md--100 pt_lg--150  pb_lg--100 pt_sm--150  pb_sm--100">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="breadcrumb-content text-center text-white">
              <h1 class="breadcrumb-content__title text-white fontWeight400">Other Informations</h1>
              <ul class="breadcrumb-content__nav text-white">
                <li><a routerLink="/home">Home</a></li>
                <li class="separator">/</li>
                <li class="active">Other Informations</li>
              </ul>  
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="about-area construction-about bg-20 pt-5" data-bg-color="#ffffff">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          
          <div class="col-lg-12 col-mb-12 col-12 wow move-up">
              <div id="faqsThree" class="faqsOne pdf-files mt--50"> 
    <div class="card" *ngFor="let doc of docs">
              <div class="card-header" id="heading1">
                <h5 class="mb-0">
                  <a [href]="mediaUrlDocs + doc.page+'/' + doc.doc" target="_blank">
                    <img src="{{getFileIconFromName(doc.doc)}}" alt="{{doc.title}}" width="30"> {{doc.title}}
                  </a>
                </h5>
              </div>
            </div>
                
                <div class="card"  *ngFor="let items of filterCategoty">
                  <div class="card-header" id="heading11">
                    <h5 class="mb-0">
                      <a [href]="imageUrls + items.pdf_file" target="_blank">
                        <img src="assets/img/icons/pdf.png">  {{items.title}}
                      </a>
                    </h5>
                  </div> 
                </div> 

                <!-- <div class="card">
                  <div class="card-header" id="heading11">
                    <h5 class="mb-0">
                      <a href="assets/img/other-informations/INFORMATION MEMORANDUM.pdf" target="_blank">
                        <img src="assets/img/icons/pdf.png"> Information Memorandm
                      </a>
                    </h5>
                  </div> 
                </div> 

                <div class="card">
                  <div class="card-header" id="heading11">
                    <h5 class="mb-0">
                      <a href="assets/img/other-informations/Intimation of book closure for 29th AGM held on3009.2019.pdf" target="_blank">
                        <img src="assets/img/icons/pdf.png"> Intimation of book closure for 29th AGM held on 30.09.2019
                      </a>
                    </h5>
                  </div> 
                </div> 


                <div class="card">
                  <div class="card-header" id="heading11">
                    <h5 class="mb-0">
                      <a href="assets/img/other-informations/Reg 42_Book Closure IntimationOCL.pdf" target="_blank">
                        <img src="assets/img/icons/pdf.png"> Reg 42_Book Closure IntimationOCL
                      </a>
                    </h5>
                  </div> 
                </div> 


                <div class="card">
                  <div class="card-header" id="heading11">
                    <h5 class="mb-0">
                      <a href="assets/img/other-informations/Terms & Conditions of Appointment of Independet Directors (1).pdf" target="_blank">
                        <img src="assets/img/icons/pdf.png"> Terms & Conditions of Appointment of Independet Directors
                      </a>
                    </h5>
                  </div> 
                </div>   -->
               
               
              </div>
            </div>
         

        </div>
      </div>
    </div>


  </main>