<main class="page-content">

    <div
      class="dn-breadcaump-area breadcrumb-default bg_image nbfs pt--250  pb--130 pt_md--150  pb_md--100 pt_lg--150  pb_lg--100 pt_sm--150  pb_sm--100">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="breadcrumb-content text-center text-white">
              <h1 class="breadcrumb-content__title text-white fontWeight400">Board Meetings</h1>
              <ul class="breadcrumb-content__nav text-white">
                <li><a routerLink="/home">Home</a></li>
                <li class="separator">/</li>
                <li class="active">Board Meetings</li>
              </ul>  
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="about-area construction-about bg-20 pt-5" data-bg-color="#ffffff">
      <div class="container"> 

         
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-12 col-mb-12 col-12 wow move-up">
              <h2>Outcome of BM</h2>

            
              <div id="faqsThree" class="faqsOne pdf-files mt--20"> 
                            <div class="card">
                              <div class="card-header" id="heading11">
                                <h5 class="mb-0">
                                  <a href="/assets/img/Board Meetings/Outcome of Board Meeting/2026-2027/Outcome of the Board Meeting held on 07th May, 2026.pdf" target="_blank">
                                    <img src="assets/img/icons/pdf.png"> 
                                    Outcome of the Board Meeting held on 07th May, 2026
                                  </a>
                                </h5>
                              </div> 
                            </div>  

                            <div class="card">
                              <div class="card-header" id="heading11">
                                <h5 class="mb-0">
                                  <a href="/assets/img/Board Meetings/Outcome of Board Meeting/2026-2027/Outcome of Board Meeting_June 11, 2026.pdf" target="_blank">
                                    <img src="assets/img/icons/pdf.png"> 
                                    Outcome of Board Meeting June 11, 2026
                                  </a>
                                </h5>
                              </div> 
                            </div>  

                            <div class="card">
                              <div class="card-header" id="heading11">
                                <h5 class="mb-0">
                                  <a href="/assets/img/Board Meetings/Outcome of Board Meeting/2026-2027/Outcome of Board Meeting_Approval of Financial Statement_May 29, 2026.pdf" target="_blank">
                                    <img src="assets/img/icons/pdf.png"> 
                                    Outcome of Board Meeting_Approval of Financial Statement May 29, 2026
                                  </a>
                                </h5>
                              </div> 
                            </div> 
                            <div class="card" *ngFor="let doc of docs">
                              <div class="card-header" id="heading1">
                                <h5 class="mb-0">
                                    <a [href]="mediaUrlDocs + doc.page+'/' + doc.doc" target="_blank">                                    
                                    <img src="{{getFileIconFromName(doc.doc)}}" alt="{{doc.title}}" width="30"> {{doc.title}}
                                    </a>
                                </h5>
                              </div>
                            </div>        
                             
                            
                            <div class="card">
                              <div class="card-header" id="heading11">
                                <h5 class="mb-0">
                                  <a href="/assets/img/Board Meetings/Outcome of Board Meeting/2024-2025/Outcome-of-Board-Meeting-final_141125.pdf" target="_blank">
                                    <img src="assets/img/icons/pdf.png"> 
                                    Outcome of BM dated 14.11.2025
                                  </a>
                                </h5>
                              </div> 
                            </div>  
                            <div class="card">
                              <div class="card-header" id="heading11">
                                <h5 class="mb-0">
                                  <a href="/assets/img/general-meeting/CIPL/Outcome of BM dated 10.10.2025.pdf" target="_blank">
                                    <img src="assets/img/icons/pdf.png"> 
                                    Outcome of BM dated 10.10.2025
                                  </a>
                                </h5>
                              </div> 
                            </div>  
                            <div class="card">
                              <div class="card-header" id="heading11">
                                <h5 class="mb-0">
                                  <a href="/assets/img/general-meeting/CIPL/Outcome of BM dated 14.10.2025.pdf" target="_blank">
                                    <img src="assets/img/icons/pdf.png"> 
                                    Outcome of BM dated 14.10.2025
                                  </a>
                                </h5>
                              </div> 
                            </div>  
                            


                <div class="card">
                  <div class="card-header" id="doc2">
                    <h5 class="mb-0">
                      <a href="/assets/img/Board Meetings/Outcome of Board Meeting/2024-2025/Outcome of BM.pdf" target="_blank">
                        <img src="assets/img/icons/pdf.png"> Outcome of Board meeting 2024-2025
                      </a>
                    </h5>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="doc2">
                    <h5 class="mb-0">
                      <a href="/assets/img/Board Meetings/Outcome-of-Board-Meeting/2023-2024/outcome of BM final_300524.pdf" target="_blank">
                        <img src="assets/img/icons/pdf.png"> Outcome of Board meeting 2023-2024
                      </a>
                    </h5>
                  </div>
                </div>
                
                <div class="card">
                  <div class="card-header" id="doc2">
                    <h5 class="mb-0">
                      <a href="assets/img/outcome-of-bm/Microsoft Word - 8. Reg 30_Outcome_BM_140821_OCL - outcome of meeting 140821.pdf" target="_blank">
                        <img src="assets/img/icons/pdf.png"> Outcome of Board meeting held on 14-08-21 OCL
                      </a>
                    </h5>
                  </div>
                </div>
                
                <div class="card">
                  <div class="card-header" id="doc3">
                    <h5 class="mb-0">
                      <a href="assets/img/outcome-of-bm/Microsoft Word - Reg 30_Outcome_BM_110221_OCL - Reg 30_Outcome_BM_110221_OCL.pdf" target="_blank">
                        <img src="assets/img/icons/pdf.png"> Outcome of Board meeting held on 11-02-21 OCL
                      </a>
                    </h5>
                  </div>
                </div>
                
                
                <div class="card">
                  <div class="card-header" id="doc5">
                    <h5 class="mb-0">
                      <a href="assets/img/outcome-of-bm/Microsoft Word - Reg 30_Outcome_BM_110221_OCL_31.12.2020.pdf" target="_blank">
                        <img src="assets/img/icons/pdf.png"> Outcome of Board meeting held on 31-12-20 OCL
                      </a>
                    </h5>
                  </div>
                </div>
                
                <div class="card">
                  <div class="card-header" id="doc6">
                    <h5 class="mb-0">
                      <a href="assets/img/outcome-of-bm/Microsoft Word - Reg 30_Outcome_BM_250720 - Reg 30_Outcome_BM_250720.pdf" target="_blank">
                        <img src="assets/img/icons/pdf.png"> Outcome of Board meeting held on 25-07-20 OCL
                      </a>
                    </h5>
                  </div>
                </div>
                
                <div class="card">
                  <div class="card-header" id="doc7">
                    <h5 class="mb-0">
                      <a href="assets/img/outcome-of-bm/Microsoft Word - Reg 30_Outcome_BM_290621 - Reg_30_Outcome_BM_290621.pdf" target="_blank">
                        <img src="assets/img/icons/pdf.png"> Outcome of Board meeting held on 29-06-21 OCL
                      </a>
                    </h5>
                  </div>
                </div>
              </div>
            </div>
                
                            <div class="col-lg-12 col-mb-12 col-12 wow move-up mt--30">
                              <h2>Prior Intimations</h2>
                              <div id="faqsThree" class="faqsOne pdf-files mt--20"> 
                <div class="card" *ngFor="let doc1 of docs1">
                <div class="card-header" id="doc1">
                  <h5 class="mb-0">
                      <a [href]="mediaUrlDocs1 + doc1.page+'/' + doc1.doc" target="_blank">                                    
                      <img src="{{getFileIconFromName(doc1.doc)}}" alt="{{doc1.title}}" width="30"> {{doc1.title}}
                    </a>
                  </h5>
                </div>
              </div>
                             
                                <div class="card">
                                  <div class="card-header" id="doc1">
                                    <h5 class="mb-0">
                                      <a href="/assets/img/Board Meetings/Prior Intimation of Board Meeting/2024-2025/Prior Intimation of Board Meeting 07-11-2025.pdf" target="_blank">
                                        <img src="assets/img/icons/pdf.png"> Intimation of Board meeting 07-11-2025
                                      </a>
                                    </h5>
                                  </div>
                                </div>
                                
                                <div class="card">
                                  <div class="card-header" id="doc1">
                                    <h5 class="mb-0">
                                      <a href="/assets/img/Board Meetings/Prior Intimation of Board Meeting/2024-2025/Intimation of BM reg 29_071025 (1).pdf" target="_blank">
                                        <img src="assets/img/icons/pdf.png"> Intimation of Board meeting 07-10-2025
                                      </a>
                                    </h5>
                                  </div>
                                </div>
                                <div class="card">
                                  <div class="card-header" id="doc1">
                                    <h5 class="mb-0">
                                      <a href="/assets/img/Board Meetings/Prior Intimation of Board Meeting/2024-2025/Prior Intimation of Board Meeting final...pdf" target="_blank">
                                        <img src="assets/img/icons/pdf.png"> Intimation of Board meeting 2024-2025
                                      </a>
                                    </h5>
                                  </div>
                                </div>
                                <div class="card">
                                  <div class="card-header" id="doc1">
                                    <h5 class="mb-0">
                                      <a href="/assets/img/Board Meetings/Prior Intimation of Board Meeting/2023-2024/Intimation of Board Meeting to be held on 30th May ,2024.pdf" target="_blank">
                                        <img src="assets/img/icons/pdf.png"> IIntimation of Board meeting 2023-2024
                                      </a>
                                    </h5>
                                  </div>
                                </div>
                                <div class="card">
                                  <div class="card-header" id="doc1">
                                    <h5 class="mb-0">
                                      <a href="/assets/img/Board Meetings/Prior Intimation of Board Meeting/2022-2023/Prior intimation under reg 29 of CGFL_31.03.2023.pdf" target="_blank">
                                        <img src="assets/img/icons/pdf.png"> Intimation of Board meeting 2022-2023
                                      </a>
                                    </h5>
                                  </div>
                                </div>
                                <div class="card">
                                  <div class="card-header" id="doc1">
                                    <h5 class="mb-0">
                                      <a href="assets/img/intimations/Intimation for appointment of Statutory Auditor_25.11.2021.pdf" target="_blank">
                                        <img src="assets/img/icons/pdf.png"> Intimation for appointment of Statutory Auditor 25.11.2021
                                      </a>
                                    </h5>
                                  </div>
                                </div>
                                <div class="card">
                                  <div class="card-header" id="doc2">
                                    <h5 class="mb-0">
                                      <a href="assets/img/intimations/Intimation for reclassification of requests from Promoters dated 10.11.2021.pdf" target="_blank">
                                        <img src="assets/img/icons/pdf.png"> Intimation for reclassification of requests from Promoters dated 10.11.2021
                                      </a>
                                    </h5>
                                  </div>
                                </div>
                                
                                <div class="card">
                                  <div class="card-header" id="doc3">
                                    <h5 class="mb-0">
                                      <a href="assets/img/intimations/Intimation in respect to reclassification under regulation 31A_18.12.2021.pdf" target="_blank">
                                        <img src="assets/img/icons/pdf.png"> Intimation in respect to reclassification under regulation 31A 18.12.2021
                                      </a>
                                    </h5>
                                  </div>
                                </div>
                                
                                <div class="card">
                                  <div class="card-header" id="doc4">
                                    <h5 class="mb-0">
                                      <a href="assets/img/intimations/Intimation of Board Meeting to be held on 10.08.2022.pdf" target="_blank">
                                        <img src="assets/img/icons/pdf.png"> Intimation of Board Meeting to be held on 10.08.2022
                                      </a>
                                    </h5>
                                  </div>
                                </div>
                                
                                <div class="card">
                                  <div class="card-header" id="doc5">
                                    <h5 class="mb-0">
                                      <a href="assets/img/intimations/Intimation of Board Meeting to be held on 14.11.2022.pdf" target="_blank">
                                        <img src="assets/img/icons/pdf.png"> Intimation of Board Meeting to be held on 14.11.2022
                                      </a>
                                    </h5>
                                  </div>
                                </div>
                                
                                <div class="card">
                                  <div class="card-header" id="doc6">
                                    <h5 class="mb-0">
                                      <a href="assets/img/intimations/Intimation of board meeting to be held on 31.03.2022.pdf" target="_blank">
                                        <img src="assets/img/icons/pdf.png"> Intimation of board meeting to be held on 31.03.2022
                                      </a>
                                    </h5>
                                  </div>
                                </div>
                                
                                <div class="card">
                                  <div class="card-header" id="doc7">
                                    <h5 class="mb-0">
                                      <a href="assets/img/intimations/Intimation of book closure for 29th AGM held on3009.2019.pdf" target="_blank">
                                        <img src="assets/img/icons/pdf.png"> Intimation of book closure for 29th AGM held on 30.09.2019
                                      </a>
                                    </h5>
                                  </div>
                                </div>
                                
                                <div class="card">
                                  <div class="card-header" id="doc8">
                                    <h5 class="mb-0">
                                      <a href="assets/img/intimations/Intimation of shifting of Registered Office_02.11.2021.pdf" target="_blank">
                                        <img src="assets/img/icons/pdf.png"> Intimation of shifting of Registered Office 02.11.2021
                                      </a>
                                    </h5>
                                  </div>
                                </div>
                                
                                <div class="card">
                                  <div class="card-header" id="doc9">
                                    <h5 class="mb-0">
                                      <a href="assets/img/intimations/Intimation regarding appointment of Company Secretary_15.09.2020.pdf" target="_blank">
                                        <img src="assets/img/icons/pdf.png"> Intimation regarding appointment of Company Secretary 15.09.2020
                                      </a>
                                    </h5>
                                  </div>
                                </div>
                                
                                <div class="card">
                                  <div class="card-header" id="doc10">
                                    <h5 class="mb-0">
                                      <a href="assets/img/intimations/Intimation regarding reciept of reclassification request_29.10.2021.pdf" target="_blank">
                                        <img src="assets/img/icons/pdf.png"> Intimation regarding receipt of reclassification request 29.10.2021
                                      </a>
                                    </h5>
                                  </div>
                                </div>
                                
                                <div class="card">
                                  <div class="card-header" id="doc11">
                                    <h5 class="mb-0">
                                      <a href="assets/img/intimations/Intimation regarding resignation of Company Secretary and Compliance Officer_30.10.2021.pdf" target="_blank">
                                        <img src="assets/img/icons/pdf.png"> Intimation regarding resignation of Company Secretary and Compliance Officer 30.10.2021
                                      </a>
                                    </h5>
                                  </div>
                                </div>
                                
                                <div class="card">
                                  <div class="card-header" id="doc12">
                                    <h5 class="mb-0">
                                      <a href="assets/img/intimations/Intimation regarding updation of appointment of Directors on the Board of the Company_30.10.2021.pdf" target="_blank">
                                        <img src="assets/img/icons/pdf.png"> Intimation regarding updation of appointment of Directors on the Board of the Company 30.10.2021
                                      </a>
                                    </h5>
                                  </div>
                                </div>
                                
                                <div class="card">
                                  <div class="card-header" id="doc13">
                                    <h5 class="mb-0">
                                      <a href="assets/img/intimations/Intimation regarding_95_investment in Credent Investment by Oracle_05.02.2022.pdf" target="_blank">
                                        <img src="assets/img/icons/pdf.png"> Intimation regarding 95% investment in Credent Investment by Oracle 05.02.2022
                                      </a>
                                    </h5>
                                  </div>
                                </div>
                                
                                <div class="card">
                                  <div class="card-header" id="doc14">
                                    <h5 class="mb-0">
                                      <a href="assets/img/intimations/Intimation regarding re-appointment of Independent Directors_01.10.2019.pdf" target="_blank">
                                        <img src="assets/img/icons/pdf.png"> Intimation regarding re-appointment of Independent Directors 01.10.2019
                                      </a>
                                    </h5>
                                  </div>
                                </div>
                                
                                <div class="card">
                                  <div class="card-header" id="doc15">
                                    <h5 class="mb-0">
                                      <a href="assets/img/intimations/Intimation under Regulation 30 regarding Associate company(CAMS) invested in Essel Finance_24.11.2022.pdf" target="_blank">
                                        <img src="assets/img/icons/pdf.png"> Intimation under Regulation 30 regarding Associate company(CAMS) invested in Essel Finance 24.11.2022
                                      </a>
                                    </h5>
                                  </div>
                                </div>
                                
                                <div class="card">
                                  <div class="card-header" id="doc16">
                                    <h5 class="mb-0">
                                      <a href="assets/img/intimations/Intimation under regulation 30 regarding remaining_51_investement in CAMS by Oracle_04.02.2023.pdf" target="_blank">
                                        <img src="assets/img/icons/pdf.png"> Intimation under regulation 30 regarding remaining 51% investment in CAMS by Oracle 04.02.2023
                                      </a>
                                    </h5>
                                  </div>
                                </div>
                                
                                <div class="card">
                                  <div class="card-header" id="doc17">
                                    <h5 class="mb-0">
                                      <a href="assets/img/intimations/Intimation_for_Change_of_name_of_the_Company_from_Oracle_Credit_Limited_to_Credent_Global_Finance_Limited.pdf" target="_blank">
                                        <img src="assets/img/icons/pdf.png"> Intimation for Change of name of the Company from Oracle Credit Limited to Credent Global Finance Limited
                                      </a>
                                    </h5>
                                  </div>
                                </div>
                                
                                <div class="card">
                                  <div class="card-header" id="doc18">
                                    <h5 class="mb-0">
                                      <a href="assets/img/intimations/Intimation_of_BM_under_reg_29.pdf" target="_blank">
                                        <img src="assets/img/icons/pdf.png"> Intimation of BM under reg 29
                                      </a>
                                    </h5>
                                  </div>
                                </div>
                                
                                <div class="card">
                                  <div class="card-header" id="doc19">
                                    <h5 class="mb-0">
                                      <a href="assets/img/intimations/Intimation_of_Record_date_for_stock_split.pdf" target="_blank">
                                        <img src="assets/img/icons/pdf.png"> Intimation of Record date for stock split
                                      </a>
                                    </h5>
                                  </div>
                                </div>
                                
                                <div class="card">
                                  <div class="card-header" id="doc20">
                                    <h5 class="mb-0">
                                      <a href="assets/img/intimations/Intimation_under_reg_30_of_SEBI_LODR_reg_2015_for_change_of_RO_from_the_NCT_of_Delhi_to_the_State_of_Maharashtra_Mumbai_and_respective_changes_in_MOA_of_the_Company.pdf" target="_blank">
                                        <img src="assets/img/icons/pdf.png"> Intimation under reg 30 of SEBI LODR reg 2015 for change of RO from the NCT of Delhi to the State of Maharashtra Mumbai and respective changes in MOA of the Company
                                      </a>
                                    </h5>
                                  </div>
                                </div>
                                
                                <div class="card">
                                  <div class="card-header" id="doc21">
                                    <h5 class="mb-0">
                                      <a href="assets/img/intimations/Intimation_under_reg_30_of_SEBI_LODR_regarding_investment_in_CAMS_Associate_Company_12.09.2022.pdf" target="_blank">
                                        <img src="assets/img/icons/pdf.png"> Intimation under reg 30 of SEBI LODR regarding investment in CAMS Associate Company 12.09.2022
                                      </a>
                                    </h5>
                                  </div>
                                </div>
                                
                                <div class="card">
                                  <div class="card-header" id="doc22">
                                    <h5 class="mb-0">
                                      <a href="assets/img/intimations/Intimation_under_reg_30_regarding_investment_in_CAMS_became_a_WOS_of_CGFL.pdf" target="_blank">
                                        <img src="assets/img/icons/pdf.png"> Intimation under reg 30 regarding investment in CAMS became a WOS of CGFL
                                      </a>
                                    </h5>
                                  </div>
                                </div>
                                
                                <div class="card">
                                  <div class="card-header" id="doc23">
                                    <h5 class="mb-0">
                                      <a href="assets/img/intimations/Intimation_under_regulation_30_of_SEBI_LODR_Regulations_2015_regarding_investment_in_CAMS_Associate_co..pdf" target="_blank">
                                        <img src="assets/img/icons/pdf.png"> Intimation under regulation 30 of SEBI LODR Regulations 2015 regarding investment in CAMS Associate co
                                      </a>
                                    </h5>
                                  </div>
                                </div>
                                
                                <div class="card">
                                  <div class="card-header" id="doc24">
                                    <h5 class="mb-0">
                                      <a href="assets/img/intimations/Microsoft Word - Intimation_BM_150920.pdf" target="_blank">
                                        <img src="assets/img/icons/pdf.png">Intimation BM 150920
                                      </a>
                                    </h5>
                                  </div>
                                </div>
                                
                                <div class="card">
                                  <div class="card-header" id="doc25">
                                    <h5 class="mb-0">
                                      <a href="assets/img/intimations/Microsoft Word - Intimation_BM_250720.pdf" target="_blank">
                                        <img src="assets/img/icons/pdf.png"> Intimation BM 250720
                                      </a>
                                    </h5>
                                  </div>
                                </div>
                                
                                <div class="card">
                                  <div class="card-header" id="doc26">
                                    <h5 class="mb-0">
                                      <a href="assets/img/intimations/Microsoft Word - Intimation_BM_281021.pdf" target="_blank">
                                        <img src="assets/img/icons/pdf.png">Intimation BM 281021
                                      </a>
                                    </h5>
                                  </div>
                                </div>
                                
                                <div class="card">
                                  <div class="card-header" id="doc27">
                                    <h5 class="mb-0">
                                      <a href="assets/img/intimations/Microsoft Word - Intimation_BM_290620_Cancelled - Intimation_BM_290620_Cancelled.pdf" target="_blank">
                                        <img src="assets/img/icons/pdf.png">Intimation BM 290620 Cancelled - Intimation BM 290620 Cancelled
                                      </a>
                                    </h5>
                                  </div>
                                </div>
                                
                                <div class="card">
                                  <div class="card-header" id="doc28">
                                    <h5 class="mb-0">
                                      <a href="assets/img/intimations/Microsoft Word - Intimation_BM_290620_OCL.pdf" target="_blank">
                                        <img src="assets/img/icons/pdf.png"> Intimation BM 290620 OCL
                                      </a>
                                    </h5>
                                  </div>
                                </div>
                                
                                <div class="card">
                                  <div class="card-header" id="doc29">
                                    <h5 class="mb-0">
                                      <a href="assets/img/intimations/Microsoft Word - Intimation_BM_301020.pdf" target="_blank">
                                        <img src="assets/img/icons/pdf.png">Intimation BM 301020
                                      </a>
                                    </h5>
                                  </div>
                                </div>
                                
                                <div class="card">
                                  <div class="card-header" id="doc30">
                                    <h5 class="mb-0">
                                      <a href="assets/img/intimations/Prior intimation of BM to be held on 05.02.2022.pdf" target="_blank">
                                        <img src="assets/img/icons/pdf.png"> Prior intimation of BM to be held on 05.02.2022
                                      </a>
                                    </h5>
                                  </div>
                                </div>
                                
                                <div class="card">
                                  <div class="card-header" id="doc31">
                                    <h5 class="mb-0">
                                      <a href="assets/img/intimations/Prior intimation of Board meeting to be held on 27.03.2023.pdf" target="_blank">
                                        <img src="assets/img/icons/pdf.png"> Prior intimation of Board meeting to be held on 27.03.2023
                                      </a>
                                    </h5>
                                  </div>
                                </div>
                                
                                <div class="card">
                                  <div class="card-header" id="doc32">
                                    <h5 class="mb-0">
                                      <a href="assets/img/intimations/Prior intimation under regulation 29_Dec22_Q3_OCL.pdf" target="_blank">
                                        <img src="assets/img/icons/pdf.png"> Prior intimation under regulation 29 Dec22 Q3 OCL
                                      </a>
                                    </h5>
                                  </div>
                                </div>
                                
                                <div class="card">
                                  <div class="card-header" id="doc33">
                                    <h5 class="mb-0">
                                      <a href="assets/img/intimations/Prior_Intimation_of_BM_Final...pdf" target="_blank">
                                        <img src="assets/img/icons/pdf.png"> Prior Intimation of BM Final
                                      </a>
                                    </h5>
                                  </div>
                                </div>
                                
                                <div class="card">
                                  <div class="card-header" id="doc34">
                                    <h5 class="mb-0">
                                      <a href="assets/img/intimations/Prior_Intimation_of_BM_for_September_quarter_ended_30.09.2023_along_with_Notice_and_agenda_of_BM.pdf" target="_blank">
                                        <img src="assets/img/icons/pdf.png"> Prior Intimation of BM for September quarter ended 30.09.2023 along with Notice and agenda of BM
                                      </a>
                                    </h5>
                                  </div>
                                </div>
                                
                                <div class="card">
                                  <div class="card-header" id="doc35">
                                    <h5 class="mb-0">
                                      <a href="assets/img/intimations/Prior_Intimation_of_Board_Meeting_under_Reg_29_for_declaration_of_interim_dividend.pdf" target="_blank">
                                        <img src="assets/img/icons/pdf.png"> Prior Intimation of Board Meeting under Reg 29 for declaration of interim dividend
                                      </a>
                                    </h5>
                                  </div>
                                </div>
                                
                                <div class="card">
                                  <div class="card-header" id="doc36">
                                    <h5 class="mb-0">
                                      <a href="assets/img/intimations/Prior_Intimation_of_Board_Meeting.pdf" target="_blank">
                                        <img src="assets/img/icons/pdf.png"> Prior Intimation of Board Meeting
                                      </a>
                                    </h5>
                                  </div>
                                </div>
                                
                                <div class="card">
                                  <div class="card-header" id="doc37">
                                    <h5 class="mb-0">
                                      <a href="assets/img/intimations/Prior_intimation_under_reg_29_CGFL_Split_030924.pdf" target="_blank">
                                        <img src="assets/img/icons/pdf.png"> Prior intimation under reg 29 CGFL Split 030924
                                      </a>
                                    </h5>
                                  </div>
                                </div>
                                
                                <div class="card">
                                  <div class="card-header" id="doc38">
                                    <h5 class="mb-0">
                                      <a href="assets/img/intimations/Prior_intimation_under_reg_29.pdf" target="_blank">
                                        <img src="assets/img/icons/pdf.png"> Prior intimation under reg 29
                                      </a>
                                    </h5>
                                  </div>
                                </div>
                                
                                <div class="card">
                                  <div class="card-header" id="doc39">
                                    <h5 class="mb-0">
                                      <a href="assets/img/intimations/Prior_intimation_with_notice_of_Boaard_meeting_for_the_financial_year_ended_31.03.2023.pdf" target="_blank">
                                        <img src="assets/img/icons/pdf.png"> Prior intimation with notice of Board meeting for the financial year ended 31.03.2023
                                      </a>
                                    </h5>
                                  </div>
                                </div>
                
              </div>
            </div>
         

        </div>
      </div>
    </div>


  </main>