<main class="page-content small-content">
  <div class="dn-breadcaump-area breadcrumb-default bg_image bg_image--2 pt--250  pb--130 pt_md--150  pb_md--100 pt_lg--150  pb_lg--100 pt_sm--150  pb_sm--100">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 m-auto">
        <div class="breadcrumb-content text-center"> 
          <h1 class="breadcrumb-content__title text-white fontWeight400"> Regulations 46 </h1>
         
         
        </div>
      </div>
    </div>
  </div>

</div>
  <div class="about-area construction-about bg-color bg-20" data-bg-color="#ffffff">
    <div class="container">
      <div class="row align-items-center  flex-column-reverse flex-md-row">
         <div class="col-lg-12 col-md-12 col-12">
          <div class="cons-about-inner small-content">
           
              
              <section class="section-team">
                  <div class="container">
                      
                      <div class="row">
                          <!-- Start Single Person -->
                          <div class="col-sm-12 col-lg-12 col-xl-12 popover__wrapper">
                            <table border="1" cellpadding="8" cellspacing="0">
                              <thead>
                                <tr>
                                  <th>Sr.No</th>
                                  <th>Description</th>
                                  <th>View</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr><td>1</td><td>Details of its business</td><td><a href="https://credentglobal.com/#/nbfc" target="_blank">View</a></td></tr>
                                <tr><td>2</td><td>Memorandum of Association and Articles of Association</td><td><a href="https://credentglobal.com/#/other-informations" target="_blank">View</a></td></tr>
                                <tr><td>3</td><td>Brief profile of board of directors including directorship and full-time positions in body corporates</td><td><a href="https://credentglobal.com/#/other-informations" target="_blank">View</a></td></tr>
                                <tr><td>4</td><td>Terms and conditions of appointment of independent directors</td><td><a href="/assets/documents/Independent Director Letter of Appointment.pdf" target="_blank">View</a></td></tr>
                                <tr><td>5</td><td>Composition of various committees of board of directors</td><td><a href="https://credentglobal.com/#/code-for-independent-directors" target="_blank">View</a></td></tr>
                                <tr><td>6</td><td>Code of conduct of board of directors and senior management personnel</td><td><a href="/assets/documents/Code_of_Conduct__for_Directors_and_senior_Managerial_Personnel.pdf" target="_blank">View</a></td></tr>
                                <tr><td>7</td><td>Details of establishment of vigil mechanism/ Whistle Blower policy</td><td><a href="/assets/documents/Vigil_Mechanism_Final.pdf" target="_blank">View</a></td></tr>
                                <tr><td>8</td><td>Criteria of making payments to non-executive directors</td><td><a href="https://credentglobal.com/#/policies" target="_blank">View</a></td></tr>
                                <tr><td>9</td><td>Policy on Material related party transactions</td><td><a href="/assets/img/policies/pms/Materiality of Related Party Transaction Policy.pdf" target="_blank">View</a></td></tr>
                                <tr><td>10</td><td>Policy for determining ‘material’ subsidiaries</td><td><a href="/assets/documents/Policy on Material Subsidiaries.pdf" target="_blank">View</a></td></tr>
                                <tr><td>11</td><td>Details of familiarization programmes imparted to independent directors</td><td><a href="/assets/documents/Independent Director Letter of Appointment.docx" target="_blank">View</a></td></tr>
                                <tr><td>12</td><td>The email address for grievance redressal and other relevant details</td><td><a href="https://credentglobal.com/#/investor-grievance" target="_blank">View</a></td></tr>
                                <tr><td>13</td><td>Designated Officials responsible for handling investor grievances</td><td><a href="https://credentglobal.com/#/investor-grievance" target="_blank">View</a></td></tr>
                                <tr><td>14 (a)</td><td>Notice of meeting of the board of directors where financial results shall be discussed</td><td><a href="https://credentglobal.com/#/board-meeting" target="_blank">View</a></td></tr>
                                <tr><td>14 (b)</td><td>Financial results post board meeting</td><td><a href="https://credentglobal.com/#/finacial-results" target="_blank">View</a></td></tr>
                                <tr><td>14 (c)</td><td>Annual report</td><td><a href="https://credentglobal.com/#/annual-report" target="_blank">View</a></td></tr>
                                <tr><td>15</td><td>Shareholding Pattern</td><td><a href="https://credentglobal.com/#/shareholding" target="_blank">View</a></td></tr>
                                <tr><td>16</td><td>Details of agreements with media companies</td><td>NA</td></tr>
                                <tr><td>17</td><td>Schedule of analysts or institutional investors meet</td><td>NA</td></tr>
                                <tr><td>18</td><td>Presentations for analyst/investor meets</td><td>NA</td></tr>
                                <tr><td>19</td><td>Audio/video recordings and transcripts of earnings calls</td><td>NA</td></tr>
                                <tr><td>20</td><td>New name and the Old name of the listed entity</td><td><a href="https://credentglobal.com/#/nbfc" target="_blank">View</a></td></tr>
                                <tr><td>21</td><td>Regulation 47 Disclosures</td><td><a href="https://credentglobal.com/#/newspaper-publication" target="_blank">View</a></td></tr>
                                <tr><td>22</td><td>Credit ratings obtained by the entity</td><td>NA</td></tr>
                                <tr><td>23</td><td>Separate audited financial statements of each subsidiary</td><td>NA</td></tr>
                                <tr><td>24</td><td>Secretarial Compliance Report</td><td><a href="https://credentglobal.com/#/secretarial-compliance-report" target="_blank">View</a></td></tr>
                                <tr><td>25</td><td>Policy for determination of materiality of events or information</td><td><a href="https://credentglobal.com/#/corporate-announcements" target="_blank">View</a></td></tr>
                                <tr><td>26</td><td>Disclosure of Contact Details of Key Managerial Personnel</td><td><a href="https://credentglobal.com/#/details-of-kmp" target="_blank">View</a></td></tr>
                                <tr><td>27</td><td>Disclosures under Regulation 30 (Bonus, Resignation, etc.)</td><td><a href="https://credentglobal.com/#/corporate-announcements" target="_blank">View</a></td></tr>
                                <tr><td>28</td><td>Statements of deviation(s) or variation(s)</td><td><a href="https://credentglobal.com/#/statement-deviation" target="_blank">View</a></td></tr>
                                <tr><td>29</td><td>Dividend distribution policy</td><td>NA</td></tr>
                                <tr><td>30</td><td>Annual Return under the Companies Act, 2013</td><td><a href="https://credentglobal.com/#/annual-returns" target="_blank">View</a></td></tr>
                                <tr><td>31</td><td>Employee Benefit Scheme Documents</td><td>NA</td></tr>
                              </tbody>
                            </table>
                            
                          </div>
                         
                          
                          
                      </div>
                  </div>
              </section> 
   

              
           
          </div>
        </div>

      </div>
    </div>
  </div>





<section class="cta-two">
<div class="cta-two-bg" style="background-image: url(assets/img/cta-two-bg.webp)"></div>
<div class="cta-two-bg-overly"></div>
<div class="container">
  <div class="row">
      <div class="col-xl-12">
          <div class="cta-two__inner">
              <h2 class="cta-two__title cta-two__title-2">Want to know us more? Great! <br>We want to know you too.</h2>
              <p class="cta-two__text">We can help you stand out your business</p>
              <ul class="list-unstyled cta-two__icon-box">
                  <li>
                      <a href="tel:9920056391">
                          <div class="cta-two__icon">
                              <i class="fa fa-phone"></i>
                          </div>
                      </a>
                  </li>
                  <li>
                      <a href="mailto:info@credentglobal.com">
                          <div class="cta-two__icon">
                              <i class="fa fa-envelope"></i>
                          </div>
                      </a>
                  </li>

                  <li>
                      <a href="">
                          <div class="cta-two__icon">
                              <i class="fa fa-comments"></i>
                          </div>
                      </a>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</div>
</section>


</main>

<!-- <table border="1" cellpadding="8" cellspacing="0">
  <thead>
    <tr>
      <th>Sr.No</th>
      <th>Description</th>
      <th>View</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>1</td><td>Details of its business</td><td><a href="https://credentglobal.com/#/nbfc" target="_blank">View</a></td></tr>
    <tr><td>2</td><td>Memorandum of Association and Articles of Association</td><td><a href="https://credentglobal.com/#/other-informations" target="_blank">View</a></td></tr>
    <tr><td>3</td><td>Brief profile of board of directors including directorship and full-time positions in body corporates</td><td><a href="https://credentglobal.com/#/other-informations" target="_blank">View</a></td></tr>
    <tr><td>4</td><td>Terms and conditions of appointment of independent directors</td><td><a href="https://credentglobal.com/#/code-for-independent-directors" target="_blank">View</a></td></tr>
    <tr><td>5</td><td>Composition of various committees of board of directors</td><td><a href="https://credentglobal.com/#/committees" target="_blank">View</a></td></tr>
    <tr><td>6</td><td>Code of conduct of board of directors and senior management personnel</td><td><a href="https://credentglobal.com/#/code-for-independent-directors" target="_blank">View</a></td></tr>
    <tr><td>7</td><td>Details of establishment of vigil mechanism/ Whistle Blower policy</td><td><a href="https://credentglobal.com/#/code-for-independent-directors" target="_blank">View</a></td></tr>
    <tr><td>8</td><td>Criteria of making payments to non-executive directors</td><td><a href="https://credentglobal.com/#/policies" target="_blank">View</a></td></tr>
    <tr><td>9</td><td>Policy on dealing with related party transactions</td><td><a href="https://credentglobal.com/#/policies" target="_blank">View</a></td></tr>
    <tr><td>10</td><td>Policy for determining ‘material’ subsidiaries</td><td><a href="https://credentglobal.com/#/policies" target="_blank">View</a></td></tr>
    <tr><td>11</td><td>Details of familiarization programmes imparted to independent directors</td><td><a href="https://credentglobal.com/#/code-for-independent-directors" target="_blank">View</a></td></tr>
    <tr><td>12</td><td>The email address for grievance redressal and other relevant details</td><td><a href="https://credentglobal.com/#/investor-grievance" target="_blank">View</a></td></tr>
    <tr><td>13</td><td>Designated Officials responsible for handling investor grievances</td><td><a href="https://credentglobal.com/#/investor-grievance" target="_blank">View</a></td></tr>
    <tr><td>14 (a)</td><td>Notice of meeting of the board of directors where financial results shall be discussed</td><td><a href="https://credentglobal.com/#/board-meeting" target="_blank">View</a></td></tr>
    <tr><td>14 (b)</td><td>Financial results post board meeting</td><td><a href="https://credentglobal.com/#/finacial-results" target="_blank">View</a></td></tr>
    <tr><td>14 (c)</td><td>Annual report</td><td><a href="https://credentglobal.com/#/annual-report" target="_blank">View</a></td></tr>
    <tr><td>15</td><td>Shareholding Pattern</td><td><a href="https://credentglobal.com/#/shareholding" target="_blank">View</a></td></tr>
    <tr><td>16</td><td>Details of agreements with media companies</td><td>NA</td></tr>
    <tr><td>17</td><td>Schedule of analysts or institutional investors meet</td><td>NA</td></tr>
    <tr><td>18</td><td>Presentations for analyst/investor meets</td><td>NA</td></tr>
    <tr><td>19</td><td>Audio/video recordings and transcripts of earnings calls</td><td>NA</td></tr>
    <tr><td>20</td><td>New name and the Old name of the listed entity</td><td><a href="https://credentglobal.com/#/nbfc" target="_blank">View</a></td></tr>
    <tr><td>21</td><td>Regulation 47 Disclosures</td><td><a href="https://credentglobal.com/#/newspaper-publication" target="_blank">View</a></td></tr>
    <tr><td>22</td><td>Credit ratings obtained by the entity</td><td>NA</td></tr>
    <tr><td>23</td><td>Separate audited financial statements of each subsidiary</td><td>NA</td></tr>
    <tr><td>24</td><td>Secretarial Compliance Report</td><td><a href="https://credentglobal.com/#/secretarial-compliance-report" target="_blank">View</a></td></tr>
    <tr><td>25</td><td>Policy for determination of materiality of events or information</td><td><a href="https://credentglobal.com/#/corporate-announcements" target="_blank">View</a></td></tr>
    <tr><td>26</td><td>Disclosure of Contact Details of Key Managerial Personnel</td><td><a href="https://credentglobal.com/#/details-of-kmp" target="_blank">View</a></td></tr>
    <tr><td>27</td><td>Disclosures under Regulation 30 (Bonus, Resignation, etc.)</td><td><a href="https://credentglobal.com/#/corporate-announcements" target="_blank">View</a></td></tr>
    <tr><td>28</td><td>Statements of deviation(s) or variation(s)</td><td><a href="https://credentglobal.com/#/statement-deviation" target="_blank">View</a></td></tr>
    <tr><td>29</td><td>Dividend distribution policy</td><td>NA</td></tr>
    <tr><td>30</td><td>Annual Return under the Companies Act, 2013</td><td><a href="https://credentglobal.com/#/annual-returns" target="_blank">View</a></td></tr>
    <tr><td>31</td><td>Employee Benefit Scheme Documents</td><td>NA</td></tr>
  </tbody>
</table> -->
