<main class="page-content">
    <div
      class="dn-breadcaump-area breadcrumb-default bg_image career pt--250  pb--130 pt_md--150  pb_md--100 pt_lg--150  pb_lg--100 pt_sm--150  pb_sm--100">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="breadcrumb-content text-center">
              <h1 class="breadcrumb-content__title text-white fontWeight400">JOIN OUR TEAM</h1>
              <ul class="breadcrumb-content__nav text-white">
                <li><a routerLink="/home">Home</a></li>
                <li class="separator">/</li>
                <li class="active">Careers</li>
              </ul> 
              <a href="#openings" class="btn btn-outline mt-3" >See current openings</a>
            </div>
          </div>
        </div>
      </div> 
  
    </div> 
    <div class="about-area construction-about bg-color bg-19 pt-5" data-bg-color="#ffffff">
      <div class="container">
       <div class="section-title text-center">
        <h1 class="section-title__title font--32 pb-3">Why Join Us</h1>
    </div>


    <div class="teamSm"> 
      
      <div class="row row5"> 

            <div class="col-lg-4 col-sm-6 abtColDIv">
              <div class="nteItem">
                 
                  <img src="../../assets/img/icons/growth.png">
                  <h2 class="nteName">Professional growth <br> opportunities</h2> 
                  <div class="nteItemDesc"><p>At Credent Global, we prioritise professional growth and provide ample opportunities for career advancement. Our organisation believes in investing in our employees' development and encourages continuous learning. Through mentorship programs, training sessions, and access to industry-leading resources, we empower our team members to enhance their skills and reach their full potential. Whether it's through challenging projects, cross-functional collaborations, or attending conferences and workshops, we are committed to fostering a culture of growth and supporting our employees' professional aspirations. Join us at Credent Global and unlock a world of opportunities to thrive and advance in your career.</p></div>
              </div>
          </div>  
          
          <div class="col-lg-4 col-sm-6 abtColDIv">
              <div class="nteItem">
                <img src="../../assets/img/icons/team.png">
                <h2 class="nteName">Collaborative work <br> environment</h2>  
                  <div class="nteItemDesc"><p>At Credent Global, we foster a collaborative work environment where teamwork and innovation thrive. We believe that great ideas are born through collective effort and diverse perspectives. Our team members are encouraged to collaborate, share ideas, and work together to achieve common goals. We value open communication, mutual respect, and a supportive atmosphere where everyone's voice is heard and contributions are valued. Whether it's brainstorming sessions, cross-departmental projects, or knowledge-sharing initiatives, we believe that collaboration fuels creativity and drives success. Join us at Credent Global and be part of a team where collaboration is not only encouraged but celebrated as a key driver of our collective achievements.</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6 abtColDIv">
              <div class="nteItem">
                <img src="../../assets/img/icons/problem-solving.png">
                <h2 class="nteName">Competitive compensation &  benefits</h2> 
                 
                  
                  <div class="nteItemDesc"><p> At Credent Global, we understand the importance of competitive compensation and comprehensive benefits in attracting and retaining top talent. We offer a compensation package that reflects the value and expertise our employees bring to the table. In addition to competitive salaries, we provide a range of benefits, including health insurance, retirement plans, paid time off, and professional development opportunities. We believe in recognising and rewarding the hard work and dedication of our team members. Join us at Credent Global and enjoy the satisfaction of being fairly compensated while having access to a comprehensive benefits package that supports your overall well-being.</p></div>
              </div>
          </div>


          <div class="col-lg-4 col-sm-6 abtColDIv">
              <div class="nteItem">
                <img src="../../assets/img/icons/financial-profit.png">
                <h2 class="nteName">Company culture and  <br> values</h2> 
                 
                  <div class="nteItemDesc"><p>At Credent Global, our company culture is built on a strong foundation of integrity, collaboration, and innovation. We foster an inclusive and supportive work environment where every individual is valued and respected. Our team members embody our core values of professionalism, accountability, and a commitment to excellence. We believe in nurturing a culture of continuous learning, personal growth, and work-life balance. At Credent Global, we celebrate diversity and encourage open communication, collaboration, and teamwork. Join our team and become part of a company culture that promotes creativity, empowers individuals to make a difference, and fosters a sense of belonging and shared purpose.</p></div>
              </div>
          </div> 

          <div class="col-lg-4 col-sm-6 abtColDIv">
              <div class="nteItem">
                <img src="../../assets/img/icons/inventor.png">
                <h2 class="nteName">Impactful <br> work</h2> 
                  
                 
                  <div class="nteItemDesc">
                      <p>At Credent Global, we believe in the power of impactful work that makes a difference. Our team is dedicated to delivering exceptional results and creating meaningful outcomes for our clients. Whether it's helping businesses achieve financial success, providing innovative solutions, or making a positive impact in the community, our work goes beyond the ordinary. We strive to create value and drive positive change in everything we do. Join Credent Global and be part of a team that takes pride in the impactful work we accomplish together, making a lasting difference in the lives of our clients and the world around us.</p>
                      
                  </div>
              </div>
          </div> 

          <div class="col-lg-4 col-sm-6 abtColDIv">
            <div class="nteItem">
              <img src="../../assets/img/icons/friends.png">
              <h2 class="nteName">Exposure to Financial  <br> Market</h2> 
                
                <div class="nteItemDesc"><p>At Credent Global, we offer unparalleled exposure to the dynamic world of financial markets. Our team members have the opportunity to work closely with industry experts, gaining valuable insights and expertise in the ever-evolving financial landscape. We provide a platform for individuals to deepen their understanding of global markets, develop their financial analysis skills, and stay at the forefront of industry trends. With a diverse portfolio of clients and a commitment to staying ahead of the curve, Credent Global offers a stimulating and rewarding environment for professionals looking to expand their knowledge and make a meaningful impact in the financial market. Join us and unlock exciting opportunities for growth and career advancement in the world of finance at Credent Global.</p></div>
            </div>
        </div>

 
          
         
      </div>
  </div>

     
      </div>
    </div>
   
   
    <section class="faq-one bg-light ptb--100" id="openings">
      <div class="container currentOpenings">
  
        <div class="row">

            <div class="col-xl-6 col-lg-6">
              <div class="row mb-2">
                <div class="col-xl-6 col-lg-6">
                    <img src="../../assets/img/about/team-career.png" alt="">
                </div>

                <div class="col-xl-6 col-lg-6">
                    <img src="../../assets/img/about/join-team-career.png" alt="">
                </div>
              </div>
              
                    <img src="assets/img/about-us.webp" alt="">
                
              </div>



          <div class="col-xl-6">
            <div class="section-title">
              <h2 class="section-title__title font--32">Current Openings</h2> 
            </div>

            <!-- <ul class="nav nav-tabs nav-pills">
                <li ><a data-toggle="tab" href="#tab1" class="active">Credent Global</a></li>
                <li><a data-toggle="tab" href="#tab2">ETOS</a></li>
                <li><a data-toggle="tab" href="#tab3">Orange Factori</a></li>
               </ul> -->


              <div class="tab-content pt-3">
                <!-- <div id="tab1" class="tab-pane fade in active"> -->
                  <div id="tab1" >
                    <div class="card mb-2"  *ngFor="let items of jobs">
                        <div class="card-body">
                            <div class="row items-center" data-toggle="modal" data-target="#applyJob">
                                <div class="col-xl-9 col-lg-9 col-8">
                                    <a>
                                <h5 class="mb-0 pb-0">{{items.title}}</h5>
                                <p class="mt-1"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 14.15v4.25c0 1.094-.787 2.036-1.872 2.18-2.087.277-4.216.42-6.378.42s-4.291-.143-6.378-.42c-1.085-.144-1.872-1.086-1.872-2.18v-4.25m16.5 0a2.18 2.18 0 00.75-1.661V8.706c0-1.081-.768-2.015-1.837-2.175a48.114 48.114 0 00-3.413-.387m4.5 8.006c-.194.165-.42.295-.673.38A23.978 23.978 0 0112 15.75c-2.648 0-5.195-.429-7.577-1.22a2.016 2.016 0 01-.673-.38m0 0A2.18 2.18 0 013 12.489V8.706c0-1.081.768-2.015 1.837-2.175a48.111 48.111 0 013.413-.387m7.5 0V5.25A2.25 2.25 0 0013.5 3h-3a2.25 2.25 0 00-2.25 2.25v.894m7.5 0a48.667 48.667 0 00-7.5 0M12 12.75h.008v.008H12v-.008z" />
                                  </svg>
                                  {{items.experience_required}}</p>
                                </a>
                             </div>
        
                             <div class="col-xl-3 col-lg-3 col-4 text-center cursor text-pri"  data-toggle="modal" data-target="#applyJob" (click)="selectedJob(items)">
                                <b> Apply </b><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5" />
                                  </svg> 
                             </div>
                        </div>
                        </div>
                    </div>
                    
                </div>
                
               
              </div> 
          </div>
         
        </div>
      </div>
    </section>
  
  
  
  
  
    <section class="cta-two">
      <div class="cta-two-bg" style="background-image: url(assets/img/cta-two-bg.webp)"></div>
      <div class="cta-two-bg-overly"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="cta-two__inner">
              <h2 class="cta-two__title cta-two__title-2">Want to know us more? Great! <br>We want to know you too.</h2>
              <p class="cta-two__text">We can help you stand out your business</p>
              <ul class="list-unstyled cta-two__icon-box">
                <li>
                  <a href="tel:9920056391">
                    <div class="cta-two__icon">
                      <i class="fa fa-phone"></i>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="mailto:info@credentglobal.com">
                    <div class="cta-two__icon">
                      <i class="fa fa-envelope"></i>
                    </div>
                  </a>
                </li>
                 <li>
                  <a href="">
                    <div class="cta-two__icon">
                      <i class="fa fa-comments"></i>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  


  <div class="modal fade jobApply" id="applyJob">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content"> 
        <div class="modal-header">
          <h4 class="modal-title">Apply for {{selectedJobList}}</h4>
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div> 

        <div class="modal-body">
           <!-- <form (ngSubmit)="f.form.valid && addApplyJobInfo(f)" #f="ngForm" novalidate>  -->
          <form  name="form" #f="ngForm" (ngSubmit)="f.form.valid && jobPost(f)" novalidate>

            <div class="form-group">
              <input type="text" class="form-control" id="position_applied" name="position_applied" readonly value="{{selectedJobList}}" #position_applied="ngModel" [(ngModel)]="form.position_applied">
            </div>

            <div class="form-group">
              <input type="text" class="form-control" placeholder="Name" id="candidate_name" name="candidate_name" required
              [ngClass]="{'is-invalid': f.submitted && candidate_name.invalid}"
              #candidate_name="ngModel" [(ngModel)]="form.candidate_name">
            </div> 


             <div class="form-group">
              <input type="tel" class="form-control" placeholder="Mobile Number" id="userPhone" name="userPhone" [ngClass]="{'is-invalid': f.submitted && userPhone.invalid}" #userPhone="ngModel" [(ngModel)]="form.userPhone" required="">
            </div> 


            <div class="form-group">
              <input type="email" class="form-control" placeholder="Email" id="candidate_email" name="candidate_email"  [ngClass]="{'is-invalid': f.submitted && candidate_email.invalid}"  #candidate_email="ngModel" [(ngModel)]="form.candidate_email" required="">
            </div> 

           
            <div class="form-group">
               <input type="file" class="form-control" placeholder="Upload Resume" id="candidate_cv" name="candidate_cv" [ngClass]="{'is-invalid': f.submitted && candidate_cv.invalid}"  #candidate_cv="ngModel" [(ngModel)]="form.candidate_cv" required="" (change)="upload($event)" 
               accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint,
               application/pdf">
            </div>


             <div class="form-group">
              <textarea class="form-control" id="message" name="message" rows="5" placeholder="Message" [ngClass]="{'is-invalid': f.submitted && message.invalid}"  #message="ngModel" [(ngModel)]="form.message" required>
               </textarea>
            </div> 



            <div class="form-group">
              <input type="submit" value="Submit">
              <!-- <button type="button" (click)="onReset(f)" class="btn btn-warning float-right">
                Reset
              </button> -->

               <input [formControl]="honeypot" class="hidden" hidden type="text" />

              <div [ngClass]="!submitted? 'hidden' : 'visible'" class="text-center visible mt-3 w-100">
                <span class="text-center text-success"><b>{{responseMessage}}</b></span>
              </div>
            </div>



            <!-- <div class="text-center pt-5">
              <button type="submit" class="btn btn-primary">Submit</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div> -->
          </form>
        </div>
        
         
      
        
      </div>
    </div>
  </div>