<!-- <a href="https://wa.me/9160415851" target="_blank" class="whatsappIcon">
   <i class="fa fa-whatsapp"></i>
</a> -->

<footer class="footer-default bg-color position-relative portfolio-showcase__3"
  style="background-image: url(assets/img/footer-bubbles.webp);background-color: #006969;">
  <div class="container-fluid">
    <div class="footer-top-area">
      <div class="row">

        <div class="col-lg-4 col-xl-4 col-sm-6 col-12 col-xl-auto">
          <div class="footer-widget footer-column footer-column__a ">
            <div class="inner">
              <div class="logo">
                <a routerLink="/home">
                  <img src="/assets/img/logo/ampl-white-logo.webp" alt="logo white">
                </a>
              </div>
              <div class="footer-content pt-3">

                <p> <b class="text-white">AMPL Asset Management Pvt. Ltd. <br>                      
(Formerly Known as Credent Asset Management Services Private Limited)</b><br>

                  CIN No. - U65923MH2014PTC258173<br>
                  PMS Registration Code: INP000006101<br>
                  Investment Advisory License : INA000019859 <br>
                  Equity AIF (CAT II)- INVICTO Trust: IN/AIF2/22-23/1069<br>
                  Equity AIF (CAT III)- VALIDUS Trust: IN/AIF3/22-23/1054
                  <br>
                  <!-- Real Estate AIF (CAT II)- India Asset Growth Fund: IN/AIF2/12-13/0037<br>
              Real Estate AIF (CAT II)- India Asset Growth Fund II: IN/AIF2/15-16/0212<br> -->

                </p>


                <p><b class="text-white">AMPL Wealth Management Private Limited <br>                      
                  (Formerly Known as Credent Investment Private Limited)</b><br>

                  CIN No: U65929MH2018PTC316508</p>

                <p><b class="text-white">
                    AMPL Capital Advisors Private Limited<br>
                    (Formerly Known as Credent Property Advisory Private Limited)
                  </b>

                  <br>
                  CIN No. - U70200MH2022PTC378498 <br>

                  RERA NUMBER: A51900022993
                </p>

                <p><b class="text-white">
                    AMPL Capital Limited<br>                       
                  (Formerly Known as Credent Global Finance Limited)</b><br>

                  CIN No. - L65910MH1991PLC404531<br>

                  RBI Registration No. - B-13.02494 <br>
                  BSE (Scrip Code): 539598<br>

                  BSE (Company Symbol): AMPL</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-8 col-xl-8 col-sm-6 col-12 col-xl-auto">
          <div class="row">
            <div class="col-lg-4 col-xl-4 col-sm-6 col-6 col-xl-auto d-none d-xl-block d-lg-block">
              <div class="footer-widget footer-column footer-column__b">
                <div class="inner">
                  <h4 class="fontWeight400 text-white ft-title">Services</h4>
                    <div class="footer-content">

                      <ul class="quick-link">
                        <li><a routerLink="/nbfc"><span>NBFC</span></a></li>
                        <li><a routerLink="/asset-management"><span>Asset Management</span></a></li>
                        <li><a routerLink="/investmentbanking"><span>Investment Banking</span></a></li>
                        
                      </ul>

                    </div>
                  
                </div>
              </div>
            </div>
          

              <div class="col-lg-4 col-xl-4 col-sm-6 col-6 col-xl-auto d-none d-xl-block d-lg-block">
                <div class="footer-widget footer-column footer-column__b">
                  <div class="inner">
                    <h4 class="fontWeight400 text-white ft-title">Quick Links</h4>
                    <div class="footer-content">

                      <ul class="quick-link">
                        <li><a routerLink="/about-us" (click)="scrollToTop()"><span>About Us</span></a></li>
                        <li><a routerLink="/team" (click)="scrollToTop()"><span>Our Team</span></a></li>
                        <li><a routerLink="/media" (click)="scrollToTop()"><span>Media</span></a></li>
                        <li><a routerLink="/career" (click)="scrollToTop()"><span>Careers</span></a></li>
                        <li><a routerLink="/brouchers" (click)="scrollToTop()"><span>Brouchers</span></a></li>
                        <li><a routerLink="/contact-us" (click)="scrollToTop()"><span>ContactUs</span></a></li>
                        <li><a routerLink="/disclaimer" (click)="scrollToTop()"><span>Disclaimer</span></a></li>
                        <li><a routerLink="/policies" (click)="scrollToTop()"><span>Policies</span></a></li>
                      </ul>

                    </div>
                  </div>
                </div>
              </div>

                  <div class="col-lg-4 col-xl-4 col-sm-6 col-12 col-xl-auto">
                    <div class="footer-widget footer-column footer-column__b">
                        <div class="inner">
                          <h4 class="fontWeight400 text-white ft-title">Contact Us</h4>

                          <div class="footer-content">

                            <div class="address">
                              <p class="mb--0">Ampl Capital Ltd.</p>
                              <p class="mb--0"><a class="d-flex items-center"
                                  href="https://api.whatsapp.com/send?phone=+919920056391&text=Hi%2C%0APlease%20provide%20me%20more%20information%20about%20Credent%20Global%20Finance%20and%20its%20services."><i
                                    class="fa fa-whatsapp"></i> +91 99200 56391</a></p>
                              <p class="mb--0">AMPL Asset Management Pvt. Ltd.</p>
                              <p class="mb--0"><a class="d-flex items-center"
                                  href="https://api.whatsapp.com/send?phone=+918657023041&text=Hi%2C%0APlease%20provide%20me%20more%20information%20about%20Credent%20Global%20Finance%20and%20its%20services."><i
                                    class="fa fa-whatsapp"></i> +91 86570 23041</a></p>
                              <p class="mb--0"><a class="d-flex items-center" href="tel:022 68452001"><img
                                    src="assets/img/icons/landline.png" style="height: 14px;"> 022 68452001</a></p>


                              <p class="mb--0"><a class="d-flex items-center mr-1" href="mailto:info@amplcapital.com"><i
                                    class="fa fa-envelope"></i>
                                  info@amplcapital.com</a></p>

                            </div>

                            <div class="footer-social-icon ptb--10 d-flex">
                              <a href="https://www.facebook.com/CredentGlobal" target="_blank"><i class="fa fa-facebook"></i></a>
                              <a href="https://twitter.com/CredentGlobal/" target="_blank"><i class="fa fa-twitter"></i></a>
                              <a href="https://www.instagram.com/CredentGlobal/" target="_blank"><i class="fa fa-instagram"></i></a>
                              <a href="https://www.linkedin.com/company/credentglobal/" target="_blank"><i
                                  class="fa fa-linkedin"></i></a>
                              <a href="https://api.whatsapp.com/send?phone=9920056391" target="_blank"><i
                                  class="fa fa-whatsapp"></i></a>
                            </div>

                            <a class="button-link button-size__lg2 button__theme-color" routerLink="/contact-us"><span
                                class="button-text button-text__15 text-dark">CONTACT US</span></a>
                            
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
                  
          <div class="row flex-row mt-3">
                <div class="col-8">
                  <h4 class="fontWeight400 text-white ft-title">Registered Office Address</h4>
                  <p> 12th FLOOR, UNIT NO. 1216, C WING, ONE BKC, G Block, Bandra Kurla Complex, Bandra East, Mumbai, Maharashtra 400051</p>
                  <h4 class="fontWeight400 text-white ft-title">NBFC Office Address</h4>
                  <p> 12th FLOOR, UNIT NO. 1216, C WING, ONE BKC, G Block, Bandra Kurla Complex, Bandra East, Mumbai, Maharashtra 400051</p>
                  <h4 class="fontWeight400 text-white ft-title">Asset Management Office Address</h4>
                  <p> 306, B2, Shubham Centre, Cardinal Gracious Road, Chakala Andheri East Mumbai - 400099</p>
                  
                </div>
              <div class="col-4">
                <div class="col mb-3">
                      <p> <b class="text-white">Credent Asset Management</b><br></p>
                      <div class=" d-none d-md-flex gap-3">
                        <a class="mr-2" title="Google Play" target="_blank" rel="noopener noreferrer"
                          href="https://play.google.com/store/apps/details?id=com.quadralyst.credent&hl=en">
                          <img alt="Google Play" loading="lazy" width="120" height="40" decoding="async" class="img-fluid"
                          src="assets/img/googleplay-badge.png">
                        </a>
                        <a title="Apple Appstore" target="_blank" rel="noopener noreferrer"
                          href="https://apps.apple.com/us/app/credent-assets/id6746838684">
                          <img alt="Apple Appstore" loading="lazy" width="120" height="40" decoding="async" class="img-fluid"
                          src="assets/img/download-on-app-store.png">
                        </a>                    
                      </div>
                </div>
                <div class="col mt-2">
                        <p> <b class="text-white">Cred Daily app</b><br></p>
                          <div class=" d-none d-md-flex gap-3 ">
                            <a class="mr-2" title="Google Play" target="_blank" rel="noopener noreferrer"
                              href="https://play.google.com/store/apps/details?id=com.cred.daily&hl=en">
                              <img alt="Google Play" loading="lazy" width="120" height="40" decoding="async" class="img-fluid"
                              src="assets/img/googleplay-badge.png">
                            </a>
                          </div>
                </div>
              </div>

                

              </div>
            

            </div>
          </div>
        </div>


        

      </div>

 
  
  
  <!-- Start Copyright Area -->
  <div class="copyright-area">
    <div class="container-fluid">
      <div class="col-lg-12 col-md-12 col-12">
        <div class="content text-center">
          <p class="text-white">&copy; 2025 <a class="text-warning" href="#">AMPL Capital.</a>All Rights Reserved.</p>

        </div>
      </div>
    </div>
  </div>
  <!-- End Copyright Area -->
</footer>