<main class="page-content">

    <div
      class="dn-breadcaump-area breadcrumb-default bg_image nbfs pt--250  pb--130 pt_md--150  pb_md--100 pt_lg--150  pb_lg--100 pt_sm--150  pb_sm--100">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="breadcrumb-content text-center text-white">
              <h1 class="breadcrumb-content__title text-white fontWeight400">Documents in respect to Rights Issue</h1>
              <ul class="breadcrumb-content__nav text-white">
                <li><a routerLink="/home">Home</a></li>
                <li class="separator">/</li>
                <li class="active">Documents in respect to Rights Issue</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="about-area construction-about bg-20 pt-5" data-bg-color="#ffffff">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          
          <div class="col-lg-12 col-mb-12 col-12 wow move-up">
              <div id="faqsThree" class="faqsOne pdf-files mt--50"> 



                <div class="card">
  <div class="card-header" id="doc1">
    <h5 class="mb-0">
      <a href="assets/img/right-issues/Abridged_Letter_of_Offer.PDF" target="_blank">
        <img src="assets/img/icons/pdf.png"> Abridged Letter of Offer
      </a>
    </h5>
  </div>
</div>

<div class="card">
  <div class="card-header" id="doc2">
    <h5 class="mb-0">
      <a href="assets/img/right-issues/Coorigendum to Notice of Postal Ballot dated 21.04.2022.pdf" target="_blank">
        <img src="assets/img/icons/pdf.png"> Corrigendum to Postal Ballot (April 21, 2022)
      </a>
    </h5>
  </div>
</div>

<div class="card">
  <div class="card-header" id="doc3">
    <h5 class="mb-0">
      <a href="assets/img/right-issues/CORRIG1.PDF" target="_blank">
        <img src="assets/img/icons/pdf.png"> Corrigendum Document 1
      </a>
    </h5>
  </div>
</div>

<div class="card">
  <div class="card-header" id="doc4">
    <h5 class="mb-0">
      <a href="assets/img/right-issues/Corrigendum_cum_addendum_to_LOF.pdf" target="_blank">
        <img src="assets/img/icons/pdf.png"> Corrigendum cum Addendum to LOF
      </a>
    </h5>
  </div>
</div>

<div class="card">
  <div class="card-header" id="doc5">
    <h5 class="mb-0">
      <a href="assets/img/right-issues/Final_Letter_of_Offer_of_CGFL.pdf" target="_blank">
        <img src="assets/img/icons/pdf.png"> Final Letter of Offer of CGFL
      </a>
    </h5>
  </div>
</div>

<div class="card">
  <div class="card-header" id="doc6">
    <h5 class="mb-0">
      <a href="assets/img/right-issues/In_Principal_Approval_letter_dated_30.06.2023.pdf" target="_blank">
        <img src="assets/img/icons/pdf.png"> In-Principle Approval Letter (June 30, 2023)
      </a>
    </h5>
  </div>
</div>

<div class="card">
  <div class="card-header" id="doc7">
    <h5 class="mb-0">
      <a href="assets/img/right-issues/INFORMATION MEMORANDUM.pdf" target="_blank">
        <img src="assets/img/icons/pdf.png"> Information Memorandum
      </a>
    </h5>
  </div>
</div>

<div class="card">
  <div class="card-header" id="doc8">
    <h5 class="mb-0">
      <a href="assets/img/right-issues/Letter of Offer.pdf" target="_blank">
        <img src="assets/img/icons/pdf.png"> Letter of Offer
      </a>
    </h5>
  </div>
</div>

<div class="card">
  <div class="card-header" id="doc9">
    <h5 class="mb-0">
      <a href="assets/img/right-issues/Pre-issue_Advertisement.pdf" target="_blank">
        <img src="assets/img/icons/pdf.png"> Pre-Issue Advertisement
      </a>
    </h5>
  </div>
</div>



                

                

                
               
              </div>
            </div>
         

        </div>
      </div>
    </div>
 
  </main>
