<main class="page-content">
    <div
      class="dn-breadcaump-area breadcrumb-default bg_image asset-management pt--250  pb--130 pt_md--150  pb_md--100 pt_lg--150  pb_lg--100 pt_sm--150  pb_sm--100">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="breadcrumb-content text-center">
              <h1 class="breadcrumb-content__title text-white fontWeight400"> Alternative Investment Funds</h1>
              <ul class="breadcrumb-content__nav text-white">
                <li><a routerLink="/home">Home</a></li>
                <li class="separator">/</li>
                <li class="active">Asset Management</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  
  
    <div class="about-area construction-about bg-color bg-19" data-bg-color="#ffffff">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-lg-6 col-md-12 col-12">
            <div class="possition-relative ">
              <div class="thumb wow move-up">
                <img src="assets/img/asset-management.webp" alt="Asset Management">
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-12">
            <div class="cons-about-inner small-content">
              <div class="section_title--2 ">
                <h2 class="title font--60 pb--30 mb--35 wow move-up">Real Estate </h2>
                <h4 class="wow move-up animate">Real Estate Asset Fund: Low Volatility, Steady Returns </h4>
                <p class="pra2 wow move-up">
                    Our equity-backed real estate debt funds invest in bespoke residential projects across 6 major cities of India. Leveraging the debt-based structure in compliance with SEBI’s CAT II alternate investment, this asset class is comfortable and lucrative for those looking for risk-proofed investments and dependable returns.</p>
                <p class="pra2 wow move-up">We pride ourselves upon our long-sightedness and smooth exit strategies, which can often be missing while drafting an investment prospectus. We get you in with a clear goal to get you out with good returns, and hence, our asset management services extend to asset acquisition, restructuring, and growth as well to ensure wealth maximization.
                </p>
              </div>
  
            </div>
          </div>
  
        </div>

        <div class="row ptb--40">
            <div class="col-6 col-xl-4 col-lg-4 wow fadeInUp animated" data-wow-delay="0ms" data-wow-duration="1500ms"
              style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
              <!--Real World Single-->
              <div class="real-world__single">
                <h2 class="real-world__title"><a>4 <br> Funds</a>
                </h2>
       
                <div class="real-world__icon-box">
                  <span class="icon-wealth"></span>
                </div>
              </div>
            </div>
            <div class="col-6 col-xl-4 col-lg-4 wow fadeInUp animated" data-wow-delay="300ms" data-wow-duration="1500ms"
              style="visibility: visible; animation-duration: 1500ms; animation-delay: 300ms; animation-name: fadeInUp;">
              <!--Real World Single-->
              <div class="real-world__single">
                <h2 class="real-world__title"><a>13 <br> Investments</a></h2>
              
                <div class="real-world__icon-box">
                  <span class="icon-data-analytics"></span>
                </div>
              </div>
            </div>
            <div class="col-6 col-xl-4 col-lg-4 wow fadeInUp animated" data-wow-delay="600ms" data-wow-duration="1500ms"
              style="visibility: visible; animation-duration: 1500ms; animation-delay: 600ms; animation-name: fadeInUp;">
              <!--Real World Single-->
              <div class="real-world__single">
                <h2 class="real-world__title"><a>500 crs + <br> Investments</a>
                </h2>
             
                <div class="real-world__icon-box">
                  <span class="icon-report"></span>
                </div>
              </div>
            </div>
    
    
            <div class="col-6 col-xl-4 col-lg-4 wow fadeInUp animated" data-wow-delay="0ms" data-wow-duration="1500ms"
              style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
              <!--Real World Single-->
              <div class="real-world__single">
                <h2 class="real-world__title"><a>200 + No. of <br> Investors</a>
                </h2>
           
                <div class="real-world__icon-box">
                  <span class="icon-analysis"></span>
                </div>
              </div>
            </div>
            <div class="col-6 col-xl-4 col-lg-4 wow fadeInUp animated" data-wow-delay="300ms" data-wow-duration="1500ms"
              style="visibility: visible; animation-duration: 1500ms; animation-delay: 300ms; animation-name: fadeInUp;">
              <!--Real World Single-->
              <div class="real-world__single">
                <h2 class="real-world__title"><a>75 + <br> Return Payouts</a></h2>
                 
                <div class="real-world__icon-box">
                  <span class="icon-business"></span>
                </div>
              </div>
            </div>
            <div class="col-6 col-xl-4 col-lg-4 wow fadeInUp animated" data-wow-delay="600ms" data-wow-duration="1500ms"
              style="visibility: visible; animation-duration: 1500ms; animation-delay: 600ms; animation-name: fadeInUp;">
              <!--Real World Single-->
              <div class="real-world__single">
                <h2 class="real-world__title"><a>5 full exits & 6 <br> partial exits</a>
                </h2>
           
                <div class="real-world__icon-box">
                  <span class="icon-video"></span>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  
  
  
    <section class="industries pb--100">
      <div class="container">
         
  
        <div class="row mt--30 justify-content-center mobile-scroll">
          <!-- Start Single Team -->
          <!-- <div class="col-lg-5 col-xl-4 col-md-6 col-sm-12 col-11 mt--30 wow move-up animate">
            <div class="card team-card shadow-lg">
              <div class="card-body">
                <div class="team team__style--1 text-center">
                  <div class="thumbnail paralax-image">
                    <img src="assets/img/team/vishnu.png" alt="Vishnu Rathod">
  
                  </div>
                  <div class="info">
                    <h2 class="font--20"><a> VISHNU RATHOD 
                       
                    </a></h2>
  
                    <p class="lead">Vishnu Rathod has spearheaded multi-million dollar transactions over the last 17 years
                      for
                      marquee real estate advisories across India, and currently commands an AUM of INR 250 Crore for
                      Credent.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
          <!-- End Single Team -->
  
          <!-- Start Single Team -->
          <div class="col-lg-5 col-xl-4 col-md-6 col-sm-12 col-11 mt--30 wow move-up animate">
            <div class="card team-card shadow-lg">
              <div class="card-body">
                <div class="team team__style--1 text-center">
                  <div class="thumbnail paralax-image">
                    <img src="assets/img/team/Aditya-Kanoria.webp" alt="Aditya-Kanoria ">
  
                  </div>
                  <div class="info">
                    <h2 class="font--20"><a href="https://www.linkedin.com/in/aditya-vikram-kanoria-9b91789/" target="_blank"> ADITYA KANORIA
                      <span class="btn btn-primary btn-circle"><i class="fa fa-linkedin"></i> </span> </a></h2> 
                    <p class="lead">15+ years helping businesses soar high with dynamic financial advice and a proven
                      track record of delivering value.
                    </p>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Single Team -->
  
  
  
        </div>
  
      </div>
    </section>
  
    <section class="ptb--100 bg-light">
      <div class="container">
        <div class="financial-advice__content">
          <div class="section-title text-left">
            <h3 class="section-title__title font--32">Equity</h3>
          </div>
          <div class="row ptb--40">
            <div class="col-xl-12 col-lg-12">
              <div class="financial-advice__single-1">
                <ul class="list-unstyled financial-advice__list-box">
                  <li>
                    <div class="financial-advice__icon">
                      <span class="icon-checkmark"></span>
                    </div>
                    <div class="financial-advice__list-box-content">
                      <h3 class="finalcial-advice__list-box-title"> Invicto Multiplier Fund – CAT II </h3>
                      <p class="finalcial-advice__list-box-text">The Fund is a Special Opportunities close-ended scheme.
                        The Fund intends to generate long-term capital appreciation through investment in equity and
                        equity-related instruments of to-be-listed or Market ready companies. Special situations are
                        unique opportunities that a business may face in its growth journey. It leads to temporary
                        disruption in its value. These Special Situations may be opportunities for those who dare to
                        foresee value proposition. </p>
                    </div>
                  </li>
                  <li>
                    <div class="financial-advice__icon">
                      <span class="icon-checkmark"></span>
                    </div>
                    <div class="financial-advice__list-box-content">
                      <h3 class="finalcial-advice__list-box-title"> Invicto Incrementum Fund – CAT III </h3>
  
  
                      <div class="finalcial-advice__list-box-text">
                        <div class="d-flex">
                          <div class="icon mr-3">
                            <span class="icon-tick"></span>
                          </div>
                          <span>The Fund is a Only Long open-ended scheme. The fund would invest in companies with strong
                            management, good scalable business, clean accounting, strong cash flow generation capabilities
                            with low leverage and a margin of safety in valuations. </span>
                        </div>
                      </div>
                      <div class="finalcial-advice__list-box-text">
                        <div class="d-flex">
                          <div class="icon mr-3">
                            <span class="icon-tick"></span>
                          </div>
                          <span> The fund would look for investing in mid/small cap companies (under researched) which can
                            give early mover advantage to generate alpha. </span>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
  
  
          </div>
  
          <div class="tema-area">
            <div class="row">
              <div class="col-lg-12">
                <div class="section-title text-center">
                  <h2 class="font--32 fontWeight600 mb--5 pb-5 wow move-up animate">
                    Equity Investment Team </h2>
                </div>
              </div>
            </div>
  
            <div class="row mt--30 justify-content-center mobile-scroll pt-5">
              <div class="col-lg-5 col-xl-4 col-md-6 col-sm-12   mt--30 wow move-up animate">
                <div class="card team-card shadow-lg">
                  <div class="card-body">
                    <div class="team team__style--1 text-center">
                      <div class="thumbnail paralax-image">
                        <img src="assets/img/team/madhusudan.png" alt="madhusudan">
  
                      </div>
                      <div class="info">
                        <h2 class="font--20"><a href="https://www.linkedin.com/in/madhusudan-sarda-7272048/" target="_blank"> MADHUSUDAN SARDA   
                          <span class="btn btn-primary btn-circle"><i class="fa fa-linkedin"></i> </span></a></h2>
  
                        <p class="lead">He has 20+ years of investing experience in the public markets with focus on
                          micro,
                          small & midcap stocks. He co-founded Vallum Capital a boutique investment manager in 2010 and
                          exited
                          in 2022, during this period AUA grew from 0 to 1000 crore. </p>
                        <p class="lead"> Prior to Vallum he was a part of Mehta Equities Ltd as Director of Research &
                          Institutional Equities. Madhu is a B.E.(Chem.Engg)
                        </p>
                      </div>
                    </div>
                  </div>
  
                </div>
              </div>
  
              <div class="col-lg-5 col-xl-4 col-md-6 col-sm-12  mt--30 wow move-up animate">
                <div class="card team-card shadow-lg">
                  <div class="card-body">
                    <div class="team team__style--1 text-center">
                      <div class="thumbnail paralax-image">
                        <img src="assets/img/team/naysar-shah.png" alt="NAYSAR SHAH">
                      </div>
                      <div class="info">
                        <h2 class="font--20"><a href="https://www.linkedin.com/in/naysar-shah-4299481b/" target="_blank"> NAYSAR SHAH <span class="btn btn-primary btn-circle"><i class="fa fa-linkedin"></i> </span></a></h2>
                        <p class="lead">Overall experience of 22 years of which 19 years is in Equity Research and Fund
                          Management. He has worked with reputed organisations like Birla Sun Life Asset Management,
                          Morgan
                          Stanley management among others. Managed funds directly for 4 years at Birla Sun Life with
                          overall
                          assets aggregating to ~ Rs 2,500 cr.</p>
                        <p class="lead">He has vast knowledge across sectors has tracked large no. of companies in mid and
                          small cap space on a bottom up basis. Naysar is a CFA® Charterholder and is also a Chartered
                          Accountant.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </section>
  
  
  
    <section class="cta-two">
      <div class="cta-two-bg" style="background-image: url(assets/img/cta-two-bg.webp)"></div>
      <div class="cta-two-bg-overly"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="cta-two__inner">
              <h2 class="cta-two__title cta-two__title-2">Want to know us more? Great! <br>We want to know you too.</h2>
              <p class="cta-two__text">We can help you stand out your business</p>
              <ul class="list-unstyled cta-two__icon-box">
                <li>
                  <a href="tel:8657023041">
                    <div class="cta-two__icon">
                      <i class="fa fa-phone"></i>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="mailto:info@credentglobal.com">
                    <div class="cta-two__icon">
                      <i class="fa fa-envelope"></i>
                    </div>
                  </a>
                </li>
  
                <li>
                  <a href="">
                    <div class="cta-two__icon">
                      <i class="fa fa-comments"></i>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  