<main class="page-content small-content">
    <div
    class="dn-breadcaump-area breadcrumb-default bg_image bg_image--2 pt--250  pb--130 pt_md--150  pb_md--100 pt_lg--150  pb_lg--100 pt_sm--150  pb_sm--100">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcrumb-content text-center">
            <h1 class="breadcrumb-content__title text-white fontWeight400">Real Estate</h1>
            <ul class="breadcrumb-content__nav text-white">
              <li><a routerLink="/home">Home</a></li>
              <li class="separator">/</li>
              <li class="active">Real Estate</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
    <div class="about-area construction-about bg-color bg-20" data-bg-color="#ffffff">
      <div class="container">
        <div class="row align-items-center  flex-column-reverse flex-md-row">
          <!-- <div class="col-lg-6 col-md-12 col-12">


            <img src="assets/img/realestate.png" alt="Realesate Investment">


          </div> -->
          <div class="col-lg-12 col-md-12 col-12">
            <div class="cons-about-inner small-content">
              <div class="section_title--2 ">
                <h2 class="title font--60 pb--30 mb--35 wow move-up">Real Estate Advisory: 
                </h2>
                <h4 class="wow move-up">Secure and Valued Investments across borders</h4> 

                <p class="pra2 wow move-up">The Global Financial Crisis in 2008 changed the way people invest in real estate. While even today, the real estate market has its loyalists, the buyers now look at it with utmost caution.</p>

                <p class="pra2 wow move-up">
                  Ampl understands! Buying land offshores can be all the more overwhelming as the rules differ from one country to another. NRIs keen on investing in India often hold back for the same reasons.</p>
                  <p class="pra2 wow move-up">Ampl provides 360 coverage for your real estate purchase, starting with documentation, hygiene check, ensuring the projects meet compliance regulations, and prospecting for your specific needs – we have you covered! </p>

                  <p class="pra2 wow move-up"> It is our due diligence and industry pioneering
                    practices that allow us to conduct global big-ticket transactions with utmost
                    confidence. Ampl provides for a hassle-free and legally seamless transaction with
                    specialists amassing over a decade of establishment in the UK as well as the Indian
                    segment. At every stage on your journey to owning the perfect place in the world,
                    Ampl assists and advises in touch with industry tends and legal frameworks. </p>
                <p class="pra2 wow move-up"> Our cross-border presence in the UK real estate market
                    and the Indian market enables us to bring to you opportunities that would otherwise
                    have been out of reach. </p>

                    <p class="pra2 wow move-up"> This has also allowed us to form sturdy alliances with
                      industry veterans, independent builders, contractors, and hence, some of the most
                      sought-after construction projects too are of easy access to our clientele. </p>

                  <p class="pra2 wow move-up">Our assortment of real estate offerings is diverse too ranging
                      from residential to commercial, private to public, budget to big-ticket REITs, and more.
                  </p>

              </div>

            </div>
          </div>

        </div>
      </div>
    </div>

  
  <section class="largest-business">
    <div class="largest-business__layer-outer">
        <div class="largest-business__layer-outer-left" style="background-image: url(assets/img/largest-business-left-bg.webp)"></div>
        <div class="largest-business__layer-outer-right" style="background-image: url(assets/img/largest-business-img.webp)"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-12">
                <div class="largest-business__left">

                    <ul class="list-unstyled largest-business__list-box">
                        <li>
                            <div class="largest-business__icon">
                                <span class="icon-checkmark"></span>
                            </div>
                            <div class="largest-business__list-box-content">

                                <p class="largest-business__list-box-text"> 
                                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
                                  <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                                </svg>
                                 30,000 UK-based NRI families have
                                    trusted Ampl .</p>
                            </div>
                        </li>
                        <li>
                            <div class="largest-business__icon">
                                <span class="icon-checkmark"></span>
                            </div>
                            <div class="largest-business__list-box-content">

                                <p class="largest-business__list-box-text"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
                                  <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                                </svg> 1 million sq.ft. sold in residential
                                    and commercial space. </p>
                            </div>
                        </li>

                        <li>
                            <div class="largest-business__icon">
                                <span class="icon-checkmark"></span>
                            </div>
                            <div class="largest-business__list-box-content">

                                <p class="largest-business__list-box-text"> <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
                                  <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                                </svg> End-to-end advisory </p>
                            </div>
                        </li>

                        <li>
                            <div class="largest-business__icon">
                                <span class="icon-checkmark"></span>
                            </div>
                            <div class="largest-business__list-box-content">

                                <p class="largest-business__list-box-text">
                                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white" style="height: 52px;">
                                  <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                                </svg> Your guide from the start to the
                                    end: Prospecting till post-transaction ease </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Start Team Area -->

<section class="cta-two">
<div class="cta-two-bg" style="background-image: url(assets/img/cta-two-bg.webp)"></div>
<div class="cta-two-bg-overly"></div>
<div class="container">
    <div class="row">
        <div class="col-xl-12">
            <div class="cta-two__inner">
                <h2 class="cta-two__title cta-two__title-2">Want to know us more? Great! <br>We want to know you too.</h2>
                <p class="cta-two__text">We can help you stand out your business</p>
                <ul class="list-unstyled cta-two__icon-box">
                    <li>
                        <a href="tel:9920056391">
                            <div class="cta-two__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="mailto:info@amplcapital.com">
                            <div class="cta-two__icon">
                                <i class="fa fa-envelope"></i>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="">
                            <div class="cta-two__icon">
                                <i class="fa fa-comments"></i>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</section>



<div class="tema-area ptb--80 ptb_lg--90 ptb_md--80 ptb_sm--80 bg-color" data-bg-color="#f9f9f9">
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="section-title text-center">
        <h2 class="font--32 fontWeight600 mb--5 wow move-up">MEET OUR TEAM</h2>
      </div>
    </div>
  </div>
</div>
<div class="row mt--150  justify-content-center">
  <!-- Start Single Team -->
  <div class="col-lg-3 col-xl-3 col-md-6 col-sm-12 mt--30 wow move-up">
    <div class="card team-card shadow-lg">
      <div class="card-body">
        <div class="team team__style--1">
          <div class="thumbnail paralax-image text-center">
            <img src="assets/img/team/mandeep.webp" alt="MANDEEP SINGH">
          </div>
        
          <div class="info">
            <h2 class="mb--0 font--20"><a href="https://www.linkedin.com/in/mandeep-singh-9a4b5116?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BQzjVa0ZnSDGQQgeM7fcH1A%3D%3D" target="_blank">MANDEEP SINGH <span class="btn btn-primary btn-circle"><i class="fa fa-linkedin"></i> </span></a></h2>
            <p class="lead pt-3">Over 2 decades of experience leading large teams across various esteemed financial advisories, Mandeep especially specializes in the UK real estate division. 
    
            </p>
          </div>
        </div>
      </div>
    </div>
   
  </div>
  <!-- End Single Team -->

  


 
</div>
</div>
<!-- End Team Area -->
  </main>