<main class="page-content small-content">
    <div class="dn-breadcaump-area breadcrumb-default bg_image bg_image--2 pt--250  pb--130 pt_md--150  pb_md--100 pt_lg--150  pb_lg--100 pt_sm--150  pb_sm--100">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 m-auto">
          <div class="breadcrumb-content text-center"> 
            <h1 class="breadcrumb-content__title text-white fontWeight400"> Board of Directors </h1>
            <p class="text-white font--18 mb-0">The Board of AMPL Capital (formerly Credent Global Finance Ltd.) is comprised of professional and highly capable individuals who have contributed their knowledge, energy and invaluable time towards achieving the organization's vision and mission.</p>
            <p class="text-white font--18 mb-0 pb-0">
               The composition of the Board of the Company is well complied with Securities and Exchange Board of India (Listing Obligations and Disclosure Requirements) Regulations, 2015
                </p>
           
          </div>
        </div>
      </div>
    </div>

  </div>
    <div class="about-area construction-about bg-color bg-20" data-bg-color="#ffffff">
      <div class="container">
        <div class="row align-items-center  flex-column-reverse flex-md-row">
           <div class="col-lg-12 col-md-12 col-12">
            <div class="cons-about-inner small-content">
             
                
                <section class="section-team">
                    <div class="container">
                        <div class="row ">
                            <div class="col-md-8 col-lg-6">
                                <div class="header-section">
                                     <h3 class="mb-0">Board of Directors </h3>
                                </div>
                            </div>
                        </div> 
                        <div class="row">
                            <!-- Start Single Person -->
                            <div class="col-sm-6 col-lg-4 col-xl-3 popover__wrapper">
                                <div class="single-person">
                                     <div class="person-info">
                                        <h3 class="full-name">Aditya Vikram Kanoria</h3>
                                        <span class="speciality">Managing Director and Chief Financial Officer</span>
                                        <div class="mt-4">
                                        <a class="btn btn-primary">Know more</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="popover__content">
                                    <h3 class="mb-0">Aditya Vikram Kanoria</h3>
                                    <p class="font--18 mb-0"> Managing Director and Chief Financial Officer </p>
                                    <p class="popover__message">With over 15 years in financial services, Aditya commands the NBFC division of Credent Global primarily, while also advising on various other fronts including real estate deals, and investment banking, among others. From the onset of his finance career, Aditya has spearheaded major campaigns and clientele for names like Motilal Oswal Financial Services and Capital First. Throughout his career, Aditya has been trusted and known to successfully deliver on all fronts be it strategizing or creating full-fledged distribution networks, handling complex big-ticket transactions to launching successful IPOs.</p>

                                    <p>With Credent’s inception, he aspires to serve the investors and entrepreneurs more closely by giving them a platform where they can club all their investment needs and place trust on results.</p>
                                   
                                  </div>
                            </div>
                           
                            <div class="col-sm-6 col-lg-4 col-xl-3 popover__wrapper">
                                <div class="single-person">
                                     <div class="person-info">
                                        <h3 class="full-name">Sulabh Jain</h3>
                                        <span class="speciality">Independent Director</span>
                                        <div class="mt-5">
                                        <a class="btn btn-primary">Know more</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="popover__content">
                                    <h3 class="mb-0">Sulabh Jain</h3>
                                    <p class="font--18 mb-0"> Independent Director </p>
                                    <p class="popover__message">He aged 27 years. He is an Associate member of Institute of Company Secretaries of India. He is a Consultant and advisor in corporate law with more than 4 years of working experience. He is also an independent director of Share India Securities Limited. He is also have experience in RERA.
                                    </p>
                                   
                                  </div>
                            </div>
                            
                            <div class="col-sm-6 col-lg-4 col-xl-3 popover__wrapper">
                                <div class="single-person">
                                    
                                    <div class="person-info">
                                        <h3 class="full-name">Shubhangi Agarwal</h3>
                                        <span class="speciality">Independent Director</span>
                                        <div class="mt-5">
                                        <a class="btn btn-primary">Know more</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="popover__content">
                                    <h3 class="mb-0"> Shubhangi Agarwal </h3>
                                    <p class="font--18 mb-0"> Independent Director </p>
                                    <p class="popover__message"> Associate member of Institute of Company Secretaries of India. She is a Consultant and advisor in corporate law with more than 6 years of working experience inclusive 2 year of corporate exposure as a company secretary in employment as well. She is involved in Legal Compliances viz. Drafting, Pleading and Appearances before various Statutory Authorities including NCLT and Quasi Judicial Authorities.</p>
                                   
                                  </div>
                            </div>
                            
                            <div class="col-sm-6 col-lg-4 col-xl-3 popover__wrapper">
                                <div class="single-person">
                                     <div class="person-info">
                                        <h3 class="full-name">Mandeep Singh</h3>
                                        <span class="speciality">Executive Director</span>
                                        <div class="mt-5">
                                        <a class="btn btn-primary">Know more</a>
                                        </div>
                                    </div>
                                </div>


                                <div class="popover__content">
                                    <h3 class="mb-0">Mandeep Singh</h3>
                                    <p class="font--18 mb-0"> Executive Director </p>
                                    <p class="popover__message"> There’s perhaps no page that Mandeep has left unturned in finance – asset management, real estate, stock broking, and more – Mandeep has played a pivotal role setting up networking and distribution models for some of India’s largest names today. Not just limited to the domestic terrain, Mandeep has years of exposure and experience with international clientele, particularly specializing in the European markets. As a result of his stint in the UK, he now commands Credent’s real estate advisory and asset management for our esteemed offshore clientele. Licensed by the Financial Conduct Authority (FCA UK) and registered as a pension fund advisor, Mandeep assist Credent’s faithful customer base in the UK with prudent real estate decisions, while also helping with insurance, investment, and more.</p> 
                                  </div>
                            </div>


                            <div class="col-sm-6 col-lg-4 col-xl-3 popover__wrapper">
                                <div class="single-person">
                                     <div class="person-info">
                                        <h3 class="full-name">Mohit K Chheda</h3>
                                        <span class="speciality">Non-Executive Director</span>
                                        <div class="mt-5">
                                        <a class="btn btn-primary">Know more</a>
                                        </div>
                                    </div>
                                </div>


                                <div class="popover__content">
                                    <h3 class="mb-0">Mohit K Chheda</h3>
                                    <p class="font--18 mb-0"> Non-Executive Director </p>
                                    <p class="popover__message"> Financial expert with a strong experience, particularly Indian Capital Markets and Indian Business. He holds a bachelor's degree in management studies with majors in finance as well as a master's degree in finance from the University of Exeter Has studied derivatives from the London School of Economics and has been instrumental in managing large family office money for over last one decade.</p> 
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-4 col-xl-3 popover__wrapper">
                                <div class="single-person">
                                     <div class="person-info">
                                        <h3 class="full-name">Navneet Kumar </h3>
                                        <span class="speciality">Independent Director</span>
                                        <div class="mt-5">
                                        <a class="btn btn-primary">Know more</a>
                                        </div>
                                    </div>
                                </div>


                                <div class="popover__content">
                                    <h3 class="mb-0">Navneet Kumar </h3>
                                    <p class="font--18 mb-0"> Independent Director </p>
                                    <p class="popover__message">Associate member of Institute of Company Secretaries of India. He is a legal and corporate advisory professional with an LLB degree and extensive experience in corporate law, regulatory compliance, and financial advisory. With a deep understanding of legal frameworks and financial structuring, He has been instrumental in providing strategic guidance to businesses across various sectors.
                                        With a strong foundation in corporate law and a strategic approach to financial advisory, he continues to support businesses in achieving their legal and financial objectives while ensuring compliance with regulatory frameworks.</p> 
                                </div>
                            </div>
                             <div class="col-sm-6 col-lg-4 col-xl-3 popover__wrapper">
                                <div class="single-person">
                                     <div class="person-info">
                                        <h3 class="full-name">Vikas Kataria </h3>
                                        <span class="speciality">Executive Director</span>
                                        <div class="mt-5">
                                        <a class="btn btn-primary">Know more</a>
                                        </div>
                                    </div>
                                </div>


                                <div class="popover__content">
                                    <h3 class="mb-0">Vikas Kataria </h3>
                                    <p class="font--18 mb-0"> Executive Director </p>
                                    <p class="popover__message">Vikas is an accomplished business leader with over 20 years of experience across public markets, manufacturing, jewelry, and financial services. His expertise spans strategic investing, corporate leadership, and operations management. He currently serves as a Director in multiple private companies, overseeing manufacturing and jewelry sector operations with a focus on growth, compliance, and governance.</p> 
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </section> 
     

                <section class="section-team pt-5">
                    <div class="container">
                        <!-- Start Header Section -->
                        <div class="row ">
                            <div class="col-md-8 col-lg-6">
                                <div class="header-section">
                                     <h3 class="mb-0">Key Managerial Personnel </h3>
                                </div>
                            </div>
                        </div> 
                        <!-- / End Header Section -->
                        <div class="row">
                            <!-- Start Single Person -->
                            <div class="col-sm-6 col-lg-4 col-xl-3 popover__wrapper">
                                <div class="single-person">
                                     <div class="person-info">
                                        <h3 class="full-name">Aditya Vikram Kanoria</h3>
                                        <span class="speciality">Managing Director and Chief Financial Officer</span>
                                        <div class="mt-4">
                                        <a class="btn btn-primary">Know more</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="popover__content">
                                    <h3 class="mb-0">Aditya Vikram Kanoria</h3>
                                    <p class="font--18 mb-0"> Managing Director and Chief Financial Officer </p>
                                    <p class="popover__message">With over 15 years in financial services, Aditya commands the NBFC division of Credent Global primarily, while also advising on various other fronts including real estate deals, and investment banking, among others. From the onset of his finance career, Aditya has spearheaded major campaigns and clientele for names like Motilal Oswal Financial Services and Capital First. Throughout his career, Aditya has been trusted and known to successfully deliver on all fronts be it strategizing or creating full-fledged distribution networks, handling complex big-ticket transactions to launching successful IPOs.</p>

                                    <p>With Credent’s inception, he aspires to serve the investors and entrepreneurs more closely by giving them a platform where they can club all their investment needs and place trust on results.</p>
                                   
                                  </div>
                            </div>
                            <!-- / End Single Person -->
                            <!-- Start Single Person -->
                            <div class="col-sm-6 col-lg-4 col-xl-3 popover__wrapper">
                                <div class="single-person">
                                     <div class="person-info">
                                        <h3 class="full-name">Preeti Sethi</h3>
                                        <span class="speciality">Company secretary and Compliance Officer</span>
                                        <div class="mt-4">
                                        <a class="btn btn-primary">Know more</a>
                                    </div>
                                    </div>
                                </div>

                                <div class="popover__content">
                                    <h3 class="mb-0">Preeti Sethi</h3>
                                    <p class="font--18 mb-0"> Company secretary and Compliance Officer </p>
                                    <p class="popover__message">
She is a Qualified Company Secretary and has experience working in Secretarial Work and Compliance-Related Work.</p> 
                                  </div>


                            </div>
                           
                        </div>
                    </div>
                </section> 

             
            </div>
          </div>

        </div>
      </div>
    </div>

  
  
 

<section class="cta-two">
<div class="cta-two-bg" style="background-image: url(assets/img/cta-two-bg.webp)"></div>
<div class="cta-two-bg-overly"></div>
<div class="container">
    <div class="row">
        <div class="col-xl-12">
            <div class="cta-two__inner">
                <h2 class="cta-two__title cta-two__title-2">Want to know us more? Great! <br>We want to know you too.</h2>
                <p class="cta-two__text">We can help you stand out your business</p>
                <ul class="list-unstyled cta-two__icon-box">
                    <li>
                        <a href="tel:9920056391">
                            <div class="cta-two__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="mailto:info@credentglobal.com">
                            <div class="cta-two__icon">
                                <i class="fa fa-envelope"></i>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="">
                            <div class="cta-two__icon">
                                <i class="fa fa-comments"></i>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</section>

 
  </main>