<section class="home-hero-slider" aria-label="Featured services">
  <div class="home-hero-track">
    <article
      *ngFor="let slide of sliderItems; let i = index"
      class="home-slide"
      [class.is-active]="i === activeSlideIndex"
      [attr.aria-hidden]="i === activeSlideIndex ? 'false' : 'true'"
    >
      <img [src]="slide.image" [alt]="slide.alt" />

      <div class="carousel-text">
        <h1 [innerHTML]="slide.title"></h1>
        <p>{{ slide.text }}</p>
        <a class="button-link button-size__lg2 button__theme-color" [routerLink]="slide.link">
          {{ slide.buttonText }}
        </a>
      </div>
    </article>
  </div>
</section>

<main class="page-content">
  <section class="section ptb--100 bg-17">
    <div class="container">
      <div class="row justify-content-between align-items-center">
        <div
          class="col-md-12 col-lg-6 col-xl-6 mb-4 mb-md-4 mb-lg-0 d-none d-xl-block d-lg-block"
        >
          <div class="aboutus-card">
            <!-- <div class="dot-shape-top position-absolute">
              <img src="assets/img/about/color-shape.svg" alt="dot" class="img-fluid">
            </div>   -->
            <img
              class="img-fluid"
              src="assets/img/about/about-1.webp"
              alt="About us"
            />

            <!-- <div class="dot-shape position-absolute bottom-0">
              <img src="assets/img/about/dot-shape.webp" alt="dot">
            </div> -->

            <!-- <div class="btn-play" data-toggle="modal" data-target="#myModal"> -->
            <!-- <a class="request-loader cursor">
            <span><i class="fa fa-play"></i></span>
          </a> -->

            <!--           
          <a href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="popup-video play-btn style2 position-center"><i class="fa fa-play"></i></a> -->
            <!-- </div> -->
          </div>
        </div>

        <div class="col-md-12 col-lg-6 col-xl-6">
          <div class="video-promo-content">
            <h2 class="">About AMPL Capital (formerly Credent Global Finance Ltd.)</h2>
            <p class="pra2">
              A trusted choice of high-performing entrepreneurs, investors, and
              economy drivers across borders.
            </p>

            <p class="pra2 pt-3 wow move-up">
              AMPL Capital is the only Indian financial services provider that has
              succeeded at bridging the borders between the UK and the Indian
              markets, be it real estate or corporate finance.
            </p>

            <p class="pra2 pt-3 wow move-up">
              With a celebrated experience and presence in the UK market too,
              AMPL crafts intelligent investment baskets for its clientele
              with assets from both the countries under one umbrella. Whether
              you’re thinking of real estate investments or equities or
              corporate finance, we have a plan for you.
            </p>

            <p class="pra2 pt-3 wow move-up">
              AMPL leverages industry stalwarts and their expertise, proven
              over 2 decades, to advise its clients on the most strategic
              financial decisions.
            </p>

            <div class="about-btn mt--55 wow move-up">
              <a
                class="button-link button-size__lg2 button__theme-color"
                routerLink="/about-us"
                ><span class="button-text button-text__15 text-dark"
                  >Read More</span
                ></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="two-boxes">
    <div class="container">
      <div class="row">
        <div class="col-xl-4 col-lg-4">
          <div class="two-boxes__single">
            <div class="two-boxes__single-content">
              <div class="two-boxes__count">
                <span></span>
              </div>
              <div class="two-boxes__content">
                <h3 class="two-boxes__title">Our Vision</h3>
                <p class="two-boxes__text">Delivering the most Trusted..</p>
                <a
                  routerLink="/about-us"
                  class="news-one__btn"
                  (click)="vision()"
                  >Read More</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4">
          <div class="two-boxes__single">
            <div class="two-boxes__single-content">
              <div class="two-boxes__count">
                <span></span>
              </div>
              <div class="two-boxes__content">
                <h3 class="two-boxes__title">Our Mission</h3>
                <p class="two-boxes__text">Fuelling Your Financial Drive</p>
                <a
                  routerLink="/about-us"
                  class="news-one__btn"
                  id="ourMission"
                  (click)="mission()"
                  >Read More</a
                >
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-4 col-lg-4">
          <div class="two-boxes__single">
            <div class="two-boxes__single-content">
              <div class="two-boxes__count">
                <span></span>
              </div>
              <div class="two-boxes__content">
                <h3 class="two-boxes__title">Our Values</h3>
                <p class="two-boxes__text">Earning Credence</p>
                <a
                  routerLink="/about-us"
                  class="news-one__btn"
                  id="ourValues"
                  (click)="values()"
                  >Read More</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="wow fadeIn ptb--50">
    <div class="container-fluid">
      <div class="section_title--2 text-center">
        <h2 class="">Our Services</h2>
        <p class="pra2 wow move-up">
          Efficiently aggregate core competencies without maintainable ideas.
          <br />Dynamically foster tactical solutions without enabled value.
        </p>
      </div>
      <div class="row mt--25">
        <div class="col-12">
          <ul class="blog-header-style1">
            <li class="md-padding-15px-bottom one-third-screen md-height-450px">
              <div
                class="blog-banner cover-background"
                style="background-image: url(assets/img/service/nbfc.webp)"
              >
                <div class="opacity-medium bg-extra-dark-gray"></div>
                <figure>
                  <figcaption>
                    <a
                      routerLink="/nbfc"
                      class="text-extra-large d-block text-white-2 alt-font margin-25px-bottom width-200px lg-width-180px md-width-100 md-margin-seven-bottom sm-width-100"
                      >NBFC (Non-Bank <br />
                      Financing Services)
                    </a>

                    <p class="text-white serDesc">
                      In our vision to become the preferred partner <br />
                      in financial inclusion we are not only providing finances
                    </p>
                    <a
                      routerLink="/nbfc"
                      class="btn btn-very-small btn-white font-weight-300"
                      >Continue Reading</a
                    >
                  </figcaption>
                </figure>
              </div>
            </li>

            <li class="md-padding-15px-bottom one-third-screen md-height-450px">
              <div
                class="blog-banner cover-background"
                style="
                  background-image: url(assets/img/service/asset-manage.webp);
                "
              >
                <div class="opacity-medium bg-extra-dark-gray"></div>
                <figure>
                  <figcaption>
                    <a
                      routerLink="/asset-management"
                      class="text-extra-large d-block text-white-2 alt-font margin-25px-bottom width-200px lg-width-180px md-width-100 md-margin-seven-bottom sm-width-100"
                    >
                      Asset <br />
                      Management</a
                    >
                    <p class="text-white serDesc">
                      We offers a wide range of carefully curated <br />
                      investment portfolios through our PMS and AIF investment
                      structures.
                    </p>
                    <a
                      routerLink="/asset-management"
                      class="btn btn-very-small btn-white font-weight-300"
                      >Continue Reading</a
                    >
                  </figcaption>
                </figure>
              </div>
            </li>

            <li class="md-padding-15px-bottom md-height-450px">
              <div
                class="blog-banner cover-background"
                style="
                  background-image: url(assets/img/service/investment-banking.webp);
                "
              >
                <div class="opacity-medium bg-extra-dark-gray"></div>
                <figure>
                  <figcaption>
                    <a
                      routerLink="/investmentbanking"
                      class="text-extra-large d-block text-white-2 alt-font margin-25px-bottom width-200px lg-width-180px md-width-100 md-margin-seven-bottom sm-width-100"
                      >Investment <br />
                      Banking</a
                    >
                    <p class="text-white serDesc">
                      Our investment banking division is a holistic <br />
                      partner to businesses of all scales and sectors, powering
                    </p>
                    <a
                      routerLink="/investmentbanking"
                      class="btn btn-very-small btn-white font-weight-300"
                      >Continue Reading</a
                    >
                  </figcaption>
                </figure>
              </div>
            </li>

            
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="news-one">
    <div class="container">
     

      <!-- <div class="row ourMedia">
        <div class="col-xl-4 col-lg-4 col-10 wow fadeInUp animated animated" data-wow-delay="0ms" data-wow-duration="1500ms">
         
          <div class="news-one__single">
            <div class="news-one__img">
              <img src="assets/img/media/foodtech01.webp" alt="Foodtech firm SaveEat raises $500,000">
              <a href="https://www.business-standard.com/article/companies/foodtech-firm-saveeat-raises-500-000-in-funding-to-expand-business-122121301105_1.html" target="_blank">
                 
              </a>
            </div>
            <div class="news-one__content">
              <ul class="list-unstyled news-one__meta">
                <li><a href="#"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                      stroke-width="1.5" stroke="currentColor" class="w-6 h-2">
                      <path stroke-linecap="round" stroke-linejoin="round"
                        d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
                    </svg>
                    By Aryaman Gupta</a>
                </li>

                <li><span> / </span></li>

                <li><a href="#"> <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                      stroke-width="1.5" stroke="currentColor" class="w-6 h-2">
                      <path stroke-linecap="round" stroke-linejoin="round"
                        d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z" />
                    </svg>
                    13 Dec, 2022
                  </a></li>
              </ul>
              <h3 class="news-one__title">
                <a href="https://www.business-standard.com/article/companies/foodtech-firm-saveeat-raises-500-000-in-funding-to-expand-business-122121301105_1.html"  target="_blank">
                  Foodtech firm SaveEat raises $500,000 in funding to expand business</a>
              </h3>
              <p class="news-one__text">SaveEat has raised $500,000 in pre-series A funding from Credent Investment Pvt Ltd, bringing the foodtech start-up’s valuation to $4 million.</p>
              
              <a href="https://www.business-standard.com/article/companies/foodtech-firm-saveeat-raises-500-000-in-funding-to-expand-business-122121301105_1.html" target="_blank" class="news-one__btn">Read More</a>
              <div class="news-one__date-box">
                <p>2022</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-10 wow fadeInUp animated animated" data-wow-delay="300ms" data-wow-duration="1500ms"
          style="visibility: visible; animation-duration: 1500ms; animation-delay: 300ms; animation-name: fadeInUp;">
         
          <div class="news-one__single">
            <div class="news-one__img">
              <img src="assets/img/media/pre-seed-round.webp" alt="FoodTech Startup SaveEat Secures $500K">
              <a href="https://bwdisrupt.businessworld.in/article/FoodTech-Startup-SaveEat-Secures-500K-In-Pre-seed-Round/13-12-2022-457833/"
                target="_blank">
                
              </a>
            </div>
            <div class="news-one__content">
              <ul class="list-unstyled news-one__meta">
                <li><a href="#"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                      stroke-width="1.5" stroke="currentColor" class="w-6 h-2">
                      <path stroke-linecap="round" stroke-linejoin="round"
                        d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
                    </svg>
                    By BW Online Bureau</a>
                </li>

                <li><span> / </span></li>

                <li><a href="#"> <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                      stroke-width="1.5" stroke="currentColor" class="w-6 h-2">
                      <path stroke-linecap="round" stroke-linejoin="round"
                        d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z" />
                    </svg>
                    13 Dec, 2022
                  </a></li>
              </ul>
              <h3 class="news-one__title">
                <a href="https://bwdisrupt.businessworld.in/article/FoodTech-Startup-SaveEat-Secures-500K-In-Pre-seed-Round/13-12-2022-457833/"
                  target="_blank"> FoodTech Startup SaveEat Secures $500K In Pre-seed Round</a>
              </h3>
              <p class="news-one__text">The valuation of SaveEat post this round stands at USD 4 million SaveEat, a homegrown food-saving app on Tuesday raises a pre-seed round of USD 500K from Credent Investment.</p>
              <a href="https://bwdisrupt.businessworld.in/article/FoodTech-Startup-SaveEat-Secures-500K-In-Pre-seed-Round/13-12-2022-457833/"
                class="news-one__btn" target="_blank"> Read More</a>
              <div class="news-one__date-box">
                <p>2022</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-10 wow fadeInUp animated animated" data-wow-delay="600ms" data-wow-duration="1500ms"
          style="visibility: visible; animation-duration: 1500ms; animation-delay: 600ms; animation-name: fadeInUp;">
         
          <div class="news-one__single">
            <div class="news-one__img">
              <img src="assets/img/media/front-view-arrangement.webp" alt="Credent Asset Management acquires 49 per cent">
              <a href="https://theprint.in/ani-press-releases/credent-asset-management-acquires-49-per-cent-stake-in-essel-finance/1253263/"
                target="_blank">
              </a>
            </div>
            <div class="news-one__content">
              <ul class="list-unstyled news-one__meta">
                <li><a href="#"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                      stroke-width="1.5" stroke="currentColor" class="w-6 h-2">
                      <path stroke-linecap="round" stroke-linejoin="round"
                        d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
                    </svg>
                    By ANI</a>
                </li>

                <li><span> / </span></li>

                <li><a href="#"> <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                      stroke-width="1.5" stroke="currentColor" class="w-6 h-2">
                      <path stroke-linecap="round" stroke-linejoin="round"
                        d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z" />
                    </svg>
                    7 Dec, 2022
                  </a></li>
              </ul>
              <h3 class="news-one__title">
                <a href="https://theprint.in/ani-press-releases/credent-asset-management-acquires-49-per-cent-stake-in-essel-finance/1253263/"
                  target="_blank"> Credent Asset Management acquires 49 per cent stake in Essel Finance</a>
              </h3>
              <p class="news-one__text"> Mumbai (Maharashtra) [India], December 7 (ANI/Vicara PR): Credent Asset Management Services Pvt Ltd.</p>
              <a href="https://theprint.in/ani-press-releases/credent-asset-management-acquires-49-per-cent-stake-in-essel-finance/1253263/"
                class="news-one__btn" target="_blank">Read More</a>
              <div class="news-one__date-box">
                <p>2022</p>
              </div>
            </div>
          </div>
        </div>
      </div> -->

      <div class="row ourMedia">
        <div
          class="col-xl-4 col-lg-4 col-md-6 mb-3"
          *ngFor="let items of article?.slice(0, 3)"
          >
          <div class="blog blog_style--1 border-none">
            <div class="thumbnail">
              <a [href]="items.url" target="_blank">
                <img class="w-100" [src]="imageUrls + items.article_image" />
              </a>
            </div>
            <div class="inner">
              <div class="category">
                <p class="underline">{{ items.category }}</p>
                <a class="bodyColor postedDate"
                  >Posted on {{ items.date_created | date : "dd MMM yyyy" }}</a
                >
              </div>
              <h3 class="mb--10 mt--5 font--24">
                <a [href]="items.url" target="_blank"> {{ items.title }} </a>
              </h3>

              <div [innerHTML]="items.description"></div>
              <ul class="meta">
                <li>By {{ items.author }}</li>
                <li>
                  Website :
                  <a [href]="items.url" target="_blank" class="text-pri"
                    ><em>{{ items.source }}</em></a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      
    </div>
  </section>
</main>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <button type="button" class="close videoClose" data-dismiss="modal">
        &times;
      </button>
      <div class="modal-body p-1">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe
            id="videoPopup"
            class="embed-responsive-item"
            src="https://www.youtube.com/embed/11wwzIgFix8"
            frameborder="0"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="introCredent">
  <diV class="card">
    <span class="introClose">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 18L18 6M6 6l12 12"
        />
      </svg>
    </span>
    <div class="card-body">
      <iframe
        id="videoPopup"
        src="https://www.youtube.com/embed/11wwzIgFix8?rel=0&amp;autoplay=1&mute=1"
        frameborder="0"
        allowfullscreen
      ></iframe>
    </div>
  </diV>
</div>


<!-- <button data-toggle="modal" data-target="#popup">popup</button> -->

<!-- <div class="modal fade webinarPopup" tabindex="-1" role="dialog" id="popup">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body p-0">
        <button type="button" class="close shadow" (click)="toggleModal()">
          <span aria-hidden="true">&times;</span>
        </button>
        <a href="https://pmsbazaar.com/Webinar">
          <img src="assets/img/webinar.jpg" alt="credent-webinar" />
        </a>
      </div>
    </div>
  </div>
</div> -->
<!--modal dialog-->
<div class="modal-backdrop" (click)="closeModal()" *ngIf="showModal">
  <div class="modal-card" (click)="$event.stopPropagation()">
    <button class="close-btn" (click)="closeModal()">×</button>
    <img src="assets/img/new-brand-banner.png" alt="Modal Content" class="modal-image" />
  </div>
</div>