<main class="page-content">
    <div
      class="dn-breadcaump-area breadcrumb-default bg_image investment-banking pt--250  pb--130 pt_md--150  pb_md--100 pt_lg--150  pb_lg--100 pt_sm--150  pb_sm--100">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="breadcrumb-content text-center">
              <h1 class="breadcrumb-content__title text-white fontWeight400">Investment Banking</h1>
              <ul class="breadcrumb-content__nav text-white">
                <li><a routerLink="/home">Home</a></li>
                <li class="separator">/</li>
                <li class="active">Investment Banking</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="about-area construction-about bg-color bg-19" data-bg-color="#ffffff">
      <div class="container">
        <div class="row align-items-center flex-column-reverse flex-md-row">
          <div class="col-lg-6 col-md-12 col-12 mt_md--40 mt_sm--40 ">
            <div class="possition-relative text-right">
              <div class="thumb wow move-up">
                <img src="assets/img/investment.webp" alt="Investment Banking">
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-12">
            <div class="cons-about-inner small-content">
              <div class="section_title--2 ">
                <h2 class="title font--60 pb--15 mb--35 wow move-up">Investment Banking</h2>
                <h4 class="wow move-up">Driven by Dreams and Outcomes</h4>

                <p class="pra2 wow move-up"> AMPL is in its nascence too, and if it weren’t for the investors and experts, we wouldn’t be among the marquee names for cross-border investments, and a secure establishment in the UK and India. Perhaps why we have always had this affinity towards other young businesses daring to change the industry dynamics and the innate need to push them to heights. 
                </p>
                <p class="pra2 wow move-up"> Our investment banking division is a holistic partner to businesses of all scales and sectors, powering them on their journey to expansion, growth, and market monopoly. We understand the multiple details that go in the making of a great business: Capital investment is just one! 
                </p>
                <p class="pra2 wow move-up">Right from raising funds to getting you the right CSR strategy, from debt syndication to finding the next exciting opportunity to tap into – AMPL has your back. 
                </p>

              </div>

            </div>
          </div>

        </div>
      </div>
    </div>


    <div class="blog-area pb--80 pt_lg--100 pb_lg--70  pt_md--80 pb_md--50 pt_sm--80  pb_sm--50 bg-color bg-17"
      data-bg-color="#f9f9f9" id="blog">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="section_title--2 text-center">
              <h2 class="title font--60 pb--20 mb--35 wow move-up animate">Our Investment Banking Services</h2>
            </div>
          </div>
        </div>
        <div class="row">

          <div class="col-lg-4 col-md-6 col-12 wow slideInLeft">
            <div class="blog blog_style--1 border-none bg-transparent left-nopadding">
              <div class="thumbnail">
               
                  <img class="w-100" src="assets/img/service/financial_assessment.webp" alt="Financial Assessment">
               
              </div>
              <div class="inner">
                <h4 class="mb--15 mt--10"> Financial Assessment
                   </h4>
                <p class="font--16 mb--30 mt--10"> With changing economic times, our financial assessments are key for
                  your business to understand the current market and make the changes necessary to stay ahead.</p>

              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-12 wow move-up">
            <div class="blog blog_style--1 border-none bg-transparent left-nopadding">
              <div class="thumbnail">
               
                  <img class="w-100" src="assets/img/service/capital-market.webp" alt="Capital Market Services">
                
              </div>
              <div class="inner">

                <h4 class="mb--15 mt--10">  Capital Market Services
                  </h4>

                <p class="font--16 mb--30 mt--10"> We take the guesswork out of investing. We have an expert research
                  team who will highlight the company's business model and performance, so you can make an informed
                  decision about where to invest your money. (Private Equity, insurance funds, HNIs, etc.)

                </p>

              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-12 wow  slideInRight">
            <div class="blog blog_style--1 border-none bg-transparent left-nopadding">
              <div class="thumbnail">
                
                  <img class="w-100" src="assets/img/service/credit-realigment.webp" alt="Credit Realigment">
               
              </div>
              <div class="inner">

                <h4 class="mb--15 mt--10"> Credit Realigment
                </h4>

                <p class="font--16 mb--30 mt--10"> We have years of experience in Debt Syndication, Debt
                  Restructuring, and Alternative Credit (Venture Debt, Structured Debt) and our services will help
                  your business get back on track.

                </p>

              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-12 wow  slideInLeft">
            <div class="blog blog_style--1 border-none bg-transparent left-nopadding">
              <div class="thumbnail">
                
                  <img class="w-100" src="assets/img/service/private-equity.webp" alt="Private Equity">
               
              </div>
              <div class="inner">

                <h4 class="mb--15 mt--10">  Private Equity </h4>

                <p class="font--16 mb--30 mt--10">Our long-standing relationships with leading global and domestic
                  players across Equity, Venture, Hedge, and Sovereign funds assist us to identify and evaluate
                  investment and exit opportunities. We will lead all aspects of execution including deal structuring
                  and negotiations.
                </p>

              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-12 wow  slideInRight">
            <div class="blog blog_style--1 border-none bg-transparent left-nopadding">
              <div class="thumbnail">
                  <img class="w-100" src="assets/img/service/ma.webp" alt="M&A">
              </div>
              <div class="inner">

                <h4 class="mb--15 mt--10"> M&A
                  </h4>
                <p class="font--16 mb--30 mt--10"> Our global presence, based in London, gives us access to investment
                  opportunities in both national and international markets. With our help, you can make sound
                  investments in promising markets and watch your finances grow. </p>

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>


    <!-- <div class="video-area bg_image bg_image--4 ptb--100 ptb_lg--100 ptb_md--80 ptb_sm--80">
      <div class="container">
        <h2 class="text-white text-center  wow move-up">Completed transactions of INR<span class="text-warning"> 500 Cr+</span> in less than __ years
        </h2>
        <div class="row align-items-center justify-content-center pt--120">
          <div class="col-lg-4 col-md-4 col-12">
            <div class="title text-center">
              <span><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-80 text-white">
                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18.75a60.07 60.07 0 0115.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 013 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 00-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 01-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 003 15h-.75M15 10.5a3 3 0 11-6 0 3 3 0 016 0zm3 0h.008v.008H18V10.5zm-12 0h.008v.008H6V10.5z" />
              </svg>
              </span>
              <h3 class="text-white letterspacing--2 wow move-up">INR 200 Crore+ raised in funds</h3>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-12">
            <div class="title text-center">
              <span><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-80 text-white">
                <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 21v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21m0 0h4.5V3.545M12.75 21h7.5V10.75M2.25 21h1.5m18 0h-18M2.25 9l4.5-1.636M18.75 3l-1.5.545m0 6.205l3 1m1.5.5l-1.5-.5M6.75 7.364V3h-3v18m3-13.636l10.5-3.819" />
              </svg>
              
              </span>
              <h3 class="text-white letterspacing--2 wow move-up">20+ successful corporate settlements </h3>
            </div>
          </div>
        </div>
      </div>
    </div> -->
 
    <section class="cta-two">
      <div class="cta-two-bg" style="background-image: url(assets/img/cta-two-bg.webp)"></div>
      <div class="cta-two-bg-overly"></div>
      <div class="container">
          <div class="row">
              <div class="col-xl-12">
                  <div class="cta-two__inner">
                      <h2 class="cta-two__title cta-two__title-2">Want to know us more? Great! <br>We want to know you too.</h2>
                      <p class="cta-two__text">We can help you stand out your business</p>
                      <ul class="list-unstyled cta-two__icon-box">
                          <li>
                              <a href="tel:9920056391">
                                  <div class="cta-two__icon">
                                      <i class="fa fa-phone"></i>
                                  </div>
                              </a>
                          </li>
                          <li>
                              <a href="mailto:info@Amplcapital.com">
                                  <div class="cta-two__icon">
                                      <i class="fa fa-envelope"></i>
                                  </div>
                              </a>
                          </li>
    
                          <li>
                              <a href="">
                                  <div class="cta-two__icon">
                                      <i class="fa fa-comments"></i>
                                  </div>
                              </a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
    </section>
<!-- Start Team Area -->
<div class="tema-area ptb--100 ptb_lg--90 ptb_md--80 ptb_sm--80 bg-color" data-bg-color="#f9f9f9">
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="section-title text-center">
        <h2 class="font--32 fontWeight600 mb--5 wow move-up">MEET OUR TEAM</h2>
      
      </div>
    </div>
  </div>
</div>
<div class="row mt--150  justify-content-center">
  <!-- Start Single Team -->
  <div class="col-lg-3 col-xl-3 col-md-6 col-sm-12 mt--30 wow move-up">
    <div class="card team-card shadow-lg">
      <div class="card-body">
    <div class="team team__style--1 text-center">
      <div class="thumbnail paralax-image">
        <img src="assets/img/team/manoj-saini.webp" alt="Manoj Saini">
       
      </div>
      <div class="info">
        <h2 class="mb--0 font--20"><a>MANOJ SAINI </a></h2>
       
        <p class="lead pt-3">Manoj comes with 20+ years of experience handling businesses and their financial needs end-to-end, commands an extensive network of India’s brightest, most ambitious, and promising brands.
        </p>
        </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Single Team -->

  <!-- Start Single Team -->
  <div class="col-lg-3 col-xl-3 col-md-6 col-sm-12 mt--30 wow move-up">
    <div class="card team-card shadow-lg">
      <div class="card-body">
    <div class="team team__style--1 text-center">
      <div class="thumbnail paralax-image">
        <img src="assets/img/team/mohith.webp" alt="Mohit chheda">
       
      </div>
      <div class="info">
        <h2 class="mb--0 font--20"><a> MOHIT CHHEDA</a></h2>

        <p class="lead pt-3">Is a financial expert with a strong financial experience, particularly financial derivatives and business structures
        </p>
      </div>
    </div>
    </div>
    </div>
  </div>
  <!-- End Single Team -->


 
</div>
</div>
<!-- End Team Area -->
  </main>