<main class="page-content">

    <div
      class="dn-breadcaump-area breadcrumb-default bg_image nbfs pt--250  pb--130 pt_md--150  pb_md--100 pt_lg--150  pb_lg--100 pt_sm--150  pb_sm--100">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="breadcrumb-content text-center text-white">
              <h1 class="breadcrumb-content__title text-white fontWeight400"> Subsidiaries Financials </h1>
              <ul class="breadcrumb-content__nav text-white">
                <li><a routerLink="/home">Home</a></li>
                <li class="separator">/</li>
                <li class="active"><a routerLink="/investmentbanking"> NBFC</a></li>
                 <li class="separator">/</li>
                <li class="active">Investor Relations</li>
                <li class="separator">/</li>
                <li class="active">Subsidiaries Financials</li>
              </ul>  
            </div>
          </div>
        </div>
      </div>

    </div>

    

         
        


                

    <div class="about-area construction-about bg-20 pt-5" data-bg-color="#ffffff">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          
                <div class="col-lg-12 col-mb-12 col-12 wow move-up">
                    <div id="faqsThree" class="faqsOne pdf-files mt--50"> 
                      <div class="row align-items-center justify-content-center">
                        <div class="col-lg-12 col-mb-12 col-12 wow move-up">
                          <h2>AMPL Asset Management Pvt. Ltd.</h2>
                        <h3>(Formerly Known as Credent Asset Management Services Private Limited)</h3>

                            <div class="card" *ngFor="let doc1 of docs1">
                              <div class="card-header" id="heading1">
                                <h5 class="mb-0">
                                    <a [href]="mediaUrlDocs1 + doc1.page+'/' + doc1.doc" target="_blank">                                    
                                    <img src="{{getFileIconFromName(doc1.doc)}}" alt="{{doc1.title}}" width="30"> {{doc1.title}}
                                  </a>
                                </h5>
                              </div>
                            </div>


                            <div class="card"  *ngFor="let items of filterCategoty">
                              <div class="card-header" id="heading11">
                                <h5 class="mb-0">
                                  <a [href]="imageUrls + items.pdf_file" target="_blank">
                                    <img src="assets/img/icons/pdf.png"> 
                                    {{items.title}}
                                  </a>
                                </h5>
                              </div> 
                            </div>  

                             
                            <div class="card">
                              <div class="card-header" id="heading11">
                                <h5 class="mb-0">
                                  <a href="/assets/img/Subsidairies Financials/CAMS/CAMS Financials 21-22.pdf" target="_blank">
                                    <img src="assets/img/icons/pdf.png"> 
                                     CAMS Financials FY21-22
                                  </a>
                                </h5>
                              </div> 
                            </div>  
                        </div>
                      </div>
                    </div>
                  </div>

                        <div class="col-lg-12 col-mb-12 col-12 wow move-up">
                    <div id="faqsThree" class="faqsOne pdf-files mt--50"> 
                      <div class="row align-items-center justify-content-center">
                        <div class="col-lg-12 col-mb-12 col-12 wow move-up">
                          <h2>AMPL Wealth Management Private Limited</h2>
                          <h3>(Formerly Known as Credent Investment Private Limited)</h3>


    <div class="card" *ngFor="let doc2 of docs2">
                              <div class="card-header" id="heading1">
                                <h5 class="mb-0">
                                    <a [href]="mediaUrlDocs2 + doc2.page+'/' + doc2.doc" target="_blank">                                    
                                    <img src="{{getFileIconFromName(doc2.doc)}}" alt="{{doc2.title}}" width="30"> {{doc2.title}}
                                  </a>
                                </h5>
                              </div>
                            </div>



                            <div class="card"  *ngFor="let items of filterCategoty">
                              <div class="card-header" id="heading11">
                                <h5 class="mb-0">
                                  <a [href]="imageUrls + items.pdf_file" target="_blank">
                                    <img src="assets/img/icons/pdf.png"> 
                                    {{items.title}}
                                  </a>
                                </h5>
                              </div> 
                            </div> 


                            <div class="card">
                              <div class="card-header" id="heading11">
                                <h5 class="mb-0">
                                  <a href="/assets/img/Subsidairies Financials/CIPL/CIPL Financials 23-24.pdf" target="_blank">
                                    <img src="assets/img/icons/pdf.png"> 
                                    CIPL Financials FY23-24
                                  </a>
                                </h5>
                              </div> 
                            </div>  
                            <div class="card">
                              <div class="card-header" id="heading11">
                                <h5 class="mb-0">
                                  <a href="/assets/img/Subsidairies Financials/CIPL/CIPL Financials 22-23.pdf" target="_blank">
                                    <img src="assets/img/icons/pdf.png"> 
                                    CIPL Financials FY22-23
                                  </a>
                                </h5>
                              </div> 
                            </div>  

                            <div class="card">
                              <div class="card-header" id="heading11">
                                <h5 class="mb-0">
                                  <a href="/assets/img/Subsidairies Financials/CIPL/CIPL Financials 21-22.pdf" target="_blank">
                                    <img src="assets/img/icons/pdf.png"> 
                                    CIPL Financials FY21-22
                                  </a>
                                </h5>
                              </div> 
                            </div>  
                        </div>
                      </div>
                    </div>
                  </div>

                        <div class="col-lg-12 col-mb-12 col-12 wow move-up">
                    <div id="faqsThree" class="faqsOne pdf-files mt--50"> 
                      <div class="row align-items-center justify-content-center">
                        <div class="col-lg-12 col-mb-12 col-12 wow move-up">
                          
                          
                          <h2>AMPL Capital Advisors Private Limited</h2>
                          <h3>(Formerly Known as Credent Property Advisory Private Limited)</h3>
                            <div class="card" *ngFor="let doc3 of docs3">
                              <div class="card-header" id="heading1">
                                <h5 class="mb-0">
                                    <a [href]="mediaUrlDocs3 + doc3.page+'/' + doc3.doc" target="_blank">                                    
                                    <img src="{{getFileIconFromName(doc3.doc)}}" alt="{{doc3.title}}" width="30"> {{doc3.title}}
                                  </a>
                                </h5>
                              </div>
                            </div>
                            <div class="card"  *ngFor="let items of filterCategoty">
                              <div class="card-header" id="heading11">
                                <h5 class="mb-0">
                                  <a [href]="imageUrls + items.pdf_file" target="_blank">
                                    <img src="assets/img/icons/pdf.png"> 
                                    {{items.title}}
                                  </a>
                                </h5>
                              </div> 
                            </div> 

                            <div class="card">
                              <div class="card-header" id="heading11">
                                <h5 class="mb-0">
                                  <a href="/assets/img/Subsidairies Financials/CPAPL/CPA Financial for the FY 2023-24.pdf" target="_blank">
                                    <img src="assets/img/icons/pdf.png"> 
                                    CPAPL Financials FY23-24
                                  </a>
                                </h5>
                              </div> 
                            </div>  

                            <div class="card">
                              <div class="card-header" id="heading11">
                                <h5 class="mb-0">
                                  <a href="/assets/img/Subsidairies Financials/CPAPL/CPAPL_Financial_FY22-23.pdf" target="_blank">
                                    <img src="assets/img/icons/pdf.png"> 
                                    CPAPL Financials FY22-23
                                  </a>
                                </h5>
                              </div> 
                            </div> 


                            <div class="card">
                              <div class="card-header" id="heading11">
                                <h5 class="mb-0">
                                  <a href="/assets/img/Subsidairies Financials/CPAPL/Final Financials of CPA for the fy 2021-22.pdf" target="_blank">
                                    <img src="assets/img/icons/pdf.png"> 
                                    CPAPL Financials FY21-22
                                  </a>
                                </h5>
                              </div> 
                            </div>  

                             
                        </div>
                      </div>
                    </div>
                  </div>
        </div>
      </div>
    </div> 
  </main>